Repository navikt/nav-enonicxp-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix, cd packages/shared && npm run lint:fix, cd packages/shared && npm run prettier:fix, prettier --write

.lintstagedrc.json:

{
    "packages/nextjs/**/*.{js,jsx,ts,tsx}": [
        "cd packages/nextjs && npm run lint:fix",
        "cd packages/nextjs && npm run prettier:fix"
    ],
    "packages/server/**/*.{js,ts}": [
        "cd packages/server && npm run lint:fix",
        "cd packages/server && npm run prettier:fix"
    ],
    "packages/shared/**/*.{js,ts}": [
        "cd packages/shared && npm run lint:fix",
        "cd packages/shared && npm run prettier:fix"
    ],
    "**/*.{json,md,yml,yaml}": ["prettier --write"]
}

Legger til node_auth_token fir deploy steg.
  .github/actions/build-image/action.yml
Due: prettier --write

Legger til NODE_AUTH_TOKEN i visual changes build
  .github/workflows/visual-changes-bot.yml
Due: prettier --write

Inject token into container for visual-changes-bot
  .github/workflows/visual-changes-bot.yml
Due: prettier --write

Oppdatere til TypeScript 6 (#2874)
  .github/actions/build-image/action.yml
  .github/workflows/visual-changes-bot.yml
  package.json
  packages/nextjs/next-env.d.ts
  packages/nextjs/src/types/scss.d.ts
  packages/nextjs/tsconfig.json
  packages/server/tsconfig.json
  packages/shared/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, prettier --write

Etablerer dev3 i env, workflows og nais (#2885)
  .failover/.env-dev3
  .github/workflows/deploy.dev3.yml
  .nais/hpa/hpa-dev3.yml
  .nais/vars/vars-dev3-failover.yml
  .nais/vars/vars-dev3.yml
Due: prettier --write

Videresende til innhold via innholdsobjekt
  packages/nextjs/src/types/component-props/_mixins.ts
  packages/nextjs/src/utils/redirects.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

externalHosts uten protocol
  .nais/vars/vars-dev3-failover.yml
  .nais/vars/vars-dev3.yml
Due: prettier --write

externalHosts uten protocol (#2893)
  .nais/vars/vars-dev3-failover.yml
  .nais/vars/vars-dev3.yml
Due: prettier --write

Deploy failover til dev3
  .github/workflows/deploy-failover.dev.yml
Due: prettier --write

Deploy failover til dev3 (#2897)
  .github/workflows/deploy-failover.dev.yml
Due: prettier --write

Deploy failover til dev3 - part 2
  .failover/build-dev-failover-image.sh
Due: none

Oppdatere til eslint 10
  eslint.config.mjs
  package.json
  packages/nextjs/eslint.config.mjs
  packages/nextjs/src/components/pages/office-page/office-page-header/OfficePageHeader.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, prettier --write

Videresende til innhold via innholdsobjekt (#2894)
  packages/nextjs/src/types/component-props/_mixins.ts
  packages/nextjs/src/utils/redirects.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Oppdaterer playwright-versjon i workflow
  .github/workflows/visual-changes-bot.yml
Due: prettier --write

Sjekker om CI og dropper husky i såfall
  package.json
Due: prettier --write

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-card-minicardv2--hover-mobile-linux-mobile-linux.png
Due: none

Erstatt Alert med InfoCard.Message i VarselboksPart
  packages/nextjs/src/components/parts/varselboks/VarselboksPart.module.scss
  packages/nextjs/src/components/parts/varselboks/VarselboksPart.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Replace VarselboksPart with InfokortPart and update related types
  packages/nextjs/src/components/parts/PartsMapper.tsx
  packages/nextjs/src/components/parts/varselboks/InfokortPart.module.scss
  packages/nextjs/src/components/parts/varselboks/InfokortPart.tsx
  packages/nextjs/src/types/component-props/parts.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

fjern margin fra VarselboksPart
  packages/nextjs/src/components/parts/varselboks/VarselboksPart.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Refactor macro types: replace Varselboks with Infokort across components and types
  packages/nextjs/src/components/_common/parsedHtml/ParsedHtml.tsx
  packages/nextjs/src/components/_common/trekkspill/Trekkspill.stories.ts
  packages/nextjs/src/components/macros/MacroMapper.tsx
  packages/nextjs/src/components/macros/varselboks/MacroVarselboks.tsx
  packages/nextjs/src/types/macro-props/_macros-common.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Refactor MacroVarselboks and InfokortPart to use Infokort component, removing InfoCard usage
  packages/nextjs/src/components/_common/infokort/Infokort.module.scss
  packages/nextjs/src/components/_common/infokort/Infokort.tsx
  packages/nextjs/src/components/macros/varselboks/MacroVarselboks.tsx
  packages/nextjs/src/components/parts/varselboks/InfokortPart.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Refactor MacroVarselboks to MacroInfokort, updating types and component usage
  packages/nextjs/src/components/macros/MacroMapper.tsx
  packages/nextjs/src/components/macros/varselboks/MacroVarselboks.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Refactor MacroVarselboks to use InfoCard instead of Varselboks and remove unused props
  packages/nextjs/src/components/macros/varselboks/MacroVarselboks.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

fiks bakgrunnsfarge
  packages/nextjs/src/components/_common/infokort/Infokort.module.scss
Due: none

fix: correct import path for MacroInfokort component
  packages/nextjs/src/components/macros/MacroMapper.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

rename filen
  packages/nextjs/src/components/macros/varselboks/MacroInfokort.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

legg tilbake default margin på infokort
  packages/nextjs/src/components/_common/infokort/Infokort.module.scss
Due: none

remove: delete InfokortPart.module.scss file
  packages/nextjs/src/components/parts/varselboks/InfokortPart.module.scss
Due: none

fix: correct selector for last child margin in Infokort styles
  packages/nextjs/src/components/_common/infokort/Infokort.module.scss
Due: none

refactor: remove unused MacroType import and associated name property from MacroInfokortProps
  packages/nextjs/src/components/macros/varselboks/MacroInfokort.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Revert "fix: correct selector for last child margin in Infokort styles"
  packages/nextjs/src/components/_common/infokort/Infokort.module.scss
Due: none

oversettelse av mappe- og filnavn
  packages/nextjs/src/components/FragmentComponent.tsx
  packages/nextjs/src/components/_editor-only/EditorWidgets.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/Redaktorvarsler.module.scss
  packages/nextjs/src/components/_editor-only/redaktorvarsler/Redaktorvarsler.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/duplikate-ider/DuplicateIds.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/duplikate-ider/DuplicateIdsWarning.module.scss
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/duplikate-ider/DuplicateIdsWarning.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/fragment-utenfor-innholdsseksjon/FragmentUtenforInnholdsseksjon.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/fragment-utenfor-innholdsseksjon/pageContentFragmentUtenforInnholdsseksjon.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/html-area-div/HtmlAreaDiv.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/html-area-div/htmlAreaContainsDiv.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/html-area-utenfor-innholdsseksjon/HtmlAreaUtenforInnholdsseksjon.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/html-area-utenfor-innholdsseksjon/pageContentHtmlAreaUtenforInnholdsseksjon.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/kontaktinformasjon/KontaktinformasjonWarning.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/kort-url-varsel/KortUrlWarning.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/kort-url/KortUrlWarning.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/skjemanummer-varsel/FormNumbersWarning.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/skjemanummer/FormNumbersWarning.tsx
  packages/nextjs/src/components/parts/html-area/HtmlAreaPart.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

oversetting til norsk og la til funksjonalitet for redaktørvarsel
  packages/nextjs/src/components/FragmentComponent.tsx
  packages/nextjs/src/components/_common/expandable/Expandable.tsx
  packages/nextjs/src/components/_common/parsedHtml/ParsedHtml.tsx
  packages/nextjs/src/components/_common/trekkspill/Trekkspill.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/Redaktorvarsler.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/erGodkjentSide.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/harRedaktorFeil.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/duplikate-ider/DuplicateIds.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/duplikate-ider/DuplikateIder.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/duplikate-ider/DuplikateIderVarsel.module.scss
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/duplikate-ider/DuplikateIderVarsel.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/formatert-innhold-utenfor-innholdsseksjon/FormatertInnholdUtenforInnholdsseksjon.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/formatert-innhold-utenfor-innholdsseksjon/pageContentFormatertInnholdUtenforInnholdsseksjon.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/html-area-div/HtmlAreaDiv.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/html-area-div/htmlAreaInneholderDiv.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/kontaktinformasjon/KontaktinformasjonVarsel.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/kort-url-varsel/KortUrlWarning.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/kort-url/KortUrlVarsel.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/skjemanummer-varsel/FormNumbersWarning.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/skjemanummer/SkjemanummerVarsel.tsx
  packages/nextjs/src/components/parts/html-area/HtmlAreaPart.tsx
  packages/nextjs/src/store/hooks/useCheckAndOpenTrekkspillPanel.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Justerer kommentarer for dev3 for failover
  .failover/build-dev-failover-image.sh
  package.json
Due: prettier --write

Legger til dev3 i envMap
  packages/nextjs/nodeenv.d.ts
  packages/server/nodeenv.d.ts
  packages/shared/nodeenv.d.ts
  packages/shared/src/decorator-utils-serverside.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix, cd packages/shared && npm run lint:fix, cd packages/shared && npm run prettier:fix

Øker minnegrense i prod
  .nais/vars/vars-prod.yml
Due: prettier --write

Øker minnegrense i prod (#2913)
  .nais/vars/vars-prod.yml
Due: prettier --write
