Repository navikt/nav-enonicxp-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix, cd packages/shared && npm run lint:fix, cd packages/shared && npm run prettier:fix, prettier --write

fjern overflødig flex
  packages/nextjs/src/components/_common/expandable/Expandable.module.scss
Due: none

fjern negativ margin-hack introdusert ved oppgradering til Aksel v8
  packages/nextjs/src/components/_common/expandable/Expandable.module.scss
Due: none

margin på chevron når ikke ikon
  packages/nextjs/src/components/_common/expandable/Expandable.module.scss
Due: none

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-expandable--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-expandable--is-open-mobile-linux-mobile-linux.png
Due: none

reintroduser kommentar
  packages/nextjs/src/components/_common/expandable/Expandable.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

typos
  packages/nextjs/src/components/_common/expandable/Expandable.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

reintroduser padding-left på legacy
  packages/nextjs/src/components/_common/expandable/Expandable.module.scss
Due: none

flex-shrink: 0 på ikon, har effekt på mobil
  packages/nextjs/src/components/_common/expandable/Expandable.module.scss
Due: none

fjern ikon og overstyring av chevron-plassering
  packages/nextjs/src/components/_common/expandable/Expandable.module.scss
  packages/nextjs/src/components/_common/expandable/Expandable.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-expandable--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-expandable--documentation-requirements-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-expandable--is-open-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-expandable--payout-dates-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-expandable--processing-times-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-expandable--rates-mobile-linux-mobile-linux.png
Due: none

reintroduser kommentar som copilot slettet
  packages/nextjs/src/components/_common/expandable/Expandable.module.scss
Due: none

rydd i stories
  packages/nextjs/src/components/_common/expandable/Expandable.stories.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

reorder stories
  packages/nextjs/src/components/_common/expandable/Expandable.stories.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-expandable--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-expandable--documentation-requirements-desktop-linux-desktop-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-expandable--documentation-requirements-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-expandable--legacy-usage-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-expandable--payout-dates-desktop-linux-desktop-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-expandable--payout-dates-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-expandable--processing-times-desktop-linux-desktop-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-expandable--processing-times-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-expandable--rates-desktop-linux-desktop-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-expandable--rates-mobile-linux-mobile-linux.png
Due: none

rydd mer i stories
  packages/nextjs/src/components/_common/expandable/Expandable.stories.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-expandable--is-open-mobile-linux-mobile-linux.png
Due: none

Bytt ut ExpansionCard med ReadMore i Expandable (#2872)
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-expandable--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-expandable--documentation-requirements-desktop-linux-desktop-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-expandable--documentation-requirements-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-expandable--is-open-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-expandable--legacy-usage-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-expandable--payout-dates-desktop-linux-desktop-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-expandable--payout-dates-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-expandable--processing-times-desktop-linux-desktop-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-expandable--processing-times-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-expandable--rates-desktop-linux-desktop-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-expandable--rates-mobile-linux-mobile-linux.png
  packages/nextjs/src/components/_common/expandable/Expandable.module.scss
  packages/nextjs/src/components/_common/expandable/Expandable.stories.tsx
  packages/nextjs/src/components/_common/expandable/Expandable.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Fikser config-filer etter oppdatering
  packages/nextjs/next-env.d.ts
  packages/nextjs/tsconfig.json
  packages/server/tsconfig.json
  packages/shared/tsconfig.json
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, prettier --write

Manually sync lock file
  pnpm-lock.yaml
Due: prettier --write

Legger til ignoreDeprecations
  packages/nextjs/tsconfig.json
  packages/server/tsconfig.json
  packages/shared/tsconfig.json
Due: prettier --write

Legger til egen module declaration for scss fordi ts6
  packages/nextjs/src/types/scss.d.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Oppdaterer lock-fil
  pnpm-lock.yaml
Due: prettier --write

Add file pattern for updated screenshots in visual changes bot
  .github/workflows/visual-changes-bot.yml
Due: prettier --write

testendring
  packages/nextjs/src/components/_common/card/MiniCardV2/MiniCardV2.stories.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

test med kun *.png
  .github/workflows/visual-changes-bot.yml
Due: prettier --write

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-card-minicardv2--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-card-minicardv2--hover-mobile-linux-mobile-linux.png
Due: none

Revert "testendring"
  packages/nextjs/src/components/_common/card/MiniCardV2/MiniCardV2.stories.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Legg til retries og reduser workers for mer stabil Playwright-kjøring i CI
  playwright.config.ts
Due: none

Revert "Update screenshots"
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-card-minicardv2--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-card-minicardv2--hover-mobile-linux-mobile-linux.png
Due: none

regenerer screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-card-minicardv2--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-card-minicardv2--hover-mobile-linux-mobile-linux.png
Due: none

Visual Changes Bot commit kun screenshots (#2877)
  .github/workflows/visual-changes-bot.yml
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-card-minicardv2--default-mobile-linux-mobile-linux.png
  playwright.config.ts
Due: prettier --write

Oppdaterer pnpm-lock
  pnpm-lock.yaml
Due: prettier --write

Etablerer dev3 i env, workflows og nais
  .failover/.env-dev3
  .github/workflows/deploy.dev3.yml
  .nais/hpa/hpa-dev3.yml
  .nais/vars/vars-dev3-failover.yml
  .nais/vars/vars-dev3.yml
Due: prettier --write

bump pnpm
  .github/workflows/deploy-storybook.yml
  .npmrc
  package.json
  pnpm-workspace.yaml
Due: prettier --write

pinnet sha til action-setup
  .github/workflows/deploy-storybook.yml
Due: prettier --write

bump pnpm til v11 (#2886)
  .github/workflows/deploy-storybook.yml
  .npmrc
  package.json
  pnpm-workspace.yaml
Due: prettier --write

Fix error after merge conflict
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

Path conditions:
  cd packages/nextjs && npm run lint:fix: any of: packages/nextjs/**/*.{js,jsx,ts,tsx}
  cd packages/nextjs && npm run prettier:fix: any of: packages/nextjs/**/*.{js,jsx,ts,tsx}
  cd packages/server && npm run lint:fix: any of: packages/server/**/*.{js,ts}
  cd packages/server && npm run prettier:fix: any of: packages/server/**/*.{js,ts}
  cd packages/shared && npm run lint:fix: any of: packages/shared/**/*.{js,ts}
  cd packages/shared && npm run prettier:fix: any of: packages/shared/**/*.{js,ts}
  prettier --write: any of: **/*.{json,md,yml,yaml}
