Repository navikt/nav-enonicxp-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix, cd packages/shared && npm run lint:fix, cd packages/shared && npm run prettier:fix, prettier --write

Legger til 'current-topic-page' i listen over godkjente sider
  packages/nextjs/src/components/_editor-only/global-warnings/Redaktorvarsler.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Ikke vis innholdsseksjon-varsler for current-topic-page
  packages/nextjs/src/components/_editor-only/global-warnings/Redaktorvarsler.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Skru av innholdsseksjon-varsler for current-topic-page
  packages/nextjs/src/components/_editor-only/global-warnings/Redaktorvarsler.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

:art: Flyttet sjekker til inni komponentene
  packages/nextjs/src/components/_editor-only/global-warnings/Redaktorvarsler.tsx
  packages/nextjs/src/components/_editor-only/global-warnings/warnings/fragment-utenfor-innholdsseksjon/FragmentUtenforInnholdsseksjon.tsx
  packages/nextjs/src/components/_editor-only/global-warnings/warnings/html-area-utenfor-innholdsseksjon/HtmlAreaUtenforInnholdsseksjon.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

strict equality, siden det er brukt ellers i kodebasen
  packages/nextjs/src/components/_editor-only/global-warnings/warnings/fragment-utenfor-innholdsseksjon/FragmentUtenforInnholdsseksjon.tsx
  packages/nextjs/src/components/_editor-only/global-warnings/warnings/html-area-utenfor-innholdsseksjon/HtmlAreaUtenforInnholdsseksjon.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Legg til redaktørvarsler på Aktuelt-sider (#2755)
  packages/nextjs/src/components/_editor-only/global-warnings/Redaktorvarsler.tsx
  packages/nextjs/src/components/_editor-only/global-warnings/warnings/fragment-utenfor-innholdsseksjon/FragmentUtenforInnholdsseksjon.tsx
  packages/nextjs/src/components/_editor-only/global-warnings/warnings/html-area-utenfor-innholdsseksjon/HtmlAreaUtenforInnholdsseksjon.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Håndterer editorvisning for situasjonsside ved å rendre komponenter innenfor sin region
  packages/nextjs/src/components/pages/situationPage/SituationPage.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Trigge next error page
  packages/server/src/req-handlers/path-validation-middleware.test.ts
  packages/server/src/req-handlers/path-validation-middleware.ts
  packages/server/src/server.ts
Due: cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix

Feil fra path-validation vil hoppe over kall mot failover og logging i _error.tsx
  package-lock.json
  packages/nextjs/src/pages/_error.tsx
  packages/server/src/req-handlers/path-validation-middleware.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix, prettier --write

Flagg for at Bad request er håndtert kan ikke settes under testing
  packages/server/src/req-handlers/path-validation-middleware.test.ts
  packages/server/src/req-handlers/path-validation-middleware.ts
Due: cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix

Refaktor (CodeQL)
  packages/server/src/req-handlers/path-validation-middleware.test.ts
Due: cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix

Bad request håndteres i standard Error handler (#2756)
  package-lock.json
  packages/nextjs/src/pages/_error.tsx
  packages/server/src/req-handlers/path-validation-middleware.test.ts
  packages/server/src/req-handlers/path-validation-middleware.ts
  packages/server/src/server.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix, prettier --write

Legg til margin for kontaktmodul i editor-mode på situasjonsside
  packages/nextjs/src/components/pages/situationPage/SituationPage.module.scss
Due: none

kommentar
  packages/nextjs/src/components/pages/situationPage/SituationPage.module.scss
Due: none

kommentar
  packages/nextjs/src/components/pages/situationPage/SituationPage.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

:whale: chainguard baseimages
  Dockerfile
Due: none

sjekk at faktisk kontaktmodul
  packages/nextjs/src/components/pages/situationPage/SituationPage.module.scss
Due: none

fikset team på hpa-dev1.yml
  .nais/hpa/hpa-dev1.yml
Due: prettier --write

fikset valkey.yml
  .nais/valkey.yml
Due: prettier --write

Fiks mulighet for å endre kontaktinfo på situasjonsside (#2760)
  packages/nextjs/src/components/pages/situationPage/SituationPage.module.scss
  packages/nextjs/src/components/pages/situationPage/SituationPage.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

debug
  .nais/hpa/hpa-dev1.yml
  Dockerfile
Due: prettier --write

fixed dockerfile.failover
  .failover/Dockerfile.failover
Due: none

opprydding i .yaml-filer
  .github/workflows/build-and-test.yml
  .github/workflows/build-image.yml
  .github/workflows/deploy-alerts.yml
  .github/workflows/deploy-storybook.yml
  .github/workflows/deploy-to-nais.yml
  .github/workflows/deploy.prod.yml
  .github/workflows/visual-changes-bot.yml
  .nais/config.yml
Due: prettier --write

chainguard
  Dockerfile
Due: none

Migrerer fra npm til pnpm
  .failover/Dockerfile.failover
  .failover/build-dev-failover-image.sh
  .github/copilot-instructions.md
  .github/workflows/build-and-test.yml
  .github/workflows/build-image.yml
  .github/workflows/deploy-storybook.yml
  .github/workflows/visual-changes-bot.yml
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc.json
  .npmrc
  Dockerfile
  README.md
  package-lock.json
  package.json
  packages/nextjs/.husky/pre-commit
  packages/nextjs/next-env.d.ts
  packages/nextjs/package.json
  packages/server/.husky/pre-commit
  packages/server/package.json
  packages/shared/.husky/pre-commit
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, prettier --write

load env properly
  Dockerfile
Due: none

fix: chainguard compat in failover dockerfile
  .failover/Dockerfile.failover
Due: none

Flytter avhengigheter til catalog
  .npmrc
  package.json
  packages/nextjs/package.json
  packages/server/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

Attempt 'pnpm deploy --legacy
  .github/workflows/build-image.yml
  .gitignore
  Dockerfile
  packages/server/package.json
  pnpm-lock.yaml
Due: prettier --write

Legger til kopiering av env til rot
  Dockerfile
Due: none

Forsøker p merge node_modules
  Dockerfile
Due: none

Fikser feil i Playwright-kjøring
  .github/workflows/visual-changes-bot.yml
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

Enable corepack
  .github/workflows/visual-changes-bot.yml
Due: prettier --write

Fjerner unødvendige committed screenshots
  packages/nextjs/public/screenshot.spec.ts-snapshots/components-common-formintermediatesteplink--with-explanation-and-form-number-mobile-linux-mobile-linux.png
  packages/nextjs/public/screenshot.spec.ts-snapshots/components-common-formintermediatesteplink--with-explanation-and-language-disclaimer-mobile-linux-mobile-linux.png
  packages/nextjs/public/screenshot.spec.ts-snapshots/components-common-formintermediatesteplink--with-explanation-mobile-linux-mobile-linux.png
  packages/nextjs/public/screenshot.spec.ts-snapshots/components-common-formintermediatesteplink--with-form-number-mobile-linux-mobile-linux.png
  packages/nextjs/public/screenshot.spec.ts-snapshots/components-common-frontpagecard--employer-mobile-linux-mobile-linux.png
  packages/nextjs/public/screenshot.spec.ts-snapshots/components-common-frontpagecard--person-mobile-linux-mobile-linux.png
  packages/nextjs/public/screenshot.spec.ts-snapshots/components-common-frontpagecard--provider-mobile-linux-mobile-linux.png
  packages/nextjs/public/screenshot.spec.ts-snapshots/components-common-headers-generalpageheader--default-mobile-linux-mobile-linux.png
  packages/nextjs/public/screenshot.spec.ts-snapshots/components-common-headers-generalpageheader-generalpageheadertagline--employer-mobile-linux-mobile-linux.png
  packages/nextjs/public/screenshot.spec.ts-snapshots/components-common-lenkepanel-legacy-lenkepanelnavno--default-mobile-linux-mobile-linux.png
  packages/nextjs/public/screenshot.spec.ts-snapshots/components-common-lenkepanel-legacy-lenkepanelnavno--separator-mobile-linux-mobile-linux.png
  packages/nextjs/public/screenshot.spec.ts-snapshots/components-common-lenkepanel-legacy-lenkepanelnavno--vertikal-mobile-linux-mobile-linux.png
  packages/nextjs/public/screenshot.spec.ts-snapshots/components-common-lenkepanel-legacy-lenkepanelnavno--vertikal-separator-mobile-linux-mobile-linux.png
  packages/nextjs/public/screenshot.spec.ts-snapshots/components-common-lenkepanelliste--default-mobile-linux-mobile-linux.png
  packages/nextjs/public/screenshot.spec.ts-snapshots/components-common-pagenavigationmenu--primary-mobile-linux-mobile-linux.png
  packages/nextjs/public/screenshot.spec.ts-snapshots/components-common-pagenavigationmenu-sectionnavigation--default-mobile-linux-mobile-linux.png
  packages/nextjs/public/screenshot.spec.ts-snapshots/components-common-relatedsituations--default-mobile-linux-mobile-linux.png
  packages/nextjs/public/screenshot.spec.ts-snapshots/components-common-trekkspill--default-mobile-linux-mobile-linux.png
  packages/nextjs/public/screenshot.spec.ts-snapshots/components-common-uxsignalswidget--primary-mobile-linux-mobile-linux.png
  packages/nextjs/public/screenshot.spec.ts-snapshots/components-pages-contactsteppage--default-mobile-linux-mobile-linux.png
  packages/nextjs/public/screenshot.spec.ts-snapshots/components-pages-formintermediatesteppage--landing-page-mobile-linux-mobile-linux.png
  packages/nextjs/public/screenshot.spec.ts-snapshots/components-pages-formintermediatesteppage--step-mobile-linux-mobile-linux.png
  packages/nextjs/public/screenshot.spec.ts-snapshots/components-pages-office-page-officedetails-officeinformation--open-mobile-linux-mobile-linux.png
  packages/nextjs/public/screenshot.spec.ts-snapshots/components-pages-situationpage--default-mobile-linux-mobile-linux.png
  packages/nextjs/public/screenshot.spec.ts-snapshots/components-parts-situasjonskort-situasjonskortpart--disabled-mobile-linux-mobile-linux.png
Due: none

Holder lint-staged i package.json
  .lintstagedrc.json
  .npmrc
  package.json
Due: prettier --write

Path conditions:
  cd packages/nextjs && npm run lint:fix: any of: packages/nextjs/**/*.{js,jsx,ts,tsx}
  cd packages/nextjs && npm run prettier:fix: any of: packages/nextjs/**/*.{js,jsx,ts,tsx}
  cd packages/server && npm run lint:fix: any of: packages/server/**/*.{js,ts}
  cd packages/server && npm run prettier:fix: any of: packages/server/**/*.{js,ts}
  cd packages/shared && npm run lint:fix: any of: packages/shared/**/*.{js,ts}
  cd packages/shared && npm run prettier:fix: any of: packages/shared/**/*.{js,ts}
  prettier --write: any of: **/*.{json,md,yml,yaml}
