Repository navikt/nav-enonicxp-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix, cd packages/shared && npm run lint:fix, cd packages/shared && npm run prettier:fix, prettier --write

Fjerner duplikat regex og gjør shell commands mindre generell
  packages/server/src/req-handlers/path-validation-middleware.test.ts
  packages/server/src/req-handlers/path-validation-middleware.ts
Due: cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix

Sjekk lengde først + double encoding sjekk
  packages/server/src/req-handlers/path-validation-middleware.test.ts
  packages/server/src/req-handlers/path-validation-middleware.ts
Due: cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix

Bump @navikt/nav-office-reception-info to version 1.4.7
  package-lock.json
  packages/nextjs/package.json
Due: prettier --write

Bump @navikt/nav-office-reception-info to version 1.4.7 (#2720)
  package-lock.json
  packages/nextjs/package.json
Due: prettier --write

Samme spacing som mellom avsnit
  packages/nextjs/src/components/_common/uxsignalsWidget/UxSignalsWidget.module.scss
Due: none

Spesialregel for ux-signals i toppen
  packages/nextjs/src/components/_common/uxsignalsWidget/UxSignalsWidget.module.scss
Due: none

Update MellomstegLayout.tsx
  packages/nextjs/src/components/layouts/mellomsteg/MellomstegLayout.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Luft rundt UX Signals widget (#2721)
  packages/nextjs/src/components/_common/uxsignalsWidget/UxSignalsWidget.module.scss
Due: none

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-contactsteppage--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-formintermediatesteppage--landing-page-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-formintermediatesteppage--step-mobile-linux-mobile-linux.png
Due: none

Filtrer bort tomme h3-lenker i DynamicDesktopNavigation
  packages/nextjs/src/components/_common/pageNavigationMenu/DynamicDesktopNavigation/DynamicDesktopNavigation.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Filtrer bort tomme h3-lenker i DynamicDesktopNavigation (#2724)
  packages/nextjs/src/components/_common/pageNavigationMenu/DynamicDesktopNavigation/DynamicDesktopNavigation.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Add language prop to MiniCardV2 and related components
  packages/nextjs/src/components/_common/card/MiniCardV2/MiniCardV2.tsx
  packages/nextjs/src/components/_common/card/card-utils.ts
  packages/nextjs/src/components/_common/relatedSituations/RelatedSituations.tsx
  packages/nextjs/src/components/macros/product-card-mini/MacroProductCardMini.tsx
  packages/nextjs/src/components/parts/product-card-mini/ProductCardMiniPart.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Add language prop to LargeCard and MicroCard components
  packages/nextjs/src/components/_common/card/LargeCard/LargeCard.tsx
  packages/nextjs/src/components/_common/card/MicroCard/MicroCard.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

unngå å sette lang på tagline, som er på samme språk som siden man er på
  packages/nextjs/src/components/_common/card/LargeCard/LargeCard.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Add taglineLanguage prop to MiniCardV2 and related components for improved accessibility
  packages/nextjs/src/components/_common/card/MiniCardV2/MiniCardV2.tsx
  packages/nextjs/src/components/_common/card/card-utils.ts
  packages/nextjs/src/components/_common/headers/generalPageHeader/GeneralPageHeader.tsx
  packages/nextjs/src/components/_common/headers/sharedHeaderUtils.ts
  packages/nextjs/src/components/_common/headers/themedPageHeader/ThemedPageHeader.tsx
  packages/nextjs/src/components/_common/relatedSituations/RelatedSituations.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

fjern dobbel lang
  packages/nextjs/src/components/_common/card/MiniCardV2/MiniCardV2.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Add taglineLanguage prop to LargeCard and card-utils for improved accessibility
  packages/nextjs/src/components/_common/card/LargeCard/LargeCard.tsx
  packages/nextjs/src/components/_common/card/card-utils.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Refactor card components to use Language type for taglineLanguage and language props
  packages/nextjs/src/components/_common/card/LargeCard/LargeCard.tsx
  packages/nextjs/src/components/_common/card/MicroCard/MicroCard.tsx
  packages/nextjs/src/components/_common/card/MiniCardV2/MiniCardV2.tsx
  packages/nextjs/src/components/_common/card/card-utils.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Pass taglineLanguage to MiniCardV2 for correct language inheritance (#2732)
  packages/nextjs/src/components/macros/product-card-mini/MacroProductCardMini.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Update packages/nextjs/src/components/_common/relatedSituations/RelatedSituations.tsx
  packages/nextjs/src/components/_common/relatedSituations/RelatedSituations.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Pass taglineLanguage to MiniCardV2 in ProductCardMiniPart (#2733)
  packages/nextjs/src/components/parts/product-card-mini/ProductCardMiniPart.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Refactor LargeCard component to streamline lang prop usage and improve readability
  packages/nextjs/src/components/_common/card/LargeCard/LargeCard.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

flytt taglineLanguage under language
  packages/nextjs/src/components/_common/card/LargeCard/LargeCard.tsx
  packages/nextjs/src/components/_common/card/MiniCardV2/MiniCardV2.tsx
  packages/nextjs/src/components/_common/card/card-utils.ts
  packages/nextjs/src/components/_common/relatedSituations/RelatedSituations.tsx
  packages/nextjs/src/components/macros/product-card-mini/MacroProductCardMini.tsx
  packages/nextjs/src/components/parts/product-card-mini/ProductCardMiniPart.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

taglineLanguage sist
  packages/nextjs/src/components/macros/product-card-mini/MacroProductCardMini.tsx
  packages/nextjs/src/components/parts/product-card-mini/ProductCardMiniPart.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

flytt lang tag direkte på footer, det funka allikevel
  packages/nextjs/src/components/_common/card/LargeCard/LargeCard.tsx
  packages/nextjs/src/components/_common/card/MiniCardV2/MiniCardV2.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Sett language tag på kort (#2729)
  packages/nextjs/src/components/_common/card/LargeCard/LargeCard.tsx
  packages/nextjs/src/components/_common/card/MicroCard/MicroCard.tsx
  packages/nextjs/src/components/_common/card/MiniCardV2/MiniCardV2.tsx
  packages/nextjs/src/components/_common/card/card-utils.ts
  packages/nextjs/src/components/_common/headers/generalPageHeader/GeneralPageHeader.tsx
  packages/nextjs/src/components/_common/headers/sharedHeaderUtils.ts
  packages/nextjs/src/components/_common/headers/themedPageHeader/ThemedPageHeader.tsx
  packages/nextjs/src/components/_common/relatedSituations/RelatedSituations.tsx
  packages/nextjs/src/components/macros/product-card-mini/MacroProductCardMini.tsx
  packages/nextjs/src/components/parts/product-card-mini/ProductCardMiniPart.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Fikser sass if() deprecation warnings
  packages/nextjs/src/common.scss
  packages/nextjs/src/components/_common/lenkepanel/LenkepanelNavno/LenkepanelNavno.module.scss
  packages/nextjs/src/components/parts/seksjon-for-snarveier-pa-forside-for-privatperson/SeksjonForSnarveierPaForsideForPrivatpersonPart.module.scss
Due: none

Fikser sass if() deprecation warnings (#2735)
  packages/nextjs/src/common.scss
  packages/nextjs/src/components/_common/lenkepanel/LenkepanelNavno/LenkepanelNavno.module.scss
  packages/nextjs/src/components/parts/seksjon-for-snarveier-pa-forside-for-privatperson/SeksjonForSnarveierPaForsideForPrivatpersonPart.module.scss
Due: none

Path validering (#2680)
  packages/nextjs/next.config.js
  packages/server/src/req-handlers/path-validation-middleware.test.ts
  packages/server/src/req-handlers/path-validation-middleware.ts
  packages/server/src/server.ts
  packages/shared/src/constants.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix, cd packages/shared && npm run lint:fix, cd packages/shared && npm run prettier:fix

Fjerner Patterns som stenger ut -- midlertidig
  packages/server/src/req-handlers/path-validation-middleware.test.ts
  packages/server/src/req-handlers/path-validation-middleware.ts
Due: cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix

Fjerner to tester til (4 totalt)
  packages/server/src/req-handlers/path-validation-middleware.test.ts
Due: cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix

Fjerner Patterns som stenger ute -- midlertidig (#2738)
  packages/server/src/req-handlers/path-validation-middleware.test.ts
  packages/server/src/req-handlers/path-validation-middleware.ts
Due: cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix

Update playwright image version
  .github/workflows/visual-changes-bot.yml
Due: prettier --write

Normal tekststørrelse på alle avsnitt i mellomstegmal (#2722)
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-contactsteppage--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-formintermediatesteppage--landing-page-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-formintermediatesteppage--step-mobile-linux-mobile-linux.png
  packages/nextjs/src/components/layouts/mellomsteg/MellomstegLayout.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Fikse grid i snarveier
  packages/nextjs/src/components/parts/seksjon-for-snarveier-pa-forside-for-privatperson/SeksjonForSnarveierPaForsideForPrivatpersonPart.module.scss
Due: none

Fikser og flytter sjekk på XP-path inn i path-validation-middleware
  packages/server/src/req-handlers/path-validation-middleware.ts
  packages/server/src/server.ts
Due: cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix

Fikser grid i snarveier på forsiden (#2753)
  packages/nextjs/src/components/parts/seksjon-for-snarveier-pa-forside-for-privatperson/SeksjonForSnarveierPaForsideForPrivatpersonPart.module.scss
Due: none

Kommentar på redirect til XP
  packages/server/src/req-handlers/path-validation-middleware.ts
Due: cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix

Fiks XP-path sjekk (#2754)
  packages/server/src/req-handlers/path-validation-middleware.ts
  packages/server/src/server.ts
Due: cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix

Path conditions:
  cd packages/nextjs && npm run lint:fix: any of: packages/nextjs/**/*.{js,jsx,ts,tsx}
  cd packages/nextjs && npm run prettier:fix: any of: packages/nextjs/**/*.{js,jsx,ts,tsx}
  cd packages/server && npm run lint:fix: any of: packages/server/**/*.{js,ts}
  cd packages/server && npm run prettier:fix: any of: packages/server/**/*.{js,ts}
  cd packages/shared && npm run lint:fix: any of: packages/shared/**/*.{js,ts}
  cd packages/shared && npm run prettier:fix: any of: packages/shared/**/*.{js,ts}
  prettier --write: any of: **/*.{json,md,yml,yaml}
