Repository navikt/nav-enonicxp-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix, cd packages/shared && npm run lint:fix, cd packages/shared && npm run prettier:fix, prettier --write

Fikser reger backtracking pga sikkerhet
  packages/nextjs/src/utils/string.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Begrense lengde på input ved ascii-normalisering til 1000 tegn
  packages/nextjs/src/utils/string.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Update packages/nextjs/src/components/_common/metatags/structuredData/things/officeBranchThing.ts
  packages/nextjs/src/components/_common/metatags/structuredData/things/officeBranchThing.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Update packages/nextjs/src/components/_common/metatags/structuredData/things/governmentServiceThing.ts
  packages/nextjs/src/components/_common/metatags/structuredData/things/governmentServiceThing.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Fjerner audience-sjekk
  packages/nextjs/src/components/_common/metatags/structuredData/things/audienceThing.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-situationpage--default-mobile-linux-mobile-linux.png
Due: none

dummy linkedin-komponent
  packages/nextjs/src/components/pages/office-page/OfficePage.tsx
  packages/nextjs/src/types/content-props/dynamic-page-props.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

riktig tagline
  packages/nextjs/src/components/pages/office-page/office-page-header/OfficePageHeader.tsx
  packages/nextjs/src/translations/default.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Strammer opp typesjekk ved normalizeToAscii
  packages/nextjs/src/components/_common/metatags/structuredData/things/webPageThing.ts
  packages/nextjs/src/utils/string.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Add LinkedIn section and contact form to OfficePage and OfficeDetails components
  packages/nextjs/src/components/pages/office-page/OfficePage.tsx
  packages/nextjs/src/components/pages/office-page/officeDetails/OfficeDetails.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Add contact form section to OfficeDetails component
  packages/nextjs/src/components/pages/office-page/officeDetails/OfficeDetails.module.scss
  packages/nextjs/src/components/pages/office-page/officeDetails/OfficeDetails.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Bump @navikt/nav-office-reception-info to version 1.4.3
  package-lock.json
  packages/nextjs/package.json
Due: prettier --write

Bump @navikt/nav-office-reception-info to version 1.4.4 and update styles in OfficeDetails and PhonePoster components
  package-lock.json
  packages/nextjs/package.json
  packages/nextjs/src/components/pages/office-page/officeDetails/OfficeDetails.module.scss
  packages/nextjs/src/components/pages/office-page/officeDetails/OfficeDetails.tsx
  packages/nextjs/src/components/pages/office-page/officeDetails/phonePoster/PhonePoster.module.scss
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, prettier --write

reduser spacing Kontorinformasjon
  packages/nextjs/src/components/pages/office-page/officeDetails/officeInformation/OfficeInformation.module.scss
Due: none

fiks glemt tagline
  packages/nextjs/src/components/pages/office-page/office-page-header/OfficePageHeader.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-office-page-officedetails--with-multiple-receptions-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-office-page-officedetails--with-reception-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-office-page-officedetails--with-special-opening-hours-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-office-page-officedetails--without-reception-mobile-linux-mobile-linux.png
Due: none

bruk else
  packages/nextjs/src/components/pages/office-page/office-page-header/OfficePageHeader.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

styling linkedIn
  packages/nextjs/src/components/pages/office-page/OfficePage.module.scss
  packages/nextjs/src/components/pages/office-page/OfficePage.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Overstyre farge for fill og stroke separat
  packages/nextjs/src/components/parts/seksjon-for-snarveier/SeksjonForSnarveier.module.scss
Due: none

splitt kontorinfo
  packages/nextjs/src/components/pages/office-page/officeDetails/officeInformation/OfficeInformation.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

fjern span
  packages/nextjs/src/components/pages/office-page/officeDetails/officeInformation/OfficeInformation.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-office-page-officedetails-officeinformation--open-mobile-linux-mobile-linux.png
Due: none

spacing header
  packages/nextjs/src/components/pages/office-page/office-page-header/OfficePageHeader.module.scss
Due: none

Fjerner datovisning fra kalenderhendelse hvis datoen er feil eller ikke satt
  packages/nextjs/src/components/parts/_legacy/publishing-calendar/PublishingCalendarEntryLegacyPart.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Gjenninfører manglende klasse som falt ut
  packages/nextjs/src/components/parts/_legacy/publishing-calendar/PublishingCalendarEntryLegacyPart.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Endrer sjekk til Number.isNaN
  packages/nextjs/src/components/parts/_legacy/publishing-calendar/PublishingCalendarEntryLegacyPart.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Enhance phone information handling and update translations for phone hours
  packages/nextjs/src/components/pages/office-page/officeDetails/phonePoster/PhonePoster.tsx
  packages/nextjs/src/translations/default.ts
  packages/nextjs/src/translations/en.ts
  packages/nextjs/src/translations/nn.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Refactor phone information retrieval logic for clarity and maintainability
  packages/nextjs/src/components/pages/office-page/officeDetails/phonePoster/PhonePoster.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

overskrift Kontakt oss
  packages/nextjs/src/components/pages/office-page/officeDetails/OfficeDetails.tsx
  packages/nextjs/src/translations/default.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

fjern ubrukt gammel styling
  packages/nextjs/src/components/pages/office-page/office-page-header/OfficePageHeader.module.scss
Due: none

parsedhtml linkedin
  packages/nextjs/src/components/pages/office-page/OfficePage.module.scss
  packages/nextjs/src/components/pages/office-page/OfficePage.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

midstill kontorsidene etter kjapp diskusjon med Martin
  packages/nextjs/src/components/pages/office-page/OfficePage.module.scss
  packages/nextjs/src/components/pages/office-page/office-page-header/OfficePageHeader.module.scss
  packages/nextjs/src/components/pages/office-page/officeDetails/OfficeDetails.module.scss
Due: none

fiks plassering linkedin
  packages/nextjs/src/components/pages/office-page/OfficePage.module.scss
  packages/nextjs/src/components/pages/office-page/OfficePage.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

border-top linkedin
  packages/nextjs/src/components/pages/office-page/OfficePage.module.scss
Due: none

rydd i layput officedetails
  packages/nextjs/src/components/pages/office-page/officeDetails/OfficeDetails.module.scss
Due: none

story Arbeidslivssenter
  packages/nextjs/src/components/pages/office-page/officeDetails/OfficeDetails.stories.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

kollaps tre stories til én
  packages/nextjs/src/components/pages/office-page/officeDetails/OfficeDetails.stories.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-office-page-officedetails--arbeidslivssenter-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-office-page-officedetails--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-office-page-officedetails--with-multiple-receptions-desktop-linux-desktop-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-office-page-officedetails--with-multiple-receptions-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-office-page-officedetails--with-reception-desktop-linux-desktop-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-office-page-officedetails--with-reception-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-office-page-officedetails--with-special-opening-hours-desktop-linux-desktop-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-office-page-officedetails--with-special-opening-hours-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-office-page-officedetails--without-reception-desktop-linux-desktop-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-office-page-officedetails--without-reception-mobile-linux-mobile-linux.png
Due: none

Update packages/nextjs/src/components/parts/_legacy/publishing-calendar/PublishingCalendarEntryLegacyPart.tsx
  packages/nextjs/src/components/parts/_legacy/publishing-calendar/PublishingCalendarEntryLegacyPart.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

WIP bruk InnholdssideMedMeny for Situasjonssider
  packages/nextjs/src/components/layouts/innholdsside-med-meny/InnholdssideMedMeny.tsx
  packages/nextjs/src/components/layouts/single-col-page/SingleColPage.tsx
  packages/nextjs/src/components/pages/situationPage/SituationPage.module.scss
  packages/nextjs/src/components/pages/situationPage/SituationPage.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Path conditions:
  cd packages/nextjs && npm run lint:fix: any of: packages/nextjs/**/*.{js,jsx,ts,tsx}
  cd packages/nextjs && npm run prettier:fix: any of: packages/nextjs/**/*.{js,jsx,ts,tsx}
  cd packages/server && npm run lint:fix: any of: packages/server/**/*.{js,ts}
  cd packages/server && npm run prettier:fix: any of: packages/server/**/*.{js,ts}
  cd packages/shared && npm run lint:fix: any of: packages/shared/**/*.{js,ts}
  cd packages/shared && npm run prettier:fix: any of: packages/shared/**/*.{js,ts}
  prettier --write: any of: **/*.{json,md,yml,yaml}
