Repository navikt/nav-enonicxp-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix, cd packages/shared && npm run lint:fix, cd packages/shared && npm run prettier:fix, prettier --write

.lintstagedrc.json:

{
    "packages/nextjs/**/*.{js,jsx,ts,tsx}": [
        "cd packages/nextjs && npm run lint:fix",
        "cd packages/nextjs && npm run prettier:fix"
    ],
    "packages/server/**/*.{js,ts}": [
        "cd packages/server && npm run lint:fix",
        "cd packages/server && npm run prettier:fix"
    ],
    "packages/shared/**/*.{js,ts}": [
        "cd packages/shared && npm run lint:fix",
        "cd packages/shared && npm run prettier:fix"
    ],
    "**/*.{json,md,yml,yaml}": ["prettier --write"]
}

Add logAnalyticsEvent and Events proxy to mock analytics functionality
  packages/nextjs/.storybook/mocks/nav-dekoratoren-moduler.js
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Refactor analytics event handling by removing the Proxy for Events and directly exporting from analytics-types
  packages/nextjs/.storybook/mocks/nav-dekoratoren-moduler.js
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Re-eksporter Events fra dekoratoren-moduler i Storybook-mocken
  packages/nextjs/.storybook/main.ts
  packages/nextjs/.storybook/mocks/nav-dekoratoren-moduler.js
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Stopper redirect fra ekstern og legger til diverse origins
  .github/workflows/deploy.dev3.yml
  README.md
  packages/server/src/server-setup/server-setup-dev.ts
  packages/server/src/server-setup/server-setup-failover.ts
  packages/server/src/server-setup/server-setup.ts
Due: cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix, prettier --write

Strammer opp x-robots-tag for dev
  packages/server/src/server-setup/server-setup-dev.ts
Due: cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix

Fikser feil i referanser til Valkey-config
  .github/workflows/deploy.dev1.yml
  .github/workflows/deploy.dev2.yml
  .github/workflows/deploy.dev3.yml
  .github/workflows/deploy.prod.yml
  .prettierrc
Due: prettier --write

Korrigerer referanse til dev1 for valkey vars
  .github/workflows/deploy.dev1.yml
Due: prettier --write

Fjerner eksplissit valkey-deploy fra workflows
  .github/actions/deploy/action.yml
  .github/workflows/deploy-failover.dev.yml
  .github/workflows/deploy-failover.prod.yml
  .github/workflows/deploy.dev1.yml
  .github/workflows/deploy.dev2.yml
  .github/workflows/deploy.dev3.yml
  .github/workflows/deploy.prod.yml
  .nais/config.yml
  .nais/valkey.yml
  .nais/vars/vars-dev1.yml
  .nais/vars/vars-dev2.yml
  .nais/vars/vars-dev3.yml
  .nais/vars/vars-prod.yml
  .prettierignore
Due: prettier --write

hvis et fragment er en innholdstype skal den ikke gi varsel dersom den er utenfor en innholdstype
  packages/nextjs/next-env.d.ts
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/fragment-utenfor-innholdsseksjon/pageContentFragmentUtenforInnholdsseksjon.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

prøve å legge til type layout og se om den da funker som jeg vil
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/fragment-utenfor-innholdsseksjon/pageContentFragmentUtenforInnholdsseksjon.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

fjerne type layout da det funket fint uten
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/fragment-utenfor-innholdsseksjon/pageContentFragmentUtenforInnholdsseksjon.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Redirecter ekstern til ansatt-ingress
  packages/server/src/server-setup/server-setup-dev.ts
  packages/server/src/server-setup/server-setup.ts
Due: cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix

Oppdaterer Valkey config (#2916)
  .github/actions/deploy/action.yml
  .github/workflows/deploy-failover.dev.yml
  .github/workflows/deploy-failover.prod.yml
  .github/workflows/deploy.dev1.yml
  .github/workflows/deploy.dev2.yml
  .github/workflows/deploy.dev3.yml
  .github/workflows/deploy.prod.yml
  .nais/config.yml
  .nais/valkey.yml
  .nais/vars/vars-dev1.yml
  .nais/vars/vars-dev2.yml
  .nais/vars/vars-dev3.yml
  .nais/vars/vars-prod.yml
  .prettierignore
  .prettierrc
Due: prettier --write

Setter opp frontend mot XP i Enonic cloud for dev3 (#2899)
  .failover/build-dev-failover-image.sh
  .github/workflows/deploy.dev3.yml
  .github/workflows/visual-changes-bot.yml
  README.md
  package.json
  packages/nextjs/nodeenv.d.ts
  packages/server/nodeenv.d.ts
  packages/server/src/server-setup/server-setup-dev.ts
  packages/server/src/server-setup/server-setup-failover.ts
  packages/server/src/server-setup/server-setup.ts
  packages/shared/nodeenv.d.ts
  packages/shared/src/decorator-utils-serverside.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix, cd packages/shared && npm run lint:fix, cd packages/shared && npm run prettier:fix, prettier --write

Add logAnalyticsEvent and Events proxy to mock analytics functionality (#2914)
  packages/nextjs/.storybook/main.ts
  packages/nextjs/.storybook/mocks/nav-dekoratoren-moduler.js
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Bytt til Aksel link-klasser for LenkeInline og LenkeStandalone
  packages/nextjs/src/components/_common/lenke/lenkeInline/LenkeInline.module.scss
  packages/nextjs/src/components/_common/lenke/lenkeInline/LenkeInline.tsx
  packages/nextjs/src/components/_common/lenke/lenkeStandalone/LenkeStandalone.module.scss
  packages/nextjs/src/components/_common/lenke/lenkeStandalone/LenkeStandalone.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

fiks understrek i Morelink
  packages/nextjs/src/components/_common/lenke/lenkeStandalone/LenkeStandalone.module.scss
  packages/nextjs/src/components/_common/lenke/lenkeStandalone/LenkeStandalone.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-lenke-lenkestandalone--with-arrow-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-lenke-lenkestandalone--with-chevron-and-label-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-lenke-lenkestandalone--with-chevron-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-lenkeliste--chevron-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-morelink--default-mobile-linux-mobile-linux.png
Due: none

Update NavigationLink styles to use Aksel link class
  packages/nextjs/src/components/_common/pageNavigationMenu/NavigationLink/NavigationLink.module.scss
  packages/nextjs/src/components/_common/pageNavigationMenu/NavigationLink/NavigationLink.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-lenkeliste--bullet-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-morelink--default-mobile-linux-mobile-linux.png
Due: none

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-pagenavigationmenu--primary-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-pagenavigationmenu-dynamicdesktopnavigation--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-pagenavigationmenu-navigationlink--active-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-pagenavigationmenu-navigationlink--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-pagenavigationmenu-sectionnavigation--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-situationpage--default-mobile-linux-mobile-linux.png
Due: none

Bytt ut deprecated Alert med Infocard-message i Part og Makro (#2875)
  packages/nextjs/src/components/_common/infokort/Infokort.module.scss
  packages/nextjs/src/components/_common/infokort/Infokort.tsx
  packages/nextjs/src/components/_common/parsedHtml/ParsedHtml.tsx
  packages/nextjs/src/components/_common/trekkspill/Trekkspill.stories.ts
  packages/nextjs/src/components/macros/MacroMapper.tsx
  packages/nextjs/src/components/macros/varselboks/MacroInfokort.tsx
  packages/nextjs/src/components/macros/varselboks/MacroVarselboks.tsx
  packages/nextjs/src/components/parts/PartsMapper.tsx
  packages/nextjs/src/components/parts/varselboks/InfokortPart.tsx
  packages/nextjs/src/components/parts/varselboks/VarselboksPart.module.scss
  packages/nextjs/src/components/parts/varselboks/VarselboksPart.tsx
  packages/nextjs/src/types/component-props/parts.ts
  packages/nextjs/src/types/macro-props/_macros-common.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Remove unused SCSS styles and update className to use Aksel link class
  packages/nextjs/src/components/_common/kontakt-oss-kanal/_shared-utils/KontaktOssKanalLenkebase/KontaktOssKanalLenkebase.module.scss
  packages/nextjs/src/components/_common/kontakt-oss-kanal/_shared-utils/KontaktOssKanalLenkebase/KontaktOssKanalLenkebase.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Refactor lenkestyling class to use aksel-link and remove unused styles
  packages/nextjs/src/components/_common/knapp/Knapp.module.scss
  packages/nextjs/src/components/_common/knapp/Knapp.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Update TelefonAlternativ to use aksel-link class and remove unused styles
  packages/nextjs/src/components/_common/kontakt-oss-kanal/TelefonAlternativ/TelefonAlternativ.module.scss
  packages/nextjs/src/components/_common/kontakt-oss-kanal/TelefonAlternativ/TelefonAlternativ.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Remove unused styles from FormIntermediateStepLink and update className
  packages/nextjs/src/components/_common/formIntermediateStepLink/FormIntermediateStepLink.module.scss
  packages/nextjs/src/components/_common/formIntermediateStepLink/FormIntermediateStepLink.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-formintermediatesteplink--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-formintermediatesteplink--language-disclaimer-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-formintermediatesteplink--with-explanation-and-form-number-and-language-disclaimer-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-formintermediatesteplink--with-explanation-and-form-number-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-formintermediatesteplink--with-explanation-and-language-disclaimer-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-formintermediatesteplink--with-explanation-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-formintermediatesteplink--with-form-number-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-contactsteppage--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-formintermediatesteppage--landing-page-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-formintermediatesteppage--step-mobile-linux-mobile-linux.png
Due: none

Remove unused styles for aksel-link-anchor in MiniCardV2
  packages/nextjs/src/components/_common/card/MiniCardV2/MiniCardV2.module.scss
Due: none

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-card-minicardv2--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-relatedsituations--default-mobile-linux-mobile-linux.png
Due: none

Update PressNewsItem to use aksel-link class and remove unused styles
  packages/nextjs/src/components/_common/press-landing/PressNewsItem.module.scss
  packages/nextjs/src/components/_common/press-landing/PressNewsItem.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Remove link styles from PressTopSection
  packages/nextjs/src/components/_common/press-landing/PressTopSection.module.scss
Due: none

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-press-landing-presstopsection--default-mobile-linux-mobile-linux.png
Due: none

fjern override av underline på omrrådekort
  packages/nextjs/src/components/_common/omradekort/Omradekort.module.scss
  packages/nextjs/src/components/_common/omradekort/Omradekort.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-omradekort--accessibility-hovered-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-omradekort--cases-hovered-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-omradekort--employment-status-form-hovered-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-omradekort--family-hovered-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-omradekort--health-hovered-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-omradekort--payments-hovered-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-omradekort--pension-hovered-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-omradekort--social-counselling-hovered-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-omradekort--work-hovered-mobile-linux-mobile-linux.png
Due: none

Refactor link styles in SeksjonForSnarveierPaForsideForPrivatpersonPart to use aksel-link class
  packages/nextjs/src/components/parts/seksjon-for-snarveier-pa-forside-for-privatperson/SeksjonForSnarveierPaForsideForPrivatpersonPart.module.scss
  packages/nextjs/src/components/parts/seksjon-for-snarveier-pa-forside-for-privatperson/SeksjonForSnarveierPaForsideForPrivatpersonPart.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

fjern overflødige styles
  packages/nextjs/src/components/parts/seksjon-for-snarveier-pa-forside-for-privatperson/SeksjonForSnarveierPaForsideForPrivatpersonPart.module.scss
Due: none

Refactor link styles in LenkepanelNavno to use aksel-link class and update text decoration
  packages/nextjs/src/components/_common/lenkepanel/LenkepanelNavno/LenkepanelNavno.module.scss
  packages/nextjs/src/components/_common/lenkepanel/LenkepanelNavno/LenkepanelNavno.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

fluytt link-underline-mixin til eneste fila den brukes i
  packages/nextjs/src/common.scss
  packages/nextjs/src/components/_editor-only/site-info/_common/links/SiteInfoLink.module.scss
Due: none

navnejusteringer
  packages/nextjs/src/components/_editor-only/redaktorvarsler/Redaktorvarsler.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/harRedaktorFeil.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/duplikate-ider/DuplikateIder.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/formatert-innhold-utenfor-innholdsseksjon/FormatertInnholdUtenforInnholdsseksjonVarsel.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/fragment-utenfor-innholdsseksjon/FragmentUtenforInnholdsseksjonVarsel.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/html-area-div/HtmlAreaInnholderDivVarsel.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/kontaktinformasjon/KontaktinformasjonVarsel.tsx
  packages/nextjs/src/components/parts/html-area/HtmlAreaPart.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

resett gap
  packages/nextjs/src/components/_common/lenke/lenkeStandalone/LenkeStandalone.module.scss
  packages/nextjs/src/components/_common/lenke/lenkeStandalone/LenkeStandalone.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix
