Repository navikt/nav-enonicxp-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix, cd packages/shared && npm run lint:fix, cd packages/shared && npm run prettier:fix, prettier --write

Fikser komponentId
  packages/nextjs/src/components/_common/oversikt-filters/oversikt-omradefilter/OversiktOmradeFilter.tsx
  packages/nextjs/src/components/_common/oversikt-filters/text-filter/OversiktTextFilter.tsx
  packages/nextjs/src/components/_common/trekkspill/Trekkspill.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Makslengde 1000 > 500 + flere tester
  packages/server/src/req-handlers/path-validation-middleware.test.ts
  packages/server/src/req-handlers/path-validation-middleware.ts
Due: cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix

Slett første del av lockfile antagelig korrumpert av action-setup v6 i en annen branch
  pnpm-lock.yaml
Due: prettier --write

Slett første del av lockfile antagelig korrumpert av action-setup v6 i en annen branch (#2849)
  pnpm-lock.yaml
Due: prettier --write

legg til mulighet for nyhetsbrev-ikon og generisk ikon i kontaktkanel
  packages/nextjs/public/gfx/nyhetsbrev.svg
  packages/nextjs/src/components/_common/kontakt-oss-kanal/_shared-utils/icon/Icon.tsx
  packages/nextjs/src/components/parts/kontakt-oss-kanal/KontaktOssKanalPart.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

imports øverst
  packages/nextjs/src/components/_common/kontakt-oss-kanal/_shared-utils/icon/Icon.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

legg til mulighet for nyhetsbrev-ikon og generisk ikon i kontaktkanal (#2851)
  packages/nextjs/public/gfx/nyhetsbrev.svg
  packages/nextjs/src/components/_common/kontakt-oss-kanal/_shared-utils/icon/Icon.tsx
  packages/nextjs/src/components/parts/kontakt-oss-kanal/KontaktOssKanalPart.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-chevron-fancychevron--small-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-chevron-fancychevron--white-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-layouts-index-page-area-page-areapageheader--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-layouts-index-page-area-page-banner-areapageheaderbanner--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-office-page-linkedin--default-mobile-linux-mobile-linux.png
Due: none

fiks Expandable border, farge, chevron
  packages/nextjs/src/components/_common/expandable/Expandable.module.scss
  packages/nextjs/src/components/_common/expandable/Expandable.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

replace all navds -> aksel (ikke sett grundig gjennom)
  packages/nextjs/src/components/_common/card/LargeCard/LargeCard.module.scss
  packages/nextjs/src/components/_common/card/MiniCardV2/MiniCardV2.module.scss
  packages/nextjs/src/components/_common/chatbot/ChatbotLenkepanel.module.scss
  packages/nextjs/src/components/_common/expandable/Expandable.module.scss
  packages/nextjs/src/components/_common/formIntermediateStepLink/FormIntermediateStepLink.module.scss
  packages/nextjs/src/components/_common/frontpageCard/FrontPageCard.module.scss
  packages/nextjs/src/components/_common/headers/generalPageHeader/GeneralPageHeader.module.scss
  packages/nextjs/src/components/_common/knapp/Knapp.module.scss
  packages/nextjs/src/components/_common/kontakt-oss-kanal/_shared-utils/KontaktOssKanalIngress/KontaktOssKanalIngress.module.scss
  packages/nextjs/src/components/_common/kontakt-oss-kanal/_shared-utils/KontaktOssKanalLenkebase/KontaktOssKanalLenkebase.module.scss
  packages/nextjs/src/components/_common/kontakt-oss-kanal/_shared-utils/openingInfo/OpeningInfo.module.scss
  packages/nextjs/src/components/_common/lenkepanel-legacy/LenkepanelNavNo.module.scss
  packages/nextjs/src/components/_common/lenkepanel/LenkepanelNavno/LenkepanelNavno.module.scss
  packages/nextjs/src/components/_common/lenkepanel/LenkepanelNavno/LenkepanelNavno.tsx
  packages/nextjs/src/components/_common/omradekort/Omradekort.module.scss
  packages/nextjs/src/components/_common/overview-filters/OverviewFilters.module.scss
  packages/nextjs/src/components/_common/overview-filters/text-filter/OverviewTextFilter.module.scss
  packages/nextjs/src/components/_common/press-landing/PressShortcuts.module.scss
  packages/nextjs/src/components/_common/productPanelExpandable/ProductPanelExpandable.module.scss
  packages/nextjs/src/components/_common/qbrick-video/QbrickVideo.module.scss
  packages/nextjs/src/components/_common/skjemadetaljer/Skjemadetaljer.module.scss
  packages/nextjs/src/components/_common/trekkspill/Trekkspill.module.scss
  packages/nextjs/src/components/_editor-only/site-info/header/SiteInfoHeader.module.scss
  packages/nextjs/src/components/_page-warnings/pageWarning/PageWarning.module.scss
  packages/nextjs/src/components/layouts/flex-cols/FlexColsLayout.module.scss
  packages/nextjs/src/components/layouts/index-page/area-page/banner/AreaPageHeaderBanner.stories.tsx
  packages/nextjs/src/components/macros/fotnote/MacroFotnote.tsx
  packages/nextjs/src/components/macros/quote/MacroQuote.tsx
  packages/nextjs/src/components/pages/global-values-page/components/button/GVButton.module.scss
  packages/nextjs/src/components/pages/global-values-page/components/messages/GVMessages.tsx
  packages/nextjs/src/components/pages/office-page/linkedIn/LinkedIn.module.scss
  packages/nextjs/src/components/pages/oversikt-page/forms-list/panel/OversiktListPanel.module.scss
  packages/nextjs/src/components/parts/_legacy/menu-list/MenuList.module.scss
  packages/nextjs/src/components/parts/filtreringsmeny/Filtreringsmeny.module.scss
  packages/nextjs/src/components/parts/knapp/KnappPart.module.scss
  packages/nextjs/src/components/parts/lenkepanelPart/LenkepanelPart.module.scss
  packages/nextjs/src/components/parts/readMorePart/ReadMorePart.module.scss
  packages/nextjs/src/components/parts/seksjon-for-snarveier/SeksjonForSnarveier.module.scss
  packages/nextjs/src/components/parts/varselboks/VarselboksPart.module.scss
  packages/nextjs/src/global.scss
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Update design system token references in copilot instructions
  .github/copilot-instructions.md
Due: prettier --write

codemod v8-button-variant
  packages/nextjs/src/components/_common/overview-filters/OverviewFilters.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-expandable--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-expandable--documentation-requirements-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-expandable--is-open-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-expandable--payout-dates-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-expandable--processing-times-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-expandable--rates-mobile-linux-mobile-linux.png
Due: none

Revert "fiks spacing under Expandable"
  packages/nextjs/src/components/_common/expandable/Expandable.module.scss
Due: none

fiks spacing under Expandable
  packages/nextjs/src/components/_common/expandable/Expandable.module.scss
Due: none

fjern gammel box-shadow styling
  packages/nextjs/src/components/_common/expandable/Expandable.module.scss
Due: none

kanskje fjerne overstyringer på Chips?
  packages/nextjs/src/components/_common/oversikt-filters/OversiktFilterBase/OversiktFilterBase.module.scss
  packages/nextjs/src/components/_common/oversikt-filters/OversiktFilterBase/OversiktFilterBase.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

overfløding styling OversiktFilterBase
  packages/nextjs/src/components/_common/oversikt-filters/OversiktFilterBase/OversiktFilterBase.module.scss
Due: none

fiks Expandable stickyness
  packages/nextjs/src/components/_common/expandable/Expandable.module.scss
Due: none

fiks gjennomsiktig sticky hover
  packages/nextjs/src/components/_common/trekkspill/Trekkspill.module.scss
Due: none

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-oversikt-filters-oversiktfilterbase--default-mobile-linux-mobile-linux.png
Due: none

test tydeligere farge selected tag
  packages/nextjs/src/components/_common/formNumberTag/FormNumberTag.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

juster farger på områdekort
  packages/nextjs/src/components/_common/omradekort/Omradekort.stories.tsx
  packages/nextjs/src/components/_common/omradekort/graphics/innlogget/employment-status-form/EmploymentStatusFormAnimation.module.scss
  packages/nextjs/src/components/_common/omradekort/graphics/open-pages/accessibility/AccessibilityAnimation.module.scss
  packages/nextjs/src/components/_common/omradekort/graphics/open-pages/family/FamilyAnimation.module.scss
  packages/nextjs/src/components/_common/omradekort/graphics/open-pages/health/HealthAnimation.module.scss
  packages/nextjs/src/components/_common/omradekort/graphics/open-pages/pension/PensionAnimation.module.scss
  packages/nextjs/src/components/_common/omradekort/graphics/open-pages/social-counselling/SocialCounsellingAnimation.module.scss
  packages/nextjs/src/components/_common/omradekort/graphics/open-pages/work/WorkAnimation.module.scss
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

brand-blue på Chips for mer like farger som før
  packages/nextjs/src/components/_common/oversikt-filters/OversiktFilterBase/OversiktFilterBase.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-formnumbertag--selected-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-omradekort--accessibility-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-omradekort--cases-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-omradekort--employment-desktop-linux-desktop-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-omradekort--employment-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-omradekort--employment-status-form-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-omradekort--payments-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-omradekort--pension-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-omradekort--social-counselling-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-skjemadetaljer--with-form-numbers-mobile-linux-mobile-linux.png
Due: none

glemte noen kort
  packages/nextjs/src/components/_common/omradekort/graphics/innlogget/cases/CasesAnimation.module.scss
  packages/nextjs/src/components/_common/omradekort/graphics/innlogget/employment-status-form/EmploymentStatusFormAnimation.module.scss
  packages/nextjs/src/components/_common/omradekort/graphics/innlogget/payments/PaymentsAnimation.module.scss
Due: none

hovered stories områdekort
  packages/nextjs/src/components/_common/omradekort/Omradekort.stories.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

fjern masse styling fra Accordion
  packages/nextjs/src/components/_common/trekkspill/Trekkspill.module.scss
  packages/nextjs/src/components/_common/trekkspill/Trekkspill.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

jsuteringer productPanelExpandable
  packages/nextjs/src/components/_common/productPanelExpandable/ProductPanelExpandable.module.scss
  packages/nextjs/src/components/_common/productPanelExpandable/ProductPanelExpandable.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

fjern gammel shadow fra mircrocard og endre hoverfarge
  packages/nextjs/src/components/_common/card/MicroCard/MicroCard.module.scss
Due: none

fix: remove border and box-shadow from MiniCard hover and focus states
  packages/nextjs/src/components/_common/card/MiniCardV2/MiniCardV2.module.scss
Due: none

hack sett samme farge som i Aksel
  packages/nextjs/src/components/_common/trekkspill/Trekkspill.module.scss
Due: none

fiks farge chevron
  packages/nextjs/src/components/pages/office-page/officeDetails/officeInformation/OfficeInformation.module.scss
Due: none

fix: adjust border styling for MicroCard hover and focus states
  packages/nextjs/src/components/_common/card/MicroCard/MicroCard.module.scss
Due: none

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-omradekort--accessibility-hovered-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-omradekort--cases-hovered-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-omradekort--employment-status-form-hovered-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-omradekort--family-hovered-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-omradekort--health-hovered-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-omradekort--payments-hovered-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-omradekort--pension-hovered-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-omradekort--social-counselling-hovered-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-omradekort--work-hovered-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-trekkspill--default-mobile-linux-mobile-linux.png
Due: none

Path conditions:
  cd packages/nextjs && npm run lint:fix: any of: packages/nextjs/**/*.{js,jsx,ts,tsx}
  cd packages/nextjs && npm run prettier:fix: any of: packages/nextjs/**/*.{js,jsx,ts,tsx}
  cd packages/server && npm run lint:fix: any of: packages/server/**/*.{js,ts}
  cd packages/server && npm run prettier:fix: any of: packages/server/**/*.{js,ts}
  cd packages/shared && npm run lint:fix: any of: packages/shared/**/*.{js,ts}
  cd packages/shared && npm run prettier:fix: any of: packages/shared/**/*.{js,ts}
  prettier --write: any of: **/*.{json,md,yml,yaml}
