Repository navikt/nav-enonicxp-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix, cd packages/shared && npm run lint:fix, cd packages/shared && npm run prettier:fix, prettier --write

Bump dekoratøren moduler (#2931)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

Setter opp første PoC på forbedret helsesjekk
  packages/nextjs/src/pages/api/internal/health-probe.ts
  packages/nextjs/src/pages/api/internal/isAlive.ts
  packages/nextjs/src/pages/fail-health-test.tsx
  packages/nextjs/src/pages/health-render.tsx
  packages/nextjs/src/utils/health-failure-simulation.ts
  packages/server/src/health/health-metrics.ts
  packages/server/src/health/health-monitor.ts
  packages/server/src/health/process-health.ts
  packages/server/src/server-setup/server-setup-dev.ts
  packages/server/src/server-setup/server-setup-failover.ts
  packages/server/src/server-setup/server-setup.ts
  packages/server/src/server.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix

Fjerner unødvendig isalive-endepunkt
  packages/server/src/server-setup/server-setup-failover.ts
  packages/server/src/server-setup/server-setup.ts
Due: cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix

Øker replikas i dev2 for testing
  .nais/hpa/hpa-dev2.yml
  packages/server/src/health/health-monitor.ts
Due: cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix, prettier --write

Forsøker å flytte health-render til internal
  packages/nextjs/src/pages/internal/health-render.tsx
  packages/server/src/health/health-monitor.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix

Forsøker å flytte health-render til internal
  packages/server/src/server-setup/server-setup-dev.ts
Due: cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix

Oppdaterer til mer fornuftig klassenavn
  packages/server/src/health/health-monitor.ts
Due: cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix

Forbedrer helsemonitor etter diskusjonsmøte
  packages/nextjs/src/pages/fail-health-test.tsx
  packages/nextjs/src/pages/internal/health-render.tsx
  packages/nextjs/src/utils/health-failure-simulation.ts
  packages/server/src/health/health-monitor.ts
  packages/server/src/health/process-error-handler.ts
  packages/server/src/health/process-health.ts
  packages/server/src/server-setup/server-setup-failover.ts
  packages/server/src/server.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix

Legger til test for å krasje server helt
  packages/nextjs/src/pages/fail-health-test.tsx
  packages/nextjs/src/utils/health-failure-simulation.ts
  packages/server/src/server.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix

Fjerner steplist (ul) når denne er tom
  packages/nextjs/src/components/layouts/mellomsteg/MellomstegLayout.tsx
  packages/nextjs/src/components/pages/contactStepPage/ContactStepPage.tsx
  packages/nextjs/src/components/pages/formIntermediateStepPage/FormIntermediateStepPage.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Fikser feil i HPA-config. Skalerer opp pods i dev1 for test
  .nais/hpa/hpa-dev1.yml
  .nais/hpa/hpa-dev2.yml
Due: prettier --write

Fjerner steplist (ul) når denne er tom (#2934)
  packages/nextjs/src/components/layouts/mellomsteg/MellomstegLayout.tsx
  packages/nextjs/src/components/pages/contactStepPage/ContactStepPage.tsx
  packages/nextjs/src/components/pages/formIntermediateStepPage/FormIntermediateStepPage.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Fikser mindre issues etter SonarCloud-klaging
  packages/server/src/health/health-monitor.ts
  packages/server/src/server.ts
Due: cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix

Fjerner simulering av helseproblemer og krasj før prodsetting
  packages/nextjs/src/pages/fail-health-test.tsx
  packages/nextjs/src/pages/internal/health-render.tsx
  packages/nextjs/src/utils/health-failure-simulation.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Skalerer ned replicas i dev1 etter testing
  .nais/hpa/hpa-dev1.yml
  .nais/hpa/hpa-dev2.yml
Due: prettier --write

Forbedre readiness endepunkter (#2935)
  .nais/hpa/hpa-dev1.yml
  packages/nextjs/src/pages/api/internal/isAlive.ts
  packages/nextjs/src/pages/internal/health-render.tsx
  packages/server/src/health/health-metrics.ts
  packages/server/src/health/health-monitor.ts
  packages/server/src/health/process-error-handler.ts
  packages/server/src/server-setup/server-setup-dev.ts
  packages/server/src/server-setup/server-setup-failover.ts
  packages/server/src/server-setup/server-setup.ts
  packages/server/src/server.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix, prettier --write

Blokkerer IIS backslash-forsøk
  packages/server/src/req-handlers/path-validation-middleware.test.ts
  packages/server/src/req-handlers/path-validation-middleware.ts
Due: cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix

Legger til variasjoner av backslash-invalidering
  packages/server/src/req-handlers/path-validation-middleware.test.ts
  packages/server/src/req-handlers/path-validation-middleware.ts
Due: cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix

Fjerner overflødig test
  packages/server/src/req-handlers/path-validation-middleware.test.ts
Due: cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix

Blokkerer IIS backslash-forsøk (#2942)
  packages/server/src/req-handlers/path-validation-middleware.test.ts
  packages/server/src/req-handlers/path-validation-middleware.ts
Due: cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix

fikset css-feil i OversiktListPanel og la til komponent i Storybook
  packages/nextjs/src/components/pages/oversikt-page/forms-list/panel/OversiktListPanel.module.scss
  packages/nextjs/src/components/pages/oversikt-page/forms-list/panel/OversiktListPanel.stories.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-oversikt-page-forms-list-panel-oversiktlistpanel--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-oversikt-page-forms-list-panel-oversiktlistpanel--tjenester-oversikt-mobile-linux-mobile-linux.png
Due: none

Update packages/nextjs/src/components/pages/oversikt-page/forms-list/panel/OversiktListPanel.module.scss
  packages/nextjs/src/components/pages/oversikt-page/forms-list/panel/OversiktListPanel.module.scss
Due: none

fikset css-feil i OversiktListPanel og la til komponent i Storybook (#2943)
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-oversikt-page-forms-list-panel-oversiktlistpanel--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-oversikt-page-forms-list-panel-oversiktlistpanel--tjenester-oversikt-mobile-linux-mobile-linux.png
  packages/nextjs/src/components/pages/oversikt-page/forms-list/panel/OversiktListPanel.module.scss
  packages/nextjs/src/components/pages/oversikt-page/forms-list/panel/OversiktListPanel.stories.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Forsøker å fetche fra XP 3 ganger ved ECONNRESET etc
  packages/shared/src/fetch-utils.ts
Due: cd packages/shared && npm run lint:fix, cd packages/shared && npm run prettier:fix

Legger til prinsippiell blocker for ikke-idempotente http-metoder
  packages/shared/src/fetch-utils.ts
Due: cd packages/shared && npm run lint:fix, cd packages/shared && npm run prettier:fix

fjern overstyring av aria-label i ProductDetailsPart
  packages/nextjs/src/components/parts/product-details/ProductDetailsPart.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Justering av varehylle på situasjonssider
  packages/nextjs/src/components/_common/tjenesterOversiktPanel/TjenesterOversiktPanel.module.scss
  packages/nextjs/src/components/_common/tjenesterOversiktPanel/TjenesterOversiktPanel.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/fragment-utenfor-innholdsseksjon/FragmentUtenforInnholdsseksjon.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/fragment-utenfor-innholdsseksjon/pageContentFragmentUtenforInnholdsseksjon.tsx
  packages/nextjs/src/components/layouts/flex-cols/FlexColsLayout.module.scss
  packages/nextjs/src/components/layouts/flex-cols/SituationPageFlexColsLayout.tsx
  packages/nextjs/src/components/pages/oversikt-page/forms-list/panel/OversiktListPanel.module.scss
  packages/nextjs/src/components/pages/oversikt-page/forms-list/panel/OversiktListPanel.tsx
  packages/nextjs/src/components/parts/product-card/ProductCardPart.tsx
  packages/nextjs/src/types/component-props/layouts/situation-flex-cols.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Åpner for nye qbrick-hosts i CSP
  packages/nextjs/next.config.js
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Åpner opp for nye Qbrick-hosts i CSP (#2949)
  packages/nextjs/next.config.js
  packages/shared/src/fetch-utils.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, cd packages/shared && npm run lint:fix, cd packages/shared && npm run prettier:fix

Fjerner ariaLabel på ProductDetailsPart - skjermleser vil uansett lese opp teksten på knappen
  packages/nextjs/src/components/parts/product-details/ProductDetailsPart.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Oppdaterer lock-fil
  package.json
  pnpm-lock.yaml
Due: prettier --write

Utvider CSP for Firefox og Edge
  packages/nextjs/next.config.js
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Utvider CSP for Firefox og Edge (#2951)
  packages/nextjs/next.config.js
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Fjerner ariaLabel på ProductDetailsPart - skjermleser vil uansett lese opp teksten på knappen (#2950)
  packages/nextjs/src/components/parts/product-details/ProductDetailsPart.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Oppdaterer playwright 1.61.0
  .github/workflows/visual-changes-bot.yml
Due: prettier --write

Bedre labling av cache-rapportering
  packages/server/src/cache/page-cache-handler.ts
Due: cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix

Forbedrer konflikt i registrering av metrikker
  packages/server/src/health/health-metrics.ts
  packages/server/src/metrics/request-metrics.ts
Due: cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix

Legger til bedre metrikker via prommiddleware
  packages/server/jest.config.mjs
  packages/server/src/cache/page-cache-handler.ts
  packages/server/src/metrics/request-metrics.ts
  packages/server/src/req-handlers/path-validation-middleware.ts
  packages/server/src/server.ts
Due: cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix

Legger til metrikk for malformed url. Fjerner delay pga falsk alarm ved økt responstid
  packages/server/src/server.ts
Due: cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix

Path conditions:
  cd packages/nextjs && npm run lint:fix: any of: packages/nextjs/**/*.{js,jsx,ts,tsx}
  cd packages/nextjs && npm run prettier:fix: any of: packages/nextjs/**/*.{js,jsx,ts,tsx}
  cd packages/server && npm run lint:fix: any of: packages/server/**/*.{js,ts}
  cd packages/server && npm run prettier:fix: any of: packages/server/**/*.{js,ts}
  cd packages/shared && npm run lint:fix: any of: packages/shared/**/*.{js,ts}
  cd packages/shared && npm run prettier:fix: any of: packages/shared/**/*.{js,ts}
  prettier --write: any of: **/*.{json,md,yml,yaml}
