Repository navikt/nav-enonicxp-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix, cd packages/shared && npm run lint:fix, cd packages/shared && npm run prettier:fix, prettier --write

revert scroll tolerance
  packages/nextjs/src/components/_common/pageNavigationMenu/DynamicNavigation.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

sett scroll margin top på single col page også
  packages/nextjs/src/components/_common/headers/Header.module.scss
Due: none

Oppdatert til node v24 (#2673)
  .failover/Dockerfile.failover
  .github/workflows/build-and-test.yml
  .github/workflows/build-image.yml
  .github/workflows/deploy-alerts.yml
  .github/workflows/deploy-storybook.yml
  .github/workflows/deploy-to-nais.yml
  .github/workflows/visual-changes-bot.yml
  .npmrc
  Dockerfile
  package-lock.json
  package.json
Due: prettier --write

Add !important to max-width in common.scss and adjust layout in SituationPage.module.scss
  packages/nextjs/src/common.scss
  packages/nextjs/src/components/pages/situationPage/SituationPage.module.scss
Due: none

fjern overflødig flex
  packages/nextjs/src/components/pages/situationPage/SituationPage.module.scss
Due: none

rekkefølge likt innholdssidememdmeny
  packages/nextjs/src/components/pages/situationPage/SituationPage.module.scss
Due: none

bruk padding-top
  packages/nextjs/src/components/pages/situationPage/SituationPage.module.scss
Due: none

Refactor spacing styles by introducing a mixin for centered content in common.scss and applying it to InnholdssideMedMeny and SituationPage components.
  packages/nextjs/src/common.scss
  packages/nextjs/src/components/layouts/innholdsside-med-meny/InnholdssideMedMeny.module.scss
  packages/nextjs/src/components/pages/situationPage/SituationPage.module.scss
Due: none

trekk ut padding-top pga pullup
  packages/nextjs/src/common.scss
  packages/nextjs/src/components/layouts/innholdsside-med-meny/InnholdssideMedMeny.module.scss
  packages/nextjs/src/components/pages/situationPage/SituationPage.module.scss
Due: none

Refactor component node type and rename contact option function for clarity in SituationPage component
  packages/nextjs/src/components/pages/situationPage/SituationPage.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Refactor SituationPage component to simplify region and component handling
  packages/nextjs/src/components/pages/situationPage/SituationPage.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

rename components
  packages/nextjs/src/components/pages/situationPage/SituationPage.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Refactor komponentErKontaktModul function for improved type safety and clarity
  packages/nextjs/src/components/pages/situationPage/SituationPage.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Rename and refactor componentIsContactModule for clarity and consistency in SituationPage
  packages/nextjs/src/components/pages/situationPage/SituationPage.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Update comment in componentIsContactModule for clarity and context
  packages/nextjs/src/components/pages/situationPage/SituationPage.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Tatt vekk alt, bortsett fra path-validering
  package-lock.json
  packages/server/src/req-handlers/path-validation-middleware.test.ts
  packages/server/src/req-handlers/path-validation-middleware.ts
  packages/server/src/req-handlers/rate-limit-middleware.ts
  packages/server/src/server.ts
Due: cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix, prettier --write

Tatt vekk alt, bortsett fra path-validering
  SECURITY.md
  SECURITY_IMPLEMENTATION.md
  SECURITY_QUICK_REFERENCE.md
Due: prettier --write

Tatt vekk alt, bortsett fra path-validering
  packages/server/src/req-handlers/security-logging-middleware.ts
Due: cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix

Refactor extractLastComponentIfContactModule for improved clarity and structure
  packages/nextjs/src/components/pages/situationPage/SituationPage.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Update comments in componentIsContactModule and extractLastComponentIfContactModule for clarity and context
  packages/nextjs/src/components/pages/situationPage/SituationPage.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Refactor extractLastComponentIfContactModule for clarity and consistency in variable naming
  packages/nextjs/src/components/pages/situationPage/SituationPage.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Refactor componentIsContactModule and extractLastComponentIfContactModule for improved clarity and consistency
  packages/nextjs/src/components/pages/situationPage/SituationPage.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

kommentar rekursivt
  packages/nextjs/src/components/pages/situationPage/SituationPage.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Refactor extractLastComponentIfContactModule to improve variable naming and consistency
  packages/nextjs/src/components/pages/situationPage/SituationPage.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Refactor SectionWithHeaderLayout to hide section navigation on SituationPage
  packages/nextjs/src/components/layouts/section-with-header/SectionWithHeaderLayout.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

legg til INNHOLD PÅ SIDEN på mobil
  packages/nextjs/src/components/_common/pageNavigationMenu/CombinedMenu/CombinedMenu.tsx
  packages/nextjs/src/components/_common/pageNavigationMenu/PageNavigationMenu.module.scss
  packages/nextjs/src/components/_common/pageNavigationMenu/PageNavigationMenu.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

fiks alignment på sidemenyen på situasjonssider. Fjern gammel hack
  packages/nextjs/src/components/_common/headers/generalPageHeader/GeneralPageHeader.module.scss
  packages/nextjs/src/components/_common/headers/generalPageHeader/GeneralPageHeader.tsx
  packages/nextjs/src/components/layouts/section-with-header/SectionWithHeaderLayoutV2.module.scss
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

putt tilbake ariaLabel når title ikke finnes
  packages/nextjs/src/components/_common/pageNavigationMenu/PageNavigationMenu.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Fix conditional rendering of title in PageNavigationMenu component
  packages/nextjs/src/components/_common/pageNavigationMenu/PageNavigationMenu.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Ta vekk ekstra logging
  packages/server/src/req-handlers/path-validation-middleware.ts
  packages/server/src/server.ts
Due: cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix

fjern styling som var knyttet til konseptet med sticky meny på mobil, som ble forkastet
  packages/nextjs/src/components/_common/trekkspill/Trekkspill.module.scss
Due: none

fjern common import
  packages/nextjs/src/components/_common/trekkspill/Trekkspill.module.scss
Due: none

Tweaks
  packages/server/src/req-handlers/path-validation-middleware.ts
Due: cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix

Godkjenner ikke XP tjenesteprefix inne i urlen
  packages/server/src/server.ts
Due: cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix

Fiks tester (403->400 på på ugyldige XP-kall)
  packages/server/src/req-handlers/path-validation-middleware.test.ts
Due: cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix

Oppgraderer dependabot-config
  .github/dependabot.yml
  package-lock.json
Due: prettier --write

reverser pullup til spacing-12 og juster spacing for ingress på situasjonsside og alert-boks
  packages/nextjs/src/components/layouts/section-with-header/SectionWithHeaderLayoutV2.module.scss
Due: none

øk spacing litt
  packages/nextjs/src/components/layouts/section-with-header/SectionWithHeaderLayoutV2.module.scss
Due: none

fjern ikon-styling som er flyttet til AngleIcon
  packages/nextjs/src/components/_common/pageNavigationMenu/PageNavigationMenu.module.scss
Due: none

Path conditions:
  cd packages/nextjs && npm run lint:fix: any of: packages/nextjs/**/*.{js,jsx,ts,tsx}
  cd packages/nextjs && npm run prettier:fix: any of: packages/nextjs/**/*.{js,jsx,ts,tsx}
  cd packages/server && npm run lint:fix: any of: packages/server/**/*.{js,ts}
  cd packages/server && npm run prettier:fix: any of: packages/server/**/*.{js,ts}
  cd packages/shared && npm run lint:fix: any of: packages/shared/**/*.{js,ts}
  cd packages/shared && npm run prettier:fix: any of: packages/shared/**/*.{js,ts}
  prettier --write: any of: **/*.{json,md,yml,yaml}
