Repository navikt/nav-enonicxp-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix, cd packages/shared && npm run lint:fix, cd packages/shared && npm run prettier:fix, prettier --write

.lintstagedrc.json:

{
    "packages/nextjs/**/*.{js,jsx,ts,tsx}": [
        "cd packages/nextjs && npm run lint:fix",
        "cd packages/nextjs && npm run prettier:fix"
    ],
    "packages/server/**/*.{js,ts}": [
        "cd packages/server && npm run lint:fix",
        "cd packages/server && npm run prettier:fix"
    ],
    "packages/shared/**/*.{js,ts}": [
        "cd packages/shared && npm run lint:fix",
        "cd packages/shared && npm run prettier:fix"
    ],
    "**/*.{json,md,yml,yaml}": ["prettier --write"]
}

Justerer antall minimum replicas og hyppigere sjekk av readiness
  .nais/config.yml
  .nais/hpa/hpa-prod.yml
Due: prettier --write

Justerer antall minimum replicas og hyppigere sjekk av readiness (#3047)
  .nais/config.yml
  .nais/hpa/hpa-prod.yml
Due: prettier --write

Oppdaterer lock-fil
  pnpm-lock.yaml
Due: prettier --write

Oppdaterer Playwright
  .github/workflows/visual-changes-bot.yml
Due: prettier --write

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-expandable--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-expandable--is-open-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-expandable--legacy-usage-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-kalkulator--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-kalkulator-kalkulatorfield--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-knapp--full-width-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-lenkepanel-legacy-lenkepanelnavno--ikon-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-oversikt-filters-summary-oversiktfilterssummary--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-oversikt-filters-summary-oversiktfilterssummary--no-hits-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-productpanelexpandable--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-productpanelexpandable--with-ingress-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-qbrick-video-qbrickvideo--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-qbrick-video-qbrickvideo--hover-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-skjemadetaljer--alerts-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-skjemadetaljer--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-skjemadetaljer--language-disclaimer-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-skjemadetaljer--with-form-numbers-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-trekkspill--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-uxsignalswidget--primary-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-layouts-index-page-area-page-areapageheader--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-layouts-index-page-area-page-banner-areapageheaderbanner--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-contenttypenotsupportedpage--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-office-page-officedetails--arbeidslivssenter-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-office-page-officedetails--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-office-page-officedetails-officeinformation--closed-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-office-page-officedetails-officeinformation--open-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-office-page-officedetails-phoneposter--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-oversikt-page-forms-list-panel-oversiktlistpanel--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-parts-readmorepart--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-parts-readmorepart--opened-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-parts-situasjonskort-situasjonskortpart--disabled-mobile-linux-mobile-linux.png
Due: none

Remove line
  packages/nextjs/src/components/_common/headers/featuredHeader/FeaturedHeader.module.scss
Due: none

Fix spacing
  packages/nextjs/src/components/_common/headers/featuredHeader/DateLine/DateLine.module.scss
  packages/nextjs/src/components/pages/current-topic-page/CurrentTopicPage.module.scss
Due: none

Balance title
  packages/nextjs/src/components/_common/headers/featuredHeader/FeaturedHeader.module.scss
Due: none

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-headers-featuredheader--default-mobile-linux-mobile-linux.png
Due: none

chore(ui): justering i artikkelmal - del to! (#3048)
  packages/nextjs/src/components/layouts/legacy/LegacyLayout.tsx
  packages/nextjs/src/components/parts/_legacy/artikkel/ArtikkelLegacyPart.tsx
  packages/nextjs/src/components/parts/_legacy/artikkel/komponenter/ArtikkelDato.module.scss
  packages/nextjs/src/components/parts/_legacy/artikkel/komponenter/NewsPressHeader.tsx
  packages/nextjs/src/components/parts/_legacy/page-heading/PageHeadingLegacyPart.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

chore(css): fjerne unødvendig linje i aktuelt-malen (#3049)
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-headers-featuredheader--default-mobile-linux-mobile-linux.png
  packages/nextjs/src/components/_common/headers/featuredHeader/DateLine/DateLine.module.scss
  packages/nextjs/src/components/_common/headers/featuredHeader/FeaturedHeader.module.scss
  packages/nextjs/src/components/pages/current-topic-page/CurrentTopicPage.module.scss
Due: none

Fikser dobbel eller nøstet encoding
  packages/server/src/req-handlers/path-validation-middleware.ts
Due: cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix

Fikser dobbel eller nøstet encoding (#3050)
  packages/server/src/req-handlers/path-validation-middleware.ts
Due: cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix

Reverserer tilbake til webpack
  packages/nextjs/next-env.d.ts
  packages/nextjs/next.config.js
  packages/nextjs/package.json
  packages/nextjs/src/components/_common/chevron/FancyChevronCommon.module.scss
  packages/nextjs/src/components/_common/chevron/FancyChevronCommon.ts
  packages/nextjs/src/components/_common/headers/featuredHeader/TagLine/TagLine.tsx
  packages/nextjs/src/components/_common/lenkepanel-legacy/LenkepanelNavNo.module.scss
  packages/nextjs/src/components/_common/omradekort/Omradekort.tsx
  packages/nextjs/src/components/_common/omradekort/graphics/OmradekortGraphicsCommon.module.scss
  packages/nextjs/src/components/_common/omradekort/graphics/OmradekortGraphicsCommon.ts
  packages/nextjs/src/components/_common/press-landing/PressNewsItem.tsx
  packages/nextjs/src/components/_editor-only/editor-hacks/auto-refresh-disable/AutoRefreshDisableHack.module.scss
  packages/nextjs/src/components/_editor-only/editorHelp/EditorHelp.tsx
  packages/nextjs/src/components/layouts/index-page/area-page/AreaPageHeader.tsx
  packages/nextjs/src/components/layouts/index-page/area-page/banner/AreaPageHeaderBanner.tsx
  packages/nextjs/src/components/pages/office-editorial-page/OfficeEditorialPage.module.scss
  packages/nextjs/src/components/pages/office-page/OfficePage.module.scss
  packages/nextjs/src/components/parts/_legacy/artikkel/komponenter/Faktaboks.tsx
  packages/nextjs/src/components/parts/_legacy/artikkel/komponenter/NewsPressHeader.tsx
  packages/nextjs/tsconfig.json
  packages/nextjs/turbopack-empty.js
  packages/server/src/server.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix, prettier --write

Reverter yaml-filer med feil indentering
  packages/nextjs/next-env.d.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Reverter yaml-filer med feil indentering
  .github/actions/build-image/action.yml
  .github/dependabot.yml
  .nais/hpa/hpa-dev3.yml
  .nais/vars/vars-dev3-failover.yml
Due: prettier --write

Reverserer scrollRestoration
  packages/nextjs/next.config.js
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Hindre at frontend forsøker å hente cache key og kontakte Valkey når den kjører lokalt
  packages/nextjs/src/utils/fetch/fetch-cache-key.ts
  packages/shared/src/redis_local.ts
  pnpm-lock.yaml
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, cd packages/shared && npm run lint:fix, cd packages/shared && npm run prettier:fix, prettier --write

Oppdaterer next-versjon
  packages/nextjs/src/components/_common/payoutDates/skjemadetaljer/Skjemadetaljer.module.scss
  packages/nextjs/src/components/_common/payoutDates/skjemadetaljer/Skjemadetaljer.stories.tsx
  packages/nextjs/src/components/_common/payoutDates/skjemadetaljer/Skjemadetaljer.tsx
  packages/nextjs/src/components/_common/payoutDates/skjemadetaljer/SkjemadetaljerButton.module.scss
  packages/nextjs/src/components/_common/payoutDates/skjemadetaljer/SkjemadetaljerButton.tsx
  packages/nextjs/src/components/macros/skjemadetaljer/MacroSkjemadetaljer.tsx
  packages/nextjs/src/components/pages/forms-overview-page/forms-list/panel/FormsOverviewListPanel.tsx
  packages/nextjs/src/components/pages/oversikt-page/forms-list/panel/OversiktListPanel.tsx
  packages/nextjs/src/components/pages/skjemadetaljer-preview-page/SkjemadetaljerPreviewPage.tsx
  packages/nextjs/src/components/parts/skjemadetaljer/SkjemadetaljerPart.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, prettier --write

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-expandable--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-expandable--is-open-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-expandable--legacy-usage-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-kalkulator--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-kalkulator-kalkulatorfield--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-knapp--full-width-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-lenkepanel-legacy-lenkepanelnavno--ikon-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-oversikt-filters-summary-oversiktfilterssummary--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-oversikt-filters-summary-oversiktfilterssummary--no-hits-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-payoutdates-skjemadetaljer--alerts-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-payoutdates-skjemadetaljer--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-payoutdates-skjemadetaljer--language-disclaimer-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-payoutdates-skjemadetaljer--with-form-numbers-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-productpanelexpandable--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-productpanelexpandable--with-ingress-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-qbrick-video-qbrickvideo--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-qbrick-video-qbrickvideo--hover-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-trekkspill--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-uxsignalswidget--primary-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-layouts-index-page-area-page-areapageheader--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-layouts-index-page-area-page-banner-areapageheaderbanner--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-contenttypenotsupportedpage--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-office-page-officedetails--arbeidslivssenter-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-office-page-officedetails--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-office-page-officedetails-officeinformation--closed-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-office-page-officedetails-officeinformation--open-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-office-page-officedetails-phoneposter--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-oversikt-page-forms-list-panel-oversiktlistpanel--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-parts-readmorepart--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-parts-readmorepart--opened-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-parts-situasjonskort-situasjonskortpart--disabled-mobile-linux-mobile-linux.png
Due: none

Oppdaterer playwright
  .github/workflows/visual-changes-bot.yml
Due: prettier --write

Resolve broken lock-fil
  pnpm-lock.yaml
Due: prettier --write

bumper moduler til 4.5.0
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

bumper moduler til 4.5.0 (#3059)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

Nedgradere eslint-config-next
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-payoutdates-skjemadetaljer--alerts-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-payoutdates-skjemadetaljer--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-payoutdates-skjemadetaljer--language-disclaimer-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-payoutdates-skjemadetaljer--with-form-numbers-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-skjemadetaljer--alerts-desktop-linux-desktop-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-skjemadetaljer--default-desktop-linux-desktop-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-skjemadetaljer--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-skjemadetaljer--language-disclaimer-desktop-linux-desktop-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-skjemadetaljer--language-disclaimer-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-skjemadetaljer--with-form-numbers-desktop-linux-desktop-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-skjemadetaljer--with-form-numbers-mobile-linux-mobile-linux.png
Due: none

Avviser gamle cms-urler og path som inneholder ".aws"
  packages/server/src/req-handlers/path-validation-middleware.ts
Due: cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix

Justering (litteral .)
  packages/server/src/req-handlers/path-validation-middleware.ts
Due: cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix

Legger til tester
  packages/server/src/req-handlers/path-validation-middleware.test.ts
Due: cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix

Mer path-validering (#3060)
  packages/server/src/req-handlers/path-validation-middleware.test.ts
  packages/server/src/req-handlers/path-validation-middleware.ts
Due: cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix

Nedgraderer Faro midlertidig pga cors-issues
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

Nedgraderer Faro midlertidig pga cors-issues (#3061)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

Trigge ny sha
  README.md
Due: prettier --write

Trigge ny sha (#3062)
  README.md
Due: prettier --write

Oppdaterer Next-versjon
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

Oppdatere til Next 16 (#2970)
  .github/workflows/visual-changes-bot.yml
  packages/nextjs/next-env.d.ts
  packages/nextjs/next.config.js
  packages/nextjs/package.json
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-payoutdates-skjemadetaljer--alerts-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-payoutdates-skjemadetaljer--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-payoutdates-skjemadetaljer--language-disclaimer-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-payoutdates-skjemadetaljer--with-form-numbers-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-skjemadetaljer--alerts-desktop-linux-desktop-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-skjemadetaljer--default-desktop-linux-desktop-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-skjemadetaljer--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-skjemadetaljer--language-disclaimer-desktop-linux-desktop-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-skjemadetaljer--language-disclaimer-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-skjemadetaljer--with-form-numbers-desktop-linux-desktop-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-skjemadetaljer--with-form-numbers-mobile-linux-mobile-linux.png
  packages/nextjs/src/components/_common/payoutDates/skjemadetaljer/Skjemadetaljer.module.scss
  packages/nextjs/src/components/_common/payoutDates/skjemadetaljer/Skjemadetaljer.stories.tsx
  packages/nextjs/src/components/_common/payoutDates/skjemadetaljer/Skjemadetaljer.tsx
  packages/nextjs/src/components/_common/payoutDates/skjemadetaljer/SkjemadetaljerButton.module.scss
  packages/nextjs/src/components/_common/payoutDates/skjemadetaljer/SkjemadetaljerButton.tsx
  packages/nextjs/src/components/macros/skjemadetaljer/MacroSkjemadetaljer.tsx
  packages/nextjs/src/components/pages/forms-overview-page/forms-list/panel/FormsOverviewListPanel.tsx
  packages/nextjs/src/components/pages/oversikt-page/forms-list/panel/OversiktListPanel.tsx
  packages/nextjs/src/components/pages/skjemadetaljer-preview-page/SkjemadetaljerPreviewPage.tsx
  packages/nextjs/src/components/parts/skjemadetaljer/SkjemadetaljerPart.tsx
  packages/nextjs/src/utils/fetch/fetch-cache-key.ts
  packages/nextjs/tsconfig.json
  packages/server/src/server.ts
  packages/shared/src/redis_local.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix, cd packages/shared && npm run lint:fix, cd packages/shared && npm run prettier:fix, prettier --write
