Repository navikt/nav-enonicxp-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix, cd packages/shared && npm run lint:fix, cd packages/shared && npm run prettier:fix, prettier --write

.lintstagedrc.json:

{
    "packages/nextjs/**/*.{js,jsx,ts,tsx}": [
        "cd packages/nextjs && npm run lint:fix",
        "cd packages/nextjs && npm run prettier:fix"
    ],
    "packages/server/**/*.{js,ts}": [
        "cd packages/server && npm run lint:fix",
        "cd packages/server && npm run prettier:fix"
    ],
    "packages/shared/**/*.{js,ts}": [
        "cd packages/shared && npm run lint:fix",
        "cd packages/shared && npm run prettier:fix"
    ],
    "**/*.{json,md,yml,yaml}": ["prettier --write"]
}

Reverserer noen av dataene til å bli inkludert i message
  packages/nextjs/src/components/pages/global-values-page/components/values/GVItemsCustomOrder.tsx
  packages/nextjs/src/utils/fetch/fetch-cache-key.ts
  packages/nextjs/src/utils/fetch/fetch-content.ts
  packages/nextjs/src/utils/fetch/fetch-prerender-paths.ts
  packages/server/src/cache/page-cache-handler.ts
  packages/server/src/req-handlers/invalidate-paths.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix

Fjerner log-nivåer som vi ikke bruker
  packages/shared/src/logger.ts
Due: cd packages/shared && npm run lint:fix, cd packages/shared && npm run prettier:fix

Refactor SingleColPage layout and add grid mixin; update SituationPage styles
  packages/nextjs/src/common.scss
  packages/nextjs/src/components/layouts/single-col-page/SingleColPage.module.scss
  packages/nextjs/src/components/layouts/single-col-page/SingleColPage.tsx
  packages/nextjs/src/components/pages/situationPage/SituationPage.module.scss
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

fjern kommentert kode
  packages/nextjs/src/components/parts/PartsMapper.module.scss
Due: none

Refactor page navigation styles by creating a mixin for placement and applying it in PartsMapper
  packages/nextjs/src/components/_common/pageNavigationMenu/CombinedMenu.tsx/CombinedMenu.module.scss
  packages/nextjs/src/components/parts/PartsMapper.module.scss
Due: none

Oppdaterer diverse avhengigheter januar 2025
  package-lock.json
  package.json
  packages/nextjs/package.json
  packages/server/package.json
Due: prettier --write

Fikser feil dersom aapningstider leveres som objekt
  packages/nextjs/src/components/parts/_legacy/office-information/reception/Reception.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Lagt til valg for expandAll i contentProps
  packages/nextjs/src/components/_common/expandable/Expandable.tsx
  packages/nextjs/src/components/_common/trekkspill/Trekkspill.tsx
  packages/nextjs/src/components/parts/readMorePart/ReadMorePart.tsx
  packages/nextjs/src/types/content-props/_content-common.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

rendre kontaktmodulen på situasjonssider utenfor griden
  packages/nextjs/src/components/_common/pageNavigationMenu/CombinedMenu.tsx/CombinedMenu.module.scss
  packages/nextjs/src/components/layouts/flex-cols/FlexColsLayout.module.scss
  packages/nextjs/src/components/pages/situationPage/SituationPage.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Refactor SituationPage component to simplify last component handling and improve readability
  packages/nextjs/src/components/pages/situationPage/SituationPage.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Remove commented max-width property and ensure consistent padding in SituationPage styles
  packages/nextjs/src/components/pages/situationPage/SituationPage.module.scss
Due: none

Refactor page navigation styles to use a centralized mixin for placement in CombinedMenu and PartsMapper
  packages/nextjs/src/common.scss
  packages/nextjs/src/components/_common/pageNavigationMenu/CombinedMenu.tsx/CombinedMenu.module.scss
  packages/nextjs/src/components/parts/PartsMapper.module.scss
Due: none

fiks dobbel slash
  packages/nextjs/src/components/_common/pageNavigationMenu/CombinedMenu.tsx/CombinedMenu.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

fiks mappenavn
  packages/nextjs/src/components/_common/pageNavigationMenu/CombinedMenu/CombinedMenu.module.scss
  packages/nextjs/src/components/_common/pageNavigationMenu/CombinedMenu/CombinedMenu.tsx
  packages/nextjs/src/components/layouts/innholdsside-med-meny/InnholdssideMedMeny.tsx
  packages/nextjs/src/components/parts/page-navigation-menu/PageNavigationMenuPart.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

bruk mixin for grid
  packages/nextjs/src/components/layouts/innholdsside-med-meny/InnholdssideMedMeny.module.scss
Due: none

ikke bruk string
  packages/nextjs/src/components/parts/PartsMapper.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Refactor CombinedMenu to use pageProps for language in translator
  packages/nextjs/src/components/_common/pageNavigationMenu/CombinedMenu/CombinedMenu.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Fix condition for applying page navigation menu styles in PartsMapper
  packages/nextjs/src/components/parts/PartsMapper.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Oppgraderer til beta av nav-office-reception-info for testing
  package-lock.json
  packages/nextjs/package.json
Due: prettier --write

Oppdaterer til endelig ny versjon av nav-office-reception-info
  package-lock.json
  packages/nextjs/package.json
Due: prettier --write

Forbedrer navning av 'error' etter feedback på PR
  packages/nextjs/src/components/_editor-only/version-history/VersionHistory.tsx
  packages/nextjs/src/components/macros/global-value-with-math/MacroGlobalValueWithMath.tsx
  packages/nextjs/src/pages/_error.tsx
  packages/nextjs/src/utils/api-error-handler.ts
  packages/nextjs/src/utils/fetch/fetch-cache-key.ts
  packages/nextjs/src/utils/fetch/fetch-content.ts
  packages/nextjs/src/utils/fetch/fetch-images.ts
  packages/server/src/cache/revalidator-proxy-heartbeat.ts
  packages/shared/src/fetch-utils.ts
  packages/shared/src/redis_local.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix, cd packages/shared && npm run lint:fix, cd packages/shared && npm run prettier:fix

Apply suggestions from code review
  packages/nextjs/src/components/pages/situationPage/SituationPage.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Refactor SituationPage to improve component rendering logic and handle contact options
  packages/nextjs/src/components/pages/situationPage/SituationPage.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Tillat at paneler kan lukkes selv om expandall er true
  packages/nextjs/src/store/hooks/useCheckAndOpenPanel.ts
  packages/nextjs/src/store/hooks/useCheckAndOpenTrekkspillPanel.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

sett styling for page nav part globalt istedenfor å tulle med partsmapper
  packages/nextjs/src/components/parts/PartsMapper.module.scss
  packages/nextjs/src/components/parts/PartsMapper.tsx
  packages/nextjs/src/global.scss
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Oppdaterer package-lock
  package-lock.json
Due: prettier --write

Oppdaterer playwright
  .github/workflows/visual-changes-bot.yml
Due: prettier --write

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-headers-generalpageheader--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-headers-generalpageheader-generalpageheadertagline--employer-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-press-landing-pressshortcuts--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-situationpage--default-mobile-linux-mobile-linux.png
Due: none

Bedre håndtering av fuzz testing
  packages/nextjs/src/components/_common/image/NextImage.tsx
  packages/server/src/server.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix

Legger til 15 sekunder delay på 'Bad request' for å unngå bulk fuzz testing forsøk
  packages/server/src/server.ts
Due: cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix

Tillat at paneler kan lukkes selv om expandall er true (#2662)
  packages/nextjs/src/store/hooks/useCheckAndOpenPanel.ts
  packages/nextjs/src/store/hooks/useCheckAndOpenTrekkspillPanel.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Endrer sjekk til optional chaining ved håndtering av encoding-feil
  packages/server/src/server.ts
Due: cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix

Lagt til valg for expandAll i contentProps (#2639)
  packages/nextjs/src/components/_common/expandable/Expandable.tsx
  packages/nextjs/src/components/_common/trekkspill/Trekkspill.tsx
  packages/nextjs/src/components/parts/readMorePart/ReadMorePart.tsx
  packages/nextjs/src/types/content-props/_content-common.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

spacing menypunkter
  packages/nextjs/src/components/_common/pageNavigationMenu/DynamicNavigation.module.scss
Due: none

ikon på h2
  packages/nextjs/src/components/_common/pageNavigationMenu/DynamicNavigation.module.scss
  packages/nextjs/src/components/_common/pageNavigationMenu/DynamicNavigation.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

øker scroll tolerance litt for å hindre at menypunktet over blir valgt når man har scrollet langt ned og trykker på et av de første punktene
  packages/nextjs/src/components/_common/pageNavigationMenu/DynamicNavigation.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

flytt ikon til egen fil
  packages/nextjs/src/components/_common/pageNavigationMenu/AngleIcon/AngleIcon.module.scss
  packages/nextjs/src/components/_common/pageNavigationMenu/AngleIcon/AngleIcon.tsx
  packages/nextjs/src/components/_common/pageNavigationMenu/DynamicNavigation.module.scss
  packages/nextjs/src/components/_common/pageNavigationMenu/DynamicNavigation.tsx
  packages/nextjs/src/components/_common/pageNavigationMenu/PageNavigationMenu.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-pagenavigationmenu--primary-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-pagenavigationmenu-sectionnavigation--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-pagenavigationmenu-sectionnavigation--with-content-region-mobile-linux-mobile-linux.png
Due: none

Oppdatert til node v24
  .failover/Dockerfile.failover
  .github/workflows/build-and-test.yml
  .github/workflows/build-image.yml
  .github/workflows/deploy-storybook.yml
  .github/workflows/visual-changes-bot.yml
  .npmrc
  Dockerfile
  package-lock.json
  package.json
Due: prettier --write

bump actions
  .github/workflows/build-and-test.yml
  .github/workflows/build-image.yml
  .github/workflows/deploy-alerts.yml
  .github/workflows/deploy-storybook.yml
  .github/workflows/deploy-to-nais.yml
  .github/workflows/visual-changes-bot.yml
Due: prettier --write
