Repository navikt/nav-enonicxp-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix, cd packages/shared && npm run lint:fix, cd packages/shared && npm run prettier:fix, prettier --write

.lintstagedrc.json:

{
    "packages/nextjs/**/*.{js,jsx,ts,tsx}": [
        "cd packages/nextjs && npm run lint:fix",
        "cd packages/nextjs && npm run prettier:fix"
    ],
    "packages/server/**/*.{js,ts}": [
        "cd packages/server && npm run lint:fix",
        "cd packages/server && npm run prettier:fix"
    ],
    "packages/shared/**/*.{js,ts}": [
        "cd packages/shared && npm run lint:fix",
        "cd packages/shared && npm run prettier:fix"
    ],
    "**/*.{json,md,yml,yaml}": ["prettier --write"]
}

kommentar gjenbruk
  packages/nextjs/src/components/_common/pageNavigationMenu/DynamicNavigation.module.scss
Due: none

fix: conditionally set aria-labelledby based on title presence
  packages/nextjs/src/components/_common/pageNavigationMenu/PageNavigationMenu.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

fix: update ariaLabel for accessibility in SectionNavigation stories
  packages/nextjs/src/components/_common/pageNavigationMenu/SectionNavigation/SectionNavigation.stories.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Fix layout class assignment for office pages in SingleColPage component
  packages/nextjs/src/components/layouts/single-col-page/SingleColPage.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Fix layout class assignment for office pages in SingleColPage component (#2690)
  packages/nextjs/src/components/layouts/single-col-page/SingleColPage.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Oppdaterer Storybook
  packages/nextjs/.storybook/main.ts
  packages/nextjs/package.json
  packages/nextjs/tsconfig.json
  packages/server/tsconfig.json
  packages/shared/tsconfig.json
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, prettier --write

Oppdaterer package-lock
  package-lock.json
Due: prettier --write

Update ProductPanelExpandable.module.scss
  packages/nextjs/src/components/_common/productPanelExpandable/ProductPanelExpandable.module.scss
Due: none

Update package-lock
  package-lock.json
Due: prettier --write

Quickfix sett nye klasser kun på situasjonssider. Bør ryddes litt opp i dette senere
  packages/nextjs/src/components/layouts/single-col-page/SingleColPage.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Quickfix sett nye klasser kun på situasjonssider. Bør ryddes litt opp i dette senere (#2696)
  packages/nextjs/src/components/layouts/single-col-page/SingleColPage.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Fikser feil farge på piktogram
  packages/nextjs/src/components/_common/productPanelExpandable/ProductPanelExpandable.module.scss
Due: none

Dependabot updates january (#2695)
  package-lock.json
  package.json
  packages/nextjs/package.json
  packages/nextjs/src/components/_common/relatedSituations/RelatedSituations.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, prettier --write

Bump the minor-and-patch group across 1 directory with 16 updates (#2698)
  package-lock.json
  package.json
  packages/nextjs/package.json
Due: prettier --write

Reverserer utiltenkt endring
  packages/nextjs/src/components/_common/productPanelExpandable/ProductPanelExpandable.module.scss
Due: none

Reverserer utiltenkt endring
  packages/nextjs/src/components/_common/productPanelExpandable/ProductPanelExpandable.module.scss
  packages/nextjs/src/components/_common/relatedSituations/RelatedSituations.tsx
  packages/nextjs/src/components/layouts/single-col-page/SingleColPage.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Storybook oppgraderinger (#2689)
  package-lock.json
  packages/nextjs/.storybook/main.ts
  packages/nextjs/package.json
  packages/nextjs/tsconfig.json
  packages/server/tsconfig.json
  packages/shared/tsconfig.json
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, prettier --write

Fikser skjermleser-fokus fra innholdsmeny
  packages/nextjs/src/components/_common/headers/Header.module.scss
  packages/nextjs/src/components/_common/headers/Heading.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Fikser skjermleser-fokus fra innholdsmeny (#2699)
  packages/nextjs/src/components/_common/headers/Header.module.scss
  packages/nextjs/src/components/_common/headers/Heading.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

header -> section
  packages/nextjs/src/components/parts/page-header/PageHeaderPart.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

header -> section (#2705)
  packages/nextjs/src/components/parts/page-header/PageHeaderPart.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Refactor navigation components: extract NavigationLink, update DynamicNavigation and PageNavigationMenu to use it
  packages/nextjs/src/components/_common/pageNavigationMenu/DynamicNavigation.module.scss
  packages/nextjs/src/components/_common/pageNavigationMenu/DynamicNavigation.tsx
  packages/nextjs/src/components/_common/pageNavigationMenu/NavigationLink.module.scss
  packages/nextjs/src/components/_common/pageNavigationMenu/NavigationLink.tsx
  packages/nextjs/src/components/_common/pageNavigationMenu/PageNavigationMenu.module.scss
  packages/nextjs/src/components/_common/pageNavigationMenu/PageNavigationMenu.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

flytt
  packages/nextjs/src/components/_common/pageNavigationMenu/DynamicNavigation.module.scss
Due: none

Remove variant prop from NavigationLink and DynamicNavigation components
  packages/nextjs/src/components/_common/pageNavigationMenu/DynamicNavigation.tsx
  packages/nextjs/src/components/_common/pageNavigationMenu/NavigationLink.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

fjern gammel ubrukt mixi
  packages/nextjs/src/common.scss
Due: none

Refactor heading styles in PageNavigationMenu and DynamicNavigation to use shared mixin
  packages/nextjs/src/components/_common/pageNavigationMenu/DynamicNavigation.module.scss
  packages/nextjs/src/components/_common/pageNavigationMenu/PageNavigationMenu.module.scss
  packages/nextjs/src/components/_common/pageNavigationMenu/_shared.scss
Due: none

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-pagenavigationmenu--primary-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-pagenavigationmenu-sectionnavigation--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-pagenavigationmenu-sectionnavigation--with-content-region-mobile-linux-mobile-linux.png
Due: none

Refactor .list styles in DynamicNavigation.module.scss to use common unstyled-list mixin
  packages/nextjs/src/components/_common/pageNavigationMenu/DynamicNavigation.module.scss
Due: none

Refactor padding values in NavigationLink and shared mixin for consistency
  packages/nextjs/src/components/_common/pageNavigationMenu/NavigationLink/NavigationLink.module.scss
  packages/nextjs/src/components/_common/pageNavigationMenu/_shared.scss
Due: none

rename til DynamicDesktopNavigation
  packages/nextjs/src/components/_common/headers/Header.module.scss
  packages/nextjs/src/components/_common/pageNavigationMenu/CombinedMenu/CombinedMenu.tsx
  packages/nextjs/src/components/_common/pageNavigationMenu/DynamicDesktopNavigation/DynamicDesktopNavigation.module.scss
  packages/nextjs/src/components/_common/pageNavigationMenu/DynamicDesktopNavigation/DynamicDesktopNavigation.tsx
  packages/nextjs/src/components/layouts/section-with-header/SectionWithHeaderLayout.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Refactor navigation components structure and styles for better organization
  packages/nextjs/src/components/_common/pageNavigationMenu/CombinedMenu/CombinedMenu.tsx
  packages/nextjs/src/components/_common/pageNavigationMenu/DynamicNavigation/DynamicNavigation.module.scss
  packages/nextjs/src/components/_common/pageNavigationMenu/DynamicNavigation/DynamicNavigation.tsx
  packages/nextjs/src/components/_common/pageNavigationMenu/NavigationLink/NavigationLink.module.scss
  packages/nextjs/src/components/_common/pageNavigationMenu/NavigationLink/NavigationLink.tsx
  packages/nextjs/src/components/_common/pageNavigationMenu/PageNavigationMenu.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Add targetPageMock for alternativeAudience in DynamicDesktopNavigation stories
  packages/nextjs/src/components/_common/pageNavigationMenu/DynamicDesktopNavigation/DynamicDesktopNavigation.stories.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Refactor PageNavigationMenu stories to include PageContextProvider and update args
  packages/nextjs/src/components/_common/pageNavigationMenu/PageNavigationMenu.stories.ts
  packages/nextjs/src/components/_common/pageNavigationMenu/PageNavigationMenu.stories.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-pagenavigationmenu--primary-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-pagenavigationmenu-dynamicdesktopnavigation--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-pagenavigationmenu-navigationlink--active-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-pagenavigationmenu-navigationlink--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-pagenavigationmenu-sectionnavigation--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-pagenavigationmenu-sectionnavigation--with-content-region-mobile-linux-mobile-linux.png
Due: none

slett gammel styling for sticky mobilmeny
  packages/nextjs/src/components/_common/pageNavigationMenu/DynamicNavigation/DynamicNavigation.module.scss
Due: none

Add story for NavigationLink component in Storybook
  packages/nextjs/src/components/_common/pageNavigationMenu/NavigationLink/NavigationLink.stories.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-pagenavigationmenu-dynamicdesktopnavigation--default-mobile-linux-mobile-linux.png
Due: none
