Repository navikt/nav-enonicxp-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix, cd packages/shared && npm run lint:fix, cd packages/shared && npm run prettier:fix, prettier --write

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-lenke-lenkestandalone--with-arrow-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-lenke-lenkestandalone--with-chevron-and-label-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-lenke-lenkestandalone--with-chevron-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-lenkeliste--chevron-mobile-linux-mobile-linux.png
Due: none

opprydding i redaktørvarsler
  packages/nextjs/src/components/_editor-only/redaktorvarsler/Redaktorvarsler.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/harRedaktorFeil.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/formatert-innhold-utenfor-innholdsseksjon/FormatertInnholdUtenforInnholdsseksjon.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/formatert-innhold-utenfor-innholdsseksjon/FormatertInnholdUtenforInnholdsseksjonVarsel.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/fragment-utenfor-innholdsseksjon/FragmentUtenforInnholdsseksjon.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/fragment-utenfor-innholdsseksjon/FragmentUtenforInnholdsseksjonVarsel.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/html-area-div/HtmlAreaInneholderDivVarsel.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/html-area-div/HtmlAreaInnholderDiv.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

revert padding-endringer
  packages/nextjs/src/components/_common/lenkeliste/Lenkeliste.module.scss
Due: none

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-lenkeliste--bullet-mobile-linux-mobile-linux.png
Due: none

fiks endret gap til ikon
  packages/nextjs/src/components/_common/pageNavigationMenu/NavigationLink/NavigationLink.module.scss
Due: none

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-pagenavigationmenu--primary-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-pagenavigationmenu-dynamicdesktopnavigation--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-pagenavigationmenu-navigationlink--active-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-pagenavigationmenu-navigationlink--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-pagenavigationmenu-sectionnavigation--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-situationpage--default-mobile-linux-mobile-linux.png
Due: none

oversetting til norsk
  packages/nextjs/src/components/FragmentComponent.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

re-align arrow
  packages/nextjs/src/components/_common/moreLink/MoreLink.module.scss
Due: none

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-morelink--default-mobile-linux-mobile-linux.png
Due: none

Refactor LenkeStandalone component layout and styling
  packages/nextjs/src/components/_common/lenke/lenkeStandalone/LenkeStandalone.module.scss
  packages/nextjs/src/components/_common/lenke/lenkeStandalone/LenkeStandalone.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-lenke-lenkestandalone--with-chevron-and-label-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-morelink--default-mobile-linux-mobile-linux.png
Due: none

fix(LenkeStandalone): behold label utenfor lenka for å unngå understrek
  packages/nextjs/src/components/_common/lenke/lenkeStandalone/LenkeStandalone.module.scss
  packages/nextjs/src/components/_common/lenke/lenkeStandalone/LenkeStandalone.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

refactor(LenkeStandalone): remove .linkText class from styles
  packages/nextjs/src/components/_common/lenke/lenkeStandalone/LenkeStandalone.module.scss
  packages/nextjs/src/components/_common/lenke/lenkeStandalone/LenkeStandalone.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

fjern overstyring farge tekst Omradekort
  packages/nextjs/src/components/_common/omradekort/Omradekort.module.scss
Due: none

refactor(LenkePanelNavno): remove hover styles for link color
  packages/nextjs/src/components/_common/lenkepanel/LenkepanelNavno/LenkepanelNavno.module.scss
Due: none

bruk data-color accent i LargeCard
  packages/nextjs/src/components/_common/card/LargeCard/LargeCard.module.scss
  packages/nextjs/src/components/_common/card/LargeCard/LargeCard.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

fjern overstyring av tekstfarge og hover-bakgrunn i MiniCardV2. Bruk data-color accent. Behold blå pil
  packages/nextjs/src/components/_common/card/MiniCardV2/MiniCardV2.module.scss
  packages/nextjs/src/components/_common/card/MiniCardV2/MiniCardV2.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

add types for @navikt/ds-react in tsconfig
  packages/nextjs/tsconfig.json
Due: prettier --write

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-card-minicardv2--hover-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-omradekort--accessibility-hovered-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-omradekort--cases-hovered-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-omradekort--employment-status-form-hovered-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-omradekort--family-hovered-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-omradekort--health-hovered-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-omradekort--payments-hovered-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-omradekort--pension-hovered-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-omradekort--social-counselling-hovered-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-omradekort--work-hovered-mobile-linux-mobile-linux.png
Due: none

style(FormIntermediateStepLink): update link color and add data-color accent
  packages/nextjs/src/components/_common/formIntermediateStepLink/FormIntermediateStepLink.module.scss
  packages/nextjs/src/components/_common/formIntermediateStepLink/FormIntermediateStepLink.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

fiks 500-feil i forhåndsvisning ved åpning av panel
  package.json
  packages/nextjs/src/components/_common/trekkspill/Trekkspill.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/Redaktorvarsler.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/harRedaktorFeil.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/duplikate-ider/DuplikateIder.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/duplikate-ider/useDuplikateIder.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, prettier --write

Apply suggestions from code review
  packages/nextjs/src/components/_editor-only/redaktorvarsler/erGodkjentSide.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/formatert-innhold-utenfor-innholdsseksjon/FormatertInnholdUtenforInnholdsseksjonVarsel.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/fragment-utenfor-innholdsseksjon/FragmentUtenforInnholdsseksjonVarsel.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/html-area-div/HtmlAreaInneholderDivVarsel.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Oppdaterer DuplikateIder til å ta props i stedet for å kalle hooken selv, og sender data ned fra Redaktorvarsler
  packages/nextjs/src/components/_editor-only/redaktorvarsler/Redaktorvarsler.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/duplikate-ider/DuplikateIder.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Oppdaterer lock-fil
  pnpm-lock.yaml
Due: prettier --write

åpne expandable automatisk ved redaktørfeil
  packages/nextjs/src/components/_common/expandable/Expandable.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Redaktorvarsel fragment (#2917)
  package.json
  packages/nextjs/next-env.d.ts
  packages/nextjs/src/components/FragmentComponent.tsx
  packages/nextjs/src/components/_common/expandable/Expandable.tsx
  packages/nextjs/src/components/_common/parsedHtml/ParsedHtml.tsx
  packages/nextjs/src/components/_common/trekkspill/Trekkspill.tsx
  packages/nextjs/src/components/_editor-only/EditorWidgets.tsx
  packages/nextjs/src/components/_editor-only/global-warnings/Redaktorvarsler.tsx
  packages/nextjs/src/components/_editor-only/global-warnings/warnings/duplicate-ids/DuplicateIds.tsx
  packages/nextjs/src/components/_editor-only/global-warnings/warnings/form-numbers-warning/FormNumbersWarning.tsx
  packages/nextjs/src/components/_editor-only/global-warnings/warnings/fragment-utenfor-innholdsseksjon/pageContentFragmentUtenforInnholdsseksjon.tsx
  packages/nextjs/src/components/_editor-only/global-warnings/warnings/kort-url-warning/KortUrlWarning.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/Redaktorvarsler.module.scss
  packages/nextjs/src/components/_editor-only/redaktorvarsler/Redaktorvarsler.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/erGodkjentSide.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/harRedaktorFeil.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/duplikate-ider/DuplikateIder.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/duplikate-ider/DuplikateIderVarsel.module.scss
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/duplikate-ider/DuplikateIderVarsel.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/duplikate-ider/useDuplikateIder.ts
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/formatert-innhold-utenfor-innholdsseksjon/FormatertInnholdUtenforInnholdsseksjon.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/formatert-innhold-utenfor-innholdsseksjon/FormatertInnholdUtenforInnholdsseksjonVarsel.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/formatert-innhold-utenfor-innholdsseksjon/pageContentFormatertInnholdUtenforInnholdsseksjon.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/fragment-utenfor-innholdsseksjon/FragmentUtenforInnholdsseksjon.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/fragment-utenfor-innholdsseksjon/FragmentUtenforInnholdsseksjonVarsel.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/fragment-utenfor-innholdsseksjon/pageContentFragmentUtenforInnholdsseksjon.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/html-area-div/HtmlAreaInneholderDivVarsel.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/html-area-div/HtmlAreaInnholderDiv.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/html-area-div/htmlAreaInneholderDiv.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/kontaktinformasjon/KontaktinformasjonVarsel.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/kort-url/KortUrlVarsel.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/skjemanummer/SkjemanummerVarsel.tsx
  packages/nextjs/src/components/parts/html-area/HtmlAreaPart.tsx
  packages/nextjs/src/store/hooks/useCheckAndOpenTrekkspillPanel.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, prettier --write

Update nav-office-reception-info to version 2.0.1 in lockfile and workspace configuration
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

Update nav-office-reception-info to version 2.0.2 in lockfile and workspace configuration
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

Patch nav office reception info (#2925)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

Fikset at interne lenker i redirects-mappen nå redirecter til riktig språkversjon
  packages/nextjs/src/types/content-props/internal-link-props.ts
  packages/nextjs/src/utils/links-from-content.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Revert unødvendig locale-suffiks-logikk i getInternalLinkUrl
  packages/nextjs/src/types/content-props/internal-link-props.ts
  packages/nextjs/src/utils/links-from-content.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Fjerner timeout ved blocking. Ops får så mye varsler (falske positiver) om økt treghet fra nav.no.
  packages/server/src/req-handlers/path-validation-middleware.ts
Due: cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix

Fjerner utilsiktet return-endring
  packages/server/src/req-handlers/path-validation-middleware.ts
Due: cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix

Fjerner timeout ved blocking av mistenkelig url (#2927)
  packages/server/src/req-handlers/path-validation-middleware.ts
Due: cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix

Forbedring av liveness-endepunkter
  packages/nextjs/src/pages/api/internal/health-probe.ts
  packages/nextjs/src/pages/api/internal/isAlive.ts
  packages/server/src/health/health-metrics.ts
  packages/server/src/health/health-monitor.ts
  packages/server/src/health/process-health.ts
  packages/server/src/server-setup/server-setup-failover.ts
  packages/server/src/server-setup/server-setup.ts
  packages/server/src/server.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix

Oppdaterer lockfil
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

Bump dekoratøren moduler
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

Path conditions:
  cd packages/nextjs && npm run lint:fix: any of: packages/nextjs/**/*.{js,jsx,ts,tsx}
  cd packages/nextjs && npm run prettier:fix: any of: packages/nextjs/**/*.{js,jsx,ts,tsx}
  cd packages/server && npm run lint:fix: any of: packages/server/**/*.{js,ts}
  cd packages/server && npm run prettier:fix: any of: packages/server/**/*.{js,ts}
  cd packages/shared && npm run lint:fix: any of: packages/shared/**/*.{js,ts}
  cd packages/shared && npm run prettier:fix: any of: packages/shared/**/*.{js,ts}
  prettier --write: any of: **/*.{json,md,yml,yaml}
