Repository navikt/nav-enonicxp-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix, cd packages/shared && npm run lint:fix, cd packages/shared && npm run prettier:fix, prettier --write

fjern reducemargin
  packages/nextjs/src/components/_common/headers/generalPageHeader/GeneralPageHeader.module.scss
  packages/nextjs/src/components/_common/headers/generalPageHeader/GeneralPageHeader.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Separerer overstyring av farge for fill og stroke (#2569)
  packages/nextjs/src/components/parts/seksjon-for-snarveier/SeksjonForSnarveier.module.scss
Due: none

Fikser margin på dato-komponent
  packages/nextjs/src/components/parts/_legacy/artikkel/komponenter/ArtikkelDato.module.scss
  packages/nextjs/src/components/parts/_legacy/artikkel/komponenter/ArtikkelDato.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Fjerner unøvendig strek og luft
  packages/nextjs/src/components/layouts/legacy/LegacyLayout.module.scss
  packages/nextjs/src/components/parts/_legacy/artikkel/komponenter/NewsPressHeader.module.scss
  packages/nextjs/src/components/parts/_legacy/artikkel/komponenter/NewsPressHeader.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Maksbredde på mobil
  packages/nextjs/src/components/layouts/innholdsside-med-meny/InnholdssideMedMeny.module.scss
Due: none

Fjernet useLegacyNav
  packages/nextjs/src/components/layouts/innholdsside-med-meny/InnholdssideMedMeny.tsx
  packages/nextjs/src/components/layouts/section-with-header/SectionWithHeaderLayout.tsx
  packages/nextjs/src/utils/useLegacyNav.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

fiks glemt tagline
  packages/nextjs/src/components/pages/office-page/office-page-header/OfficePageHeader.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

dummy linkedin-komponent
  packages/nextjs/src/components/pages/office-page/OfficePage.tsx
  packages/nextjs/src/types/content-props/dynamic-page-props.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Add contact form section to OfficeDetails component
  packages/nextjs/src/components/pages/office-page/officeDetails/OfficeDetails.module.scss
  packages/nextjs/src/components/pages/office-page/officeDetails/OfficeDetails.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Add LinkedIn section and contact form to OfficePage and OfficeDetails components
  packages/nextjs/src/components/pages/office-page/OfficePage.tsx
  packages/nextjs/src/components/pages/office-page/officeDetails/OfficeDetails.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Bump @navikt/nav-office-reception-info to version 1.4.4 and update styles in OfficeDetails and PhonePoster components
  package-lock.json
  packages/nextjs/package.json
  packages/nextjs/src/components/pages/office-page/officeDetails/OfficeDetails.module.scss
  packages/nextjs/src/components/pages/office-page/officeDetails/OfficeDetails.tsx
  packages/nextjs/src/components/pages/office-page/officeDetails/phonePoster/PhonePoster.module.scss
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, prettier --write

reduser spacing Kontorinformasjon
  packages/nextjs/src/components/pages/office-page/officeDetails/officeInformation/OfficeInformation.module.scss
Due: none

riktig tagline
  packages/nextjs/src/components/pages/office-page/office-page-header/OfficePageHeader.tsx
  packages/nextjs/src/translations/default.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Bump @navikt/nav-office-reception-info to version 1.4.3
  package-lock.json
  packages/nextjs/package.json
Due: prettier --write

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-office-page-officedetails-officeinformation--open-mobile-linux-mobile-linux.png
Due: none

overskrift Kontakt oss
  packages/nextjs/src/components/pages/office-page/officeDetails/OfficeDetails.tsx
  packages/nextjs/src/translations/default.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

spacing header
  packages/nextjs/src/components/pages/office-page/office-page-header/OfficePageHeader.module.scss
Due: none

fiks plassering linkedin
  packages/nextjs/src/components/pages/office-page/OfficePage.module.scss
  packages/nextjs/src/components/pages/office-page/OfficePage.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Enhance phone information handling and update translations for phone hours
  packages/nextjs/src/components/pages/office-page/officeDetails/phonePoster/PhonePoster.tsx
  packages/nextjs/src/translations/default.ts
  packages/nextjs/src/translations/en.ts
  packages/nextjs/src/translations/nn.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

fjern ubrukt gammel styling
  packages/nextjs/src/components/pages/office-page/office-page-header/OfficePageHeader.module.scss
Due: none

fjern span
  packages/nextjs/src/components/pages/office-page/officeDetails/officeInformation/OfficeInformation.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

styling linkedIn
  packages/nextjs/src/components/pages/office-page/OfficePage.module.scss
  packages/nextjs/src/components/pages/office-page/OfficePage.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-office-page-officedetails--with-multiple-receptions-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-office-page-officedetails--with-reception-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-office-page-officedetails--with-special-opening-hours-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-office-page-officedetails--without-reception-mobile-linux-mobile-linux.png
Due: none

bruk else
  packages/nextjs/src/components/pages/office-page/office-page-header/OfficePageHeader.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

midstill kontorsidene etter kjapp diskusjon med Martin
  packages/nextjs/src/components/pages/office-page/OfficePage.module.scss
  packages/nextjs/src/components/pages/office-page/office-page-header/OfficePageHeader.module.scss
  packages/nextjs/src/components/pages/office-page/officeDetails/OfficeDetails.module.scss
Due: none

Refactor phone information retrieval logic for clarity and maintainability
  packages/nextjs/src/components/pages/office-page/officeDetails/phonePoster/PhonePoster.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

parsedhtml linkedin
  packages/nextjs/src/components/pages/office-page/OfficePage.module.scss
  packages/nextjs/src/components/pages/office-page/OfficePage.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

splitt kontorinfo
  packages/nextjs/src/components/pages/office-page/officeDetails/officeInformation/OfficeInformation.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

story Arbeidslivssenter
  packages/nextjs/src/components/pages/office-page/officeDetails/OfficeDetails.stories.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Fiks smal bredde på enkelte hjelpemiddelsentralsider
  packages/nextjs/src/components/pages/office-page/officeDetails/OfficeDetails.module.scss
Due: none

editorial på ALS-sider
  packages/nextjs/src/components/pages/office-page/OfficePage.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

kollaps tre stories til én
  packages/nextjs/src/components/pages/office-page/officeDetails/OfficeDetails.stories.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

bredde llinkedin
  packages/nextjs/src/components/pages/office-page/OfficePage.module.scss
Due: none

begrens linkedin til ALS-sider
  packages/nextjs/src/components/pages/office-page/OfficePage.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

border-top linkedin
  packages/nextjs/src/components/pages/office-page/OfficePage.module.scss
Due: none

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-office-page-officedetails--arbeidslivssenter-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-office-page-officedetails--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-office-page-officedetails--with-multiple-receptions-desktop-linux-desktop-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-office-page-officedetails--with-multiple-receptions-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-office-page-officedetails--with-reception-desktop-linux-desktop-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-office-page-officedetails--with-reception-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-office-page-officedetails--with-special-opening-hours-desktop-linux-desktop-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-office-page-officedetails--with-special-opening-hours-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-office-page-officedetails--without-reception-desktop-linux-desktop-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-office-page-officedetails--without-reception-mobile-linux-mobile-linux.png
Due: none

rydd i layput officedetails
  packages/nextjs/src/components/pages/office-page/officeDetails/OfficeDetails.module.scss
Due: none

Fjernet gammel funksjonalitet
  packages/nextjs/src/components/_common/pageNavigationMenu/DynamicNavigation.tsx
  packages/nextjs/src/components/layouts/innholdsside-med-meny/InnholdssideMedMeny.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Lik luft over og under dato
  packages/nextjs/src/components/layouts/legacy/LegacyLayout.module.scss
Due: none

ekstra padding nederst
  packages/nextjs/src/components/pages/office-page/OfficePage.module.scss
Due: none

Path conditions:
  cd packages/nextjs && npm run lint:fix: any of: packages/nextjs/**/*.{js,jsx,ts,tsx}
  cd packages/nextjs && npm run prettier:fix: any of: packages/nextjs/**/*.{js,jsx,ts,tsx}
  cd packages/server && npm run lint:fix: any of: packages/server/**/*.{js,ts}
  cd packages/server && npm run prettier:fix: any of: packages/server/**/*.{js,ts}
  cd packages/shared && npm run lint:fix: any of: packages/shared/**/*.{js,ts}
  cd packages/shared && npm run prettier:fix: any of: packages/shared/**/*.{js,ts}
  prettier --write: any of: **/*.{json,md,yml,yaml}
