Repository navikt/nav-enonicxp-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix, cd packages/shared && npm run lint:fix, cd packages/shared && npm run prettier:fix, prettier --write

Refactor navigation styles to use shared mixins for consistency
  packages/nextjs/src/components/_common/pageNavigationMenu/DynamicDesktopNavigation/DynamicDesktopNavigation.module.scss
  packages/nextjs/src/components/_common/pageNavigationMenu/PageNavigationMenu.module.scss
  packages/nextjs/src/components/_common/pageNavigationMenu/_shared.scss
Due: none

Refactor heading styles in DynamicDesktopNavigation and shared mixin for consistency
  packages/nextjs/src/components/_common/pageNavigationMenu/DynamicDesktopNavigation/DynamicDesktopNavigation.module.scss
  packages/nextjs/src/components/_common/pageNavigationMenu/_shared.scss
Due: none

Add Storybook support for DynamicDesktopNavigation component
  packages/nextjs/src/components/_common/pageNavigationMenu/DynamicDesktopNavigation/DynamicDesktopNavigation.stories.tsx
  packages/nextjs/src/components/_common/pageNavigationMenu/DynamicDesktopNavigation/DynamicDesktopNavigation.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

fiks brukket story
  packages/nextjs/src/components/pages/situationPage/SituationPage.stories.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-pagenavigationmenu-sectionnavigation--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-pagenavigationmenu-sectionnavigation--with-content-region-desktop-linux-desktop-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-pagenavigationmenu-sectionnavigation--with-content-region-mobile-linux-mobile-linux.png
Due: none

Update anchorIds in PageNavigationMenu stories for consistency
  packages/nextjs/src/components/_common/pageNavigationMenu/PageNavigationMenu.stories.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Refactor SectionNavigation stories to use headerComponents for intro and content regions
  packages/nextjs/src/components/_common/pageNavigationMenu/SectionNavigation/SectionNavigation.stories.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Refactor PageNavigationMenu and DynamicDesktopNavigation stories to use shared mocks for consistency
  packages/nextjs/src/components/_common/pageNavigationMenu/DynamicDesktopNavigation/DynamicDesktopNavigation.stories.tsx
  packages/nextjs/src/components/_common/pageNavigationMenu/PageNavigationMenu.stories.tsx
  packages/nextjs/src/components/_common/pageNavigationMenu/_storyMocks.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

fjern flex realtert til fjernet gap
  packages/nextjs/src/components/_common/pageNavigationMenu/_shared.scss
Due: none

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-pagenavigationmenu--primary-mobile-linux-mobile-linux.png
Due: none

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-situationpage--default-mobile-linux-mobile-linux.png
Due: none

Refactor PageNavigationMenu and SectionNavigation components to improve props handling and styling
  packages/nextjs/src/components/_common/pageNavigationMenu/PageNavigationMenu.module.scss
  packages/nextjs/src/components/_common/pageNavigationMenu/PageNavigationMenu.tsx
  packages/nextjs/src/components/_common/pageNavigationMenu/SectionNavigation/SectionNavigation.module.scss
  packages/nextjs/src/components/_common/pageNavigationMenu/SectionNavigation/SectionNavigation.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-pagenavigationmenu--primary-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-pagenavigationmenu--secondary-desktop-linux-desktop-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-pagenavigationmenu--secondary-mobile-linux-mobile-linux.png
Due: none

Fix indentation in PageNavigationMenu styles for consistency
  packages/nextjs/src/components/_common/pageNavigationMenu/PageNavigationMenu.module.scss
Due: none

fjenr støy i story
  packages/nextjs/src/components/_common/pageNavigationMenu/SectionNavigation/SectionNavigation.stories.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Refactor navigation styles to use common unstyled list mixin
  packages/nextjs/src/components/_common/pageNavigationMenu/DynamicDesktopNavigation/DynamicDesktopNavigation.module.scss
  packages/nextjs/src/components/_common/pageNavigationMenu/PageNavigationMenu.module.scss
  packages/nextjs/src/components/_common/pageNavigationMenu/_shared.scss
Due: none

Remove unused args from Primary story in PageNavigationMenu
  packages/nextjs/src/components/_common/pageNavigationMenu/PageNavigationMenu.stories.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Update margin-top in PageNavigationMenu for consistent spacing
  packages/nextjs/src/components/_common/pageNavigationMenu/PageNavigationMenu.module.scss
Due: none

Add PageContextProvider decorator to SectionNavigation stories
  packages/nextjs/src/components/_common/pageNavigationMenu/SectionNavigation/SectionNavigation.stories.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Fix className order in CombinedMenu for consistency
  packages/nextjs/src/components/_common/pageNavigationMenu/CombinedMenu/CombinedMenu.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Update comment style for initialActiveAnchor prop in DynamicDesktopNavigation
  packages/nextjs/src/components/_common/pageNavigationMenu/DynamicDesktopNavigation/DynamicDesktopNavigation.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Refactor CombinedMenu styles for desktop navigation
  packages/nextjs/src/components/_common/pageNavigationMenu/CombinedMenu/CombinedMenu.module.scss
  packages/nextjs/src/components/_common/pageNavigationMenu/CombinedMenu/CombinedMenu.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Update margin-top in SectionNavigation for improved spacing
  packages/nextjs/src/components/_common/pageNavigationMenu/SectionNavigation/SectionNavigation.module.scss
Due: none

pixel-pushing
  packages/nextjs/src/components/_common/pageNavigationMenu/PageNavigationMenu.module.scss
Due: none

Test dekoratøren moduler beta
  package-lock.json
  package.json
Due: prettier --write

Fikser mulig DDoS
  packages/server/src/req-handlers/path-validation-middleware.test.ts
  packages/server/src/req-handlers/path-validation-middleware.ts
Due: cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix

En fiks til
  packages/server/src/req-handlers/path-validation-middleware.ts
Due: cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix

Bruk Set
  packages/server/src/req-handlers/path-validation-middleware.ts
Due: cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix

Opprydding innholdsmeny (#2701)
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-pagenavigationmenu--primary-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-pagenavigationmenu--secondary-desktop-linux-desktop-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-pagenavigationmenu--secondary-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-pagenavigationmenu-dynamicdesktopnavigation--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-pagenavigationmenu-navigationlink--active-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-pagenavigationmenu-navigationlink--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-pagenavigationmenu-sectionnavigation--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-pagenavigationmenu-sectionnavigation--with-content-region-desktop-linux-desktop-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-pagenavigationmenu-sectionnavigation--with-content-region-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-situationpage--default-mobile-linux-mobile-linux.png
  packages/nextjs/src/common.scss
  packages/nextjs/src/components/_common/headers/Header.module.scss
  packages/nextjs/src/components/_common/pageNavigationMenu/CombinedMenu/CombinedMenu.module.scss
  packages/nextjs/src/components/_common/pageNavigationMenu/CombinedMenu/CombinedMenu.tsx
  packages/nextjs/src/components/_common/pageNavigationMenu/DynamicDesktopNavigation/DynamicDesktopNavigation.module.scss
  packages/nextjs/src/components/_common/pageNavigationMenu/DynamicDesktopNavigation/DynamicDesktopNavigation.stories.tsx
  packages/nextjs/src/components/_common/pageNavigationMenu/DynamicDesktopNavigation/DynamicDesktopNavigation.tsx
  packages/nextjs/src/components/_common/pageNavigationMenu/DynamicNavigation.module.scss
  packages/nextjs/src/components/_common/pageNavigationMenu/NavigationLink/NavigationLink.module.scss
  packages/nextjs/src/components/_common/pageNavigationMenu/NavigationLink/NavigationLink.stories.ts
  packages/nextjs/src/components/_common/pageNavigationMenu/NavigationLink/NavigationLink.tsx
  packages/nextjs/src/components/_common/pageNavigationMenu/PageNavigationMenu.module.scss
  packages/nextjs/src/components/_common/pageNavigationMenu/PageNavigationMenu.stories.ts
  packages/nextjs/src/components/_common/pageNavigationMenu/PageNavigationMenu.stories.tsx
  packages/nextjs/src/components/_common/pageNavigationMenu/PageNavigationMenu.tsx
  packages/nextjs/src/components/_common/pageNavigationMenu/SectionNavigation/SectionNavigation.module.scss
  packages/nextjs/src/components/_common/pageNavigationMenu/SectionNavigation/SectionNavigation.stories.tsx
  packages/nextjs/src/components/_common/pageNavigationMenu/SectionNavigation/SectionNavigation.tsx
  packages/nextjs/src/components/_common/pageNavigationMenu/_shared.scss
  packages/nextjs/src/components/_common/pageNavigationMenu/_storyMocks.ts
  packages/nextjs/src/components/layouts/section-with-header/SectionWithHeaderLayout.tsx
  packages/nextjs/src/components/pages/situationPage/SituationPage.stories.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

reduser sidepadding
  packages/nextjs/src/components/_common/pageNavigationMenu/PageNavigationMenu.module.scss
Due: none

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-pagenavigationmenu--primary-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-pagenavigationmenu-sectionnavigation--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-situationpage--default-mobile-linux-mobile-linux.png
Due: none

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-aktuellemalgrupper--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-pagenavigationmenu--primary-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-pagenavigationmenu-dynamicdesktopnavigation--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-pagenavigationmenu-navigationlink--active-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-pagenavigationmenu-navigationlink--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-pagenavigationmenu-sectionnavigation--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-situationpage--default-mobile-linux-mobile-linux.png
Due: none

Refactor navigation styles for improved layout and consistency
  packages/nextjs/src/common.scss
  packages/nextjs/src/components/_common/aktuelleMalgrupper/AktuelleMalgrupper.module.scss
  packages/nextjs/src/components/_common/pageNavigationMenu/AngleIcon/AngleIcon.module.scss
  packages/nextjs/src/components/_common/pageNavigationMenu/DynamicDesktopNavigation/DynamicDesktopNavigation.module.scss
  packages/nextjs/src/components/_common/pageNavigationMenu/DynamicDesktopNavigation/DynamicDesktopNavigation.tsx
  packages/nextjs/src/components/_common/pageNavigationMenu/PageNavigationMenu.module.scss
  packages/nextjs/src/components/_common/pageNavigationMenu/_shared.scss
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Legger tilbake 'repeated patterns'
  packages/server/src/req-handlers/path-validation-middleware.test.ts
  packages/server/src/req-handlers/path-validation-middleware.ts
  packages/server/src/server.ts
Due: cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix

Legg til padding og margin for å unngå kutt av focus outline
  packages/nextjs/src/components/_common/pageNavigationMenu/DynamicDesktopNavigation/DynamicDesktopNavigation.module.scss
Due: none

Legg til padding og margin for å unngå kutt av focus outline (#2719)
  packages/nextjs/src/components/_common/pageNavigationMenu/DynamicDesktopNavigation/DynamicDesktopNavigation.module.scss
Due: none

Rekkefølge tester
  packages/server/src/req-handlers/path-validation-middleware.test.ts
  packages/server/src/req-handlers/path-validation-middleware.ts
Due: cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix

Fikser tester
  packages/server/src/req-handlers/path-validation-middleware.test.ts
  packages/server/src/req-handlers/path-validation-middleware.ts
Due: cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix

Path conditions:
  cd packages/nextjs && npm run lint:fix: any of: packages/nextjs/**/*.{js,jsx,ts,tsx}
  cd packages/nextjs && npm run prettier:fix: any of: packages/nextjs/**/*.{js,jsx,ts,tsx}
  cd packages/server && npm run lint:fix: any of: packages/server/**/*.{js,ts}
  cd packages/server && npm run prettier:fix: any of: packages/server/**/*.{js,ts}
  cd packages/shared && npm run lint:fix: any of: packages/shared/**/*.{js,ts}
  cd packages/shared && npm run prettier:fix: any of: packages/shared/**/*.{js,ts}
  prettier --write: any of: **/*.{json,md,yml,yaml}
