Repository navikt/nav-enonicxp-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix, cd packages/shared && npm run lint:fix, cd packages/shared && npm run prettier:fix, prettier --write

fix: regenerate broken pnpm-lock.yaml
  pnpm-lock.yaml
Due: prettier --write

revert packageManager bump
  package.json
Due: prettier --write

fix: revert unintended .knapp → .button class rename from codemod
  packages/nextjs/src/components/parts/knapp/KnappPart.module.scss
Due: none

test hvit
  packages/nextjs/src/components/parts/seksjon-for-snarveier/SeksjonForSnarveier.module.scss
Due: none

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-button--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-button--full-width-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-knapp--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-knapp--full-width-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-omradekort--accessibility-hovered-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-omradekort--accessibility-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-layouts-index-page-front-page-frontpageareanavigation--person-mobile-linux-mobile-linux.png
Due: none

inkluder --bg-color
  packages/nextjs/src/components/parts/seksjon-for-snarveier/SeksjonForSnarveier.module.scss
Due: none

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-office-page-officedetails--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-office-page-officedetails-phoneposter--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-office-page-officedetails-phoneposter-audiencechannels--default-mobile-linux-mobile-linux.png
  pnpm-lock.yaml
Due: prettier --write

bruk danger som var replacement fra codemod
  packages/nextjs/src/components/_common/frontpageCard/FrontPageCard.module.scss
  packages/nextjs/src/components/parts/seksjon-for-snarveier/SeksjonForSnarveier.module.scss
Due: none

update Faktaboks styles and add Storybook stories for component versions
  packages/nextjs/src/components/parts/_legacy/artikkel/komponenter/Faktaboks.module.scss
  packages/nextjs/src/components/parts/_legacy/artikkel/komponenter/Faktaboks.stories.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

negativ margin for å fjerne ekstra spacing, uten at animasjonen blir stygg
  packages/nextjs/src/components/_common/expandable/Expandable.module.scss
Due: none

bruk --ax-bg-default
  packages/nextjs/src/components/pages/errorPage/ErrorPage.module.scss
  packages/nextjs/src/components/parts/_legacy/artikkel/ArtikkelPermanent.module.scss
  packages/nextjs/src/components/parts/_legacy/publishing-calendar/PublishingCalendar.module.scss
  packages/nextjs/src/components/parts/seksjon-for-snarveier/SeksjonForSnarveier.module.scss
Due: none

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-parts-legacy-artikkel-komponenter-faktaboks--version-1-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-parts-legacy-artikkel-komponenter-faktaboks--version-2-mobile-linux-mobile-linux.png
Due: none

fjern overstyring border
  packages/nextjs/src/components/_common/varselIKontekst/VarselIKontekst.module.scss
Due: none

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-skjemadetaljer--alerts-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-varselikontekst--critical-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-varselikontekst--information-mobile-linux-mobile-linux.png
Due: none

bump opp farge for litt bedre kontrast på områdesidebanner
  packages/nextjs/src/components/layouts/index-page/area-page/banner/AreaPageHeaderBanner.module.scss
Due: none

Makslengde 1000 > 500 + flere tester (#2848)
  packages/server/src/req-handlers/path-validation-middleware.test.ts
  packages/server/src/req-handlers/path-validation-middleware.ts
Due: cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix

refactor: simplify heading link styles in PressNewsItem module
  packages/nextjs/src/components/_common/press-landing/PressNewsItem.module.scss
Due: none

background-color: white; -> background-color: var(--ax-bg-default);
  packages/nextjs/src/components/_common/card/Card.module.scss
  packages/nextjs/src/components/_common/chatbot/LegacyPageChatbot.module.scss
  packages/nextjs/src/components/_common/chevron/FancyChevron.module.scss
  packages/nextjs/src/components/_common/headers/featuredHeader/DateLine/DateLine.module.scss
  packages/nextjs/src/components/_common/headers/themedPageHeader/ThemedPageHeader.module.scss
  packages/nextjs/src/components/_common/payoutDates/PayoutDates.module.scss
Due: none

fix: remove unnecessary whitespace in ProductPanelExpandable component
  packages/nextjs/src/components/_common/productPanelExpandable/ProductPanelExpandable.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

fiks siste replace all background-color: var(--ax-bg-default);
  packages/nextjs/src/components/_common/headers/featuredHeader/FeaturedHeader.module.scss
  packages/nextjs/src/components/_common/kontakt-oss-kanal/_shared-utils/icon/Icon.module.scss
  packages/nextjs/src/components/_common/press-landing/PressShortcuts.module.scss
  packages/nextjs/src/components/_common/press-landing/PressTopSection.module.scss
  packages/nextjs/src/components/_common/trekkspill/Trekkspill.module.scss
  packages/nextjs/src/components/_editor-only/global-warnings/warnings/duplicate-ids/DuplicateIdsWarning.module.scss
  packages/nextjs/src/components/_editor-only/references-info/ReferencesInfo.module.scss
  packages/nextjs/src/components/_editor-only/site-info/SiteInfo.module.scss
  packages/nextjs/src/components/_editor-only/version-history/selector/VersionSelector.module.scss
  packages/nextjs/src/components/_editor-only/version-history/status/VersionStatus.module.scss
  packages/nextjs/src/components/_page-warnings/pageWarning/PageWarning.module.scss
  packages/nextjs/src/components/layouts/index-page/IndexPage.module.scss
  packages/nextjs/src/components/layouts/index-page/area-page/AreaPageHeader.module.scss
  packages/nextjs/src/components/layouts/index-page/front-page/FrontPageAreaNavigation.module.scss
  packages/nextjs/src/components/layouts/innlogget-seksjon-forside/InnloggetSeksjonForsideLayout.module.scss
  packages/nextjs/src/components/layouts/section-with-header/SectionWithHeaderLayout.module.scss
  packages/nextjs/src/components/layouts/section-with-header/SectionWithHeaderLayoutV2.module.scss
  packages/nextjs/src/components/pages/contact-information-page/ContactInformationPage.module.scss
  packages/nextjs/src/components/pages/contenttypeNotSupportedPage/ContentTypeNotSupportedPage.module.scss
  packages/nextjs/src/components/pages/global-values-page/GlobalValuesPage.module.scss
  packages/nextjs/src/components/pages/global-values-page/components/values/GVItems.module.scss
  packages/nextjs/src/components/pages/large-table-page/LargeTablePage.module.scss
  packages/nextjs/src/components/pages/office-page/office-page-header/OfficePageHeader.module.scss
  packages/nextjs/src/components/pages/office-page/officeDetails/OfficeDetails.module.scss
  packages/nextjs/src/components/pages/office-page/officeDetails/phonePoster/PhonePoster.module.scss
  packages/nextjs/src/components/pages/overview-page/OverviewPage.module.scss
  packages/nextjs/src/components/pages/redirect-page/RedirectPage.module.scss
  packages/nextjs/src/components/pages/skjemadetaljer-preview-page/SkjemadetaljerPreviewPage.module.scss
  packages/nextjs/src/components/pages/video-preview-page/VideoPreviewPage.module.scss
  packages/nextjs/src/components/parts/_legacy/kapittel-navigasjon/KapittelNavigasjon.module.scss
  packages/nextjs/src/components/parts/_legacy/menu-list/MenuList.module.scss
  packages/nextjs/src/components/parts/filtreringsmeny/Filtreringsmeny.module.scss
  packages/nextjs/src/components/parts/lenkepanelPart/LenkepanelPart.module.scss
  packages/nextjs/src/components/parts/seksjon-for-kontaktinformasjon/SeksjonForKontaktinformasjonAlert.module.scss
Due: none

background: var(--ax-bg-default);
  packages/nextjs/src/components/parts/_legacy/page-list/PageList.module.scss
Due: none

neutral-400 expandable strek
  packages/nextjs/src/components/_common/expandable/Expandable.module.scss
Due: none

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-expandable--is-open-mobile-linux-mobile-linux.png
Due: none

flytt data-color til Chips.Toggle
  packages/nextjs/src/components/_common/oversikt-filters/OversiktFilterBase/OversiktFilterBase.tsx
  packages/nextjs/src/components/_common/overview-filters/OverViewFilterBase/OverviewFilterBase.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

justeringer farger piktogrammer underforsider
  packages/nextjs/src/components/_common/frontpageCard/FrontPageCard.module.scss
  packages/nextjs/src/components/parts/seksjon-for-snarveier/SeksjonForSnarveier.module.scss
Due: none

justeringer farger piktogrammer underforsider (#2855)
  packages/nextjs/src/components/_common/frontpageCard/FrontPageCard.module.scss
  packages/nextjs/src/components/parts/seksjon-for-snarveier/SeksjonForSnarveier.module.scss
Due: none

Sirkel på kontaktikoner
  packages/nextjs/src/components/_common/kontakt-oss-kanal/_shared-utils/icon/Icon.module.scss
Due: none

fix: regenerate lockfile with catalog specifier for typescript-eslint
  pnpm-lock.yaml
Due: prettier --write

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-card-minicardv2--hover-mobile-linux-mobile-linux.png
Due: none

test vent på pseudo state
  packages/nextjs/playwright/screenshot.spec.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Revert "test vent på pseudo state"
  packages/nextjs/playwright/screenshot.spec.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Moduler v4
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

Bruker analytics-types for logging av events (#2771)
  packages/nextjs/src/components/_common/card/useCard.tsx
  packages/nextjs/src/components/_common/copyLink/copyLink.tsx
  packages/nextjs/src/components/_common/expandable/Expandable.tsx
  packages/nextjs/src/components/_common/filter-bar/FilterBar.tsx
  packages/nextjs/src/components/_common/knapp/Knapp.tsx
  packages/nextjs/src/components/_common/kontakt-oss-kanal/ChatAlternativ/ChatAlternativ.tsx
  packages/nextjs/src/components/_common/kontakt-oss-kanal/StandardAlternativ/StandardAlternativ.tsx
  packages/nextjs/src/components/_common/kontakt-oss-kanal/TelefonAlternativ/TelefonAlternativ.tsx
  packages/nextjs/src/components/_common/kontakt-oss-kanal/_shared-utils/KontaktOssKanalLenkebase/KontaktOssKanalLenkebase.tsx
  packages/nextjs/src/components/_common/lenke/lenkeBase/LenkeBase.tsx
  packages/nextjs/src/components/_common/oversikt-filters/oversikt-omradefilter/OversiktOmradeFilter.tsx
  packages/nextjs/src/components/_common/oversikt-filters/text-filter/OversiktTextFilter.tsx
  packages/nextjs/src/components/_common/overview-filters/OverviewFilters.tsx
  packages/nextjs/src/components/_common/overview-filters/area-filter/OverviewAreaFilter.tsx
  packages/nextjs/src/components/_common/overview-filters/taxonomy-filter/OverviewTaxonomyFilter.tsx
  packages/nextjs/src/components/_common/overview-filters/text-filter/OverviewTextFilter.tsx
  packages/nextjs/src/components/_common/pageNavigationMenu/NavigationLink/NavigationLink.tsx
  packages/nextjs/src/components/_common/productPanelExpandable/ProductPanelExpandable.tsx
  packages/nextjs/src/components/_common/qbrick-video/useQbrickPlayerState.tsx
  packages/nextjs/src/components/_common/trekkspill/Trekkspill.tsx
  packages/nextjs/src/components/pages/office-page/officeDetails/officeInformation/OfficeInformation.tsx
  packages/nextjs/src/components/parts/filtreringsmeny/FiltreringsmenyPart.tsx
  packages/nextjs/src/components/parts/readMorePart/ReadMorePart.tsx
  packages/nextjs/src/utils/analytics.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, prettier --write

grå sirkel på hvit bakgrunn
  packages/nextjs/src/components/_common/kontakt-oss-kanal/_shared-utils/icon/Icon.module.scss
  packages/nextjs/src/components/layouts/flex-cols/FlexColsLayout.module.scss
  packages/nextjs/src/components/parts/seksjon-for-kontaktinformasjon/SeksjonForKontaktinformasjonPart.module.scss
Due: none

fjern overflødig overstyring
  packages/nextjs/src/components/parts/seksjon-for-kontaktinformasjon/SeksjonForKontaktinformasjonPart.module.scss
Due: none

flytt hvit farge til mixin
  packages/nextjs/src/components/layouts/flex-cols/FlexColsLayout.module.scss
Due: none

Grå sirkel kontaktikoner (#2871)
  packages/nextjs/src/components/_common/kontakt-oss-kanal/_shared-utils/icon/Icon.module.scss
  packages/nextjs/src/components/layouts/flex-cols/FlexColsLayout.module.scss
Due: none

Replace ExpansionCard with ReadMore moderate variant in Expandable
  packages/nextjs/src/components/_common/expandable/Expandable.module.scss
  packages/nextjs/src/components/_common/expandable/Expandable.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-expandable--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-expandable--documentation-requirements-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-expandable--is-open-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-expandable--payout-dates-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-expandable--processing-times-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-expandable--rates-mobile-linux-mobile-linux.png
Due: none

Path conditions:
  cd packages/nextjs && npm run lint:fix: any of: packages/nextjs/**/*.{js,jsx,ts,tsx}
  cd packages/nextjs && npm run prettier:fix: any of: packages/nextjs/**/*.{js,jsx,ts,tsx}
  cd packages/server && npm run lint:fix: any of: packages/server/**/*.{js,ts}
  cd packages/server && npm run prettier:fix: any of: packages/server/**/*.{js,ts}
  cd packages/shared && npm run lint:fix: any of: packages/shared/**/*.{js,ts}
  cd packages/shared && npm run prettier:fix: any of: packages/shared/**/*.{js,ts}
  prettier --write: any of: **/*.{json,md,yml,yaml}
