Repository navikt/nav-enonicxp-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix, cd packages/shared && npm run lint:fix, cd packages/shared && npm run prettier:fix, prettier --write

fix: gjør mypage optional i typen for å matche CMS-schema
  packages/nextjs/src/components/layouts/innlogget-seksjon-forside/InnloggetSeksjonForsideLayout.tsx
  packages/nextjs/src/types/component-props/layouts/innlogget-seksjon-forside.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Min side card adjustments (#3026)
  packages/nextjs/src/components/_common/omradekort/graphics/innlogget/min-side/MinSideAnimation.module.scss
  packages/nextjs/src/components/_common/omradekort/graphics/innlogget/min-side/MinSideAnimation.tsx
  packages/nextjs/src/components/_common/omradekort/graphics/innlogget/min-side/gfx/clipboard.svg
  packages/nextjs/src/components/_common/omradekort/graphics/innlogget/min-side/gfx/shapes.svg
  packages/nextjs/src/components/layouts/innlogget-seksjon-forside/InnloggetSeksjonForsideLayout.tsx
  packages/nextjs/src/types/component-props/layouts/innlogget-seksjon-forside.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Flytte resterende kontorsider til ny mal (#3002)
  packages/nextjs/src/components/pages/office-page/OfficePage.test.tsx
  packages/nextjs/src/components/pages/office-page/OfficePage.tsx
  packages/nextjs/src/components/pages/office-page/office-page-header/OfficePageHeader.stories.tsx
  packages/nextjs/src/components/pages/office-page/office-page-header/OfficePageHeader.tsx
  packages/nextjs/src/components/pages/office-page/officeDetails/OfficeDetails.tsx
  packages/nextjs/src/components/pages/office-page/officeDetails/mockData.ts
  packages/nextjs/src/components/pages/office-page/officeDetails/officeInformation/OfficeInformation.tsx
  packages/nextjs/src/components/pages/office-page/officeDetails/phonePoster/PhonePoster.tsx
  packages/nextjs/src/components/pages/office-page/officeDetails/utils.test.ts
  packages/nextjs/src/components/pages/office-page/officeDetails/utils.ts
  packages/nextjs/src/components/pages/office-page/officePageUtils.test.ts
  packages/nextjs/src/components/pages/office-page/officePageUtils.ts
  packages/nextjs/src/translations/default.ts
  packages/nextjs/src/translations/en.ts
  packages/nextjs/src/translations/nn.ts
  packages/nextjs/src/types/content-props/_content-common.ts
  packages/nextjs/src/types/content-props/dynamic-page-props.ts
  packages/nextjs/src/types/content-props/office-details-props.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Kontorsider: Lagt til overstyring av overskrift og beliggenhet
  packages/nextjs/src/components/pages/office-page/OfficePage.test.tsx
  packages/nextjs/src/components/pages/office-page/OfficePage.tsx
  packages/nextjs/src/components/pages/office-page/officeDetails/OfficeDetails.tsx
  packages/nextjs/src/components/pages/office-page/officeDetails/officeInformation/OfficeInformation.tsx
  packages/nextjs/src/components/pages/office-page/officeDetails/phonePoster/PhonePoster.tsx
  packages/nextjs/src/translations/default.ts
  packages/nextjs/src/translations/en.ts
  packages/nextjs/src/translations/nn.ts
  packages/nextjs/src/types/content-props/dynamic-page-props.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Oppdatering
  packages/nextjs/src/components/pages/office-page/OfficePage.test.tsx
  packages/nextjs/src/components/pages/office-page/OfficePage.tsx
  packages/nextjs/src/types/content-props/dynamic-page-props.ts
  packages/nextjs/src/types/content-props/office-details-props.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Oppdaterer lock-fil
  pnpm-lock.yaml
Due: prettier --write

Behold enhet fallback tekst
  packages/nextjs/src/components/pages/office-page/officeDetails/phonePoster/PhonePoster.tsx
  packages/nextjs/src/components/pages/office-page/officePageUtils.test.ts
  packages/nextjs/src/components/pages/office-page/officePageUtils.ts
  packages/nextjs/src/translations/default.ts
  packages/nextjs/src/translations/en.ts
  packages/nextjs/src/translations/nn.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

chore: bytte til nav-browserslist
  package.json
  packages/nextjs/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

chore: bytte til nav-browserslist (#3034)
  package.json
  packages/nextjs/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

Kontorsider: Lagt til overstyring av overskrift og beliggenhet (#3033)
  packages/nextjs/src/components/pages/office-page/OfficePage.test.tsx
  packages/nextjs/src/components/pages/office-page/OfficePage.tsx
  packages/nextjs/src/components/pages/office-page/officeDetails/OfficeDetails.tsx
  packages/nextjs/src/components/pages/office-page/officeDetails/officeInformation/OfficeInformation.tsx
  packages/nextjs/src/components/pages/office-page/officeDetails/phonePoster/PhonePoster.tsx
  packages/nextjs/src/components/pages/office-page/officePageUtils.test.ts
  packages/nextjs/src/components/pages/office-page/officePageUtils.ts
  packages/nextjs/src/types/content-props/office-details-props.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Oppdaterer til dev3-dekoratøren
  .github/workflows/deploy.dev3.yml
Due: prettier --write

Legger til riktig externahost
  .nais/vars/vars-dev3.yml
Due: prettier --write

Flytte dato opp et hakk i markupen
  packages/nextjs/src/components/parts/_legacy/artikkel/ArtikkelLegacyPart.tsx
  packages/nextjs/src/components/parts/_legacy/artikkel/komponenter/ArtikkelDato.module.scss
  packages/nextjs/src/components/parts/_legacy/page-heading/PageHeadingLegacyPart.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Få med nødvendige data og typer
  packages/nextjs/src/components/parts/_legacy/page-heading/PageHeadingLegacyPart.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Oppdaterer til beta av nav-dekoratoren-moduler
  packages/shared/src/decorator-utils-serverside.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: cd packages/shared && npm run lint:fix, cd packages/shared && npm run prettier:fix, prettier --write

Oppdaterer til beta av nav-dekoratoren-moduler
  packages/shared/src/decorator-utils-serverside.ts
Due: cd packages/shared && npm run lint:fix, cd packages/shared && npm run prettier:fix

Happy happy article heading
  packages/nextjs/src/components/layouts/legacy/LegacyLayout.tsx
  packages/nextjs/src/components/parts/_legacy/artikkel/komponenter/NewsPressHeader.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Oppdaterer playwright
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

Legger til next-logger og pino-logger i transpilePackages
  packages/nextjs/next.config.js
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-expandable--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-expandable--is-open-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-expandable--legacy-usage-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-kalkulator--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-kalkulator-kalkulatorfield--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-knapp--full-width-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-lenkepanel-legacy-lenkepanelnavno--ikon-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-oversikt-filters-summary-oversiktfilterssummary--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-oversikt-filters-summary-oversiktfilterssummary--no-hits-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-productpanelexpandable--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-productpanelexpandable--with-ingress-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-qbrick-video-qbrickvideo--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-qbrick-video-qbrickvideo--hover-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-skjemadetaljer--alerts-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-skjemadetaljer--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-skjemadetaljer--language-disclaimer-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-skjemadetaljer--with-form-numbers-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-trekkspill--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-uxsignalswidget--primary-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-layouts-index-page-area-page-areapageheader--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-layouts-index-page-area-page-banner-areapageheaderbanner--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-contenttypenotsupportedpage--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-office-page-officedetails--arbeidslivssenter-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-office-page-officedetails--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-office-page-officedetails-officeinformation--closed-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-office-page-officedetails-officeinformation--open-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-office-page-officedetails-phoneposter--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-oversikt-page-forms-list-panel-oversiktlistpanel--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-parts-readmorepart--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-parts-readmorepart--opened-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-parts-situasjonskort-situasjonskortpart--disabled-mobile-linux-mobile-linux.png
Due: none

Update packages/nextjs/src/components/parts/_legacy/artikkel/komponenter/NewsPressHeader.tsx
  packages/nextjs/src/components/parts/_legacy/artikkel/komponenter/NewsPressHeader.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Apply suggestion from @PerOlavM
  packages/nextjs/src/components/parts/_legacy/artikkel/komponenter/NewsPressHeader.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

feat: endre min side lenken til kort (#3025)
  packages/nextjs/src/components/_common/omradekort/graphics/OmradekortGraphics.tsx
  packages/nextjs/src/components/_common/omradekort/graphics/innlogget/min-side/MinSideAnimation.module.scss
  packages/nextjs/src/components/_common/omradekort/graphics/innlogget/min-side/MinSideAnimation.tsx
  packages/nextjs/src/components/_common/omradekort/graphics/innlogget/min-side/gfx/person.svg
  packages/nextjs/src/components/_common/omradekort/graphics/innlogget/min-side/gfx/shapes.svg
  packages/nextjs/src/components/layouts/innlogget-seksjon-forside/InnloggetSeksjonForsideLayout.module.scss
  packages/nextjs/src/components/layouts/innlogget-seksjon-forside/InnloggetSeksjonForsideLayout.tsx
  packages/nextjs/src/components/parts/omradekort/OmradekortPart.tsx
  packages/nextjs/src/types/component-props/layouts/innlogget-seksjon-forside.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

chore(security): hindre klienter fra bruk av intern header
  packages/server/src/req-handlers/path-validation-middleware.ts
Due: cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix

chore(security): hindre klienter fra bruk av intern header (#3045)
  packages/server/src/req-handlers/path-validation-middleware.ts
Due: cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix

chore: fiks test for forrige commit
  packages/server/src/req-handlers/path-validation-middleware.test.ts
Due: cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix

ci: kjør tester på PR
  .github/workflows/test.yml
Due: prettier --write

ResolveAlias for turpopack-empty
  packages/nextjs/next.config.js
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Reverte til webpack for prod
  packages/nextjs/next-env.d.ts
  packages/nextjs/next.config.js
  packages/nextjs/package.json
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, prettier --write

Justering i gammel artikkelmal (#3036)
  packages/nextjs/src/components/layouts/legacy/LegacyLayout.tsx
  packages/nextjs/src/components/parts/_legacy/artikkel/ArtikkelLegacyPart.tsx
  packages/nextjs/src/components/parts/_legacy/artikkel/komponenter/ArtikkelDato.module.scss
  packages/nextjs/src/components/parts/_legacy/artikkel/komponenter/NewsPressHeader.tsx
  packages/nextjs/src/components/parts/_legacy/page-heading/PageHeadingLegacyPart.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Revert "Justering i gammel artikkelmal (#3036)"
  packages/nextjs/src/components/layouts/legacy/LegacyLayout.tsx
  packages/nextjs/src/components/parts/_legacy/artikkel/ArtikkelLegacyPart.tsx
  packages/nextjs/src/components/parts/_legacy/artikkel/komponenter/ArtikkelDato.module.scss
  packages/nextjs/src/components/parts/_legacy/artikkel/komponenter/NewsPressHeader.tsx
  packages/nextjs/src/components/parts/_legacy/page-heading/PageHeadingLegacyPart.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

prøve på nytt
  packages/nextjs/src/components/layouts/legacy/LegacyLayout.tsx
  packages/nextjs/src/components/parts/_legacy/artikkel/komponenter/NewsPressHeader.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Ikke vise dato dobbelt
  packages/nextjs/src/components/parts/_legacy/artikkel/ArtikkelLegacyPart.tsx
  packages/nextjs/src/components/parts/_legacy/artikkel/komponenter/ArtikkelDato.module.scss
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Path conditions:
  cd packages/nextjs && npm run lint:fix: any of: packages/nextjs/**/*.{js,jsx,ts,tsx}
  cd packages/nextjs && npm run prettier:fix: any of: packages/nextjs/**/*.{js,jsx,ts,tsx}
  cd packages/server && npm run lint:fix: any of: packages/server/**/*.{js,ts}
  cd packages/server && npm run prettier:fix: any of: packages/server/**/*.{js,ts}
  cd packages/shared && npm run lint:fix: any of: packages/shared/**/*.{js,ts}
  cd packages/shared && npm run prettier:fix: any of: packages/shared/**/*.{js,ts}
  prettier --write: any of: **/*.{json,md,yml,yaml}
