Repository navikt/nav-enonicxp-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix, cd packages/shared && npm run lint:fix, cd packages/shared && npm run prettier:fix, prettier --write

Button -> Knapp
  .github/copilot-instructions.md
  package-lock.json
  packages/nextjs/src/components/_common/kalkulator/Kalkulator.tsx
  packages/nextjs/src/components/_common/knapp/Knapp.module.scss
  packages/nextjs/src/components/_common/knapp/Knapp.stories.tsx
  packages/nextjs/src/components/_common/knapp/Knapp.tsx
  packages/nextjs/src/components/_common/kontakt-oss-kanal/ChatAlternativ/ChatAlternativ.tsx
  packages/nextjs/src/components/_common/kontakt-oss-kanal/StandardAlternativ/StandardAlternativ.tsx
  packages/nextjs/src/components/_common/lenkepanel/LenkepanelNavno/LenkepanelNavno.tsx
  packages/nextjs/src/components/_common/skjemadetaljer/SkjemadetaljerButton.tsx
  packages/nextjs/src/components/_editor-only/references-info/result/ReferencesInfoResult.tsx
  packages/nextjs/src/components/_editor-only/version-history/selector/submit-button/VersionSelectorSubmitButton.tsx
  packages/nextjs/src/components/macros/button/MacroButton.tsx
  packages/nextjs/src/components/macros/chatbot-link/MacroChatbotLink.tsx
  packages/nextjs/src/components/macros/consent-banner-link/MacroConsentBannerLink.tsx
  packages/nextjs/src/components/pages/global-values-page/components/button/GVButton.tsx
  packages/nextjs/src/components/parts/PartsMapper.tsx
  packages/nextjs/src/components/parts/button/KnappPart.tsx
  packages/nextjs/src/types/component-props/parts.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, prettier --write

Ferdigstille KnappPart
  packages/nextjs/src/components/parts/PartsMapper.tsx
  packages/nextjs/src/components/parts/knapp/KnappPart.module.scss
  packages/nextjs/src/components/parts/knapp/KnappPart.tsx
  packages/nextjs/src/types/component-props/parts.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

PartType
  packages/nextjs/src/types/component-props/parts.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Forsøke heartbeat 10 ganger før Error logger (#2794)
  packages/server/src/cache/revalidator-proxy-heartbeat.test.ts
  packages/server/src/cache/revalidator-proxy-heartbeat.ts
Due: cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix

test tydeligere farge selected tag
  packages/nextjs/src/components/_common/formNumberTag/FormNumberTag.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

juster farger på områdekort
  packages/nextjs/src/components/_common/omradekort/Omradekort.stories.tsx
  packages/nextjs/src/components/_common/omradekort/graphics/innlogget/employment-status-form/EmploymentStatusFormAnimation.module.scss
  packages/nextjs/src/components/_common/omradekort/graphics/open-pages/accessibility/AccessibilityAnimation.module.scss
  packages/nextjs/src/components/_common/omradekort/graphics/open-pages/family/FamilyAnimation.module.scss
  packages/nextjs/src/components/_common/omradekort/graphics/open-pages/health/HealthAnimation.module.scss
  packages/nextjs/src/components/_common/omradekort/graphics/open-pages/pension/PensionAnimation.module.scss
  packages/nextjs/src/components/_common/omradekort/graphics/open-pages/social-counselling/SocialCounsellingAnimation.module.scss
  packages/nextjs/src/components/_common/omradekort/graphics/open-pages/work/WorkAnimation.module.scss
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

glemte noen kort
  packages/nextjs/src/components/_common/omradekort/graphics/innlogget/cases/CasesAnimation.module.scss
  packages/nextjs/src/components/_common/omradekort/graphics/innlogget/employment-status-form/EmploymentStatusFormAnimation.module.scss
  packages/nextjs/src/components/_common/omradekort/graphics/innlogget/payments/PaymentsAnimation.module.scss
Due: none

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-formnumbertag--selected-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-omradekort--accessibility-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-omradekort--cases-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-omradekort--employment-desktop-linux-desktop-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-omradekort--employment-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-omradekort--employment-status-form-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-omradekort--payments-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-omradekort--pension-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-omradekort--social-counselling-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-skjemadetaljer--with-form-numbers-mobile-linux-mobile-linux.png
Due: none

remove v prefix
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

hovered stories områdekort
  packages/nextjs/src/components/_common/omradekort/Omradekort.stories.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

fjern masse styling fra Accordion
  packages/nextjs/src/components/_common/trekkspill/Trekkspill.module.scss
  packages/nextjs/src/components/_common/trekkspill/Trekkspill.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

fiks gjennomsiktig sticky hover
  packages/nextjs/src/components/_common/trekkspill/Trekkspill.module.scss
Due: none

hack sett samme farge som i Aksel
  packages/nextjs/src/components/_common/trekkspill/Trekkspill.module.scss
Due: none

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-omradekort--accessibility-hovered-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-omradekort--cases-hovered-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-omradekort--employment-status-form-hovered-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-omradekort--family-hovered-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-omradekort--health-hovered-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-omradekort--payments-hovered-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-omradekort--pension-hovered-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-omradekort--social-counselling-hovered-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-omradekort--work-hovered-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-trekkspill--default-mobile-linux-mobile-linux.png
Due: none

fjern gammel shadow fra mircrocard og endre hoverfarge
  packages/nextjs/src/components/_common/card/MicroCard/MicroCard.module.scss
Due: none

fix: adjust border styling for MicroCard hover and focus states
  packages/nextjs/src/components/_common/card/MicroCard/MicroCard.module.scss
Due: none

fix: remove border and box-shadow from MiniCard hover and focus states
  packages/nextjs/src/components/_common/card/MiniCardV2/MiniCardV2.module.scss
Due: none

fiks farge chevron
  packages/nextjs/src/components/pages/office-page/officeDetails/officeInformation/OfficeInformation.module.scss
Due: none

Makro Button -> Knapp
  packages/nextjs/src/components/_common/knapp/Knapp.tsx
  packages/nextjs/src/components/_common/kontakt-oss-kanal/ChatAlternativ/ChatAlternativ.tsx
  packages/nextjs/src/components/_common/kontakt-oss-kanal/StandardAlternativ/StandardAlternativ.tsx
  packages/nextjs/src/components/macros/MacroMapper.tsx
  packages/nextjs/src/components/macros/button/MacroButton.tsx
  packages/nextjs/src/components/macros/knapp/MacroKnapp.tsx
  packages/nextjs/src/components/parts/knapp/KnappPart.tsx
  packages/nextjs/src/types/macro-props/_macros-common.ts
  packages/nextjs/src/types/macro-props/knapp.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Revert refactor av Aksel Button
  .github/copilot-instructions.md
Due: prettier --write

Stories
  packages/nextjs/src/components/_common/trekkspill/Trekkspill.stories.ts
  packages/nextjs/src/components/parts/PartsMapper.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

ButtonBlue -> KnappBlaa
  packages/nextjs/src/components/macros/MacroMapper.tsx
  packages/nextjs/src/components/parts/knapp/KnappPart.tsx
  packages/nextjs/src/types/macro-props/_macros-common.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-button--default-desktop-linux-desktop-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-button--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-button--full-width-desktop-linux-desktop-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-button--full-width-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-knapp--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-knapp--full-width-mobile-linux-mobile-linux.png
Due: none

Bytter til chainguard-image
  .failover/Dockerfile.failover
  Dockerfile
Due: none

Korrigerer feil lablet kontorside
  packages/nextjs/src/types/content-props/_content-common.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Korrigerer feil lablet kontorside (#2798)
  packages/nextjs/src/types/content-props/_content-common.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Kjører 'nonroot' i dockerimage
  .failover/Dockerfile.failover
  Dockerfile
Due: none

Fikser feil i failoverbygging etter chainguard
  .failover/.npmrc
  .failover/build-dev-failover-image.sh
Due: none

Bytter til chainguard-image (#2799)
  .failover/.npmrc
  .failover/Dockerfile.failover
  .failover/build-dev-failover-image.sh
  Dockerfile
Due: none

Endring som bør trigge visuell varsel
  packages/nextjs/src/components/_common/trekkspill/Trekkspill.module.scss
Due: none

Legger til veldig blå bakgrunnsfarge
  packages/nextjs/src/components/_common/button/Button.module.scss
Due: none

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-button--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-button--full-width-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-chatbot-chatbotlenkepanel--alert-text-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-chatbot-chatbotlenkepanel--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-kalkulator--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-kontakt-oss-kanal-chatalternativ--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-kontakt-oss-kanal-chatalternativ--regular-opening-hours-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-kontakt-oss-kanal-chatalternativ--with-alert-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-kontakt-oss-kanal-standardalternativ--chat-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-lenkepanel-lenkepanelnavno--button-link-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-skjemadetaljer--alerts-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-skjemadetaljer--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-skjemadetaljer--language-disclaimer-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-skjemadetaljer--with-form-numbers-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-parts-seksjon-for-kontaktinformasjon-seksjonforkontaktinformasjonpart--alert-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-parts-seksjon-for-kontaktinformasjon-seksjonforkontaktinformasjonpart--default-mobile-linux-mobile-linux.png
Due: none

En annen endring som skaper visuell endring
  packages/nextjs/src/components/_common/button/Button.module.scss
Due: none

Enda en endring
  packages/nextjs/src/components/_common/button/Button.module.scss
Due: none

Haugevis av endringer
  packages/nextjs/src/components/_common/button/Button.module.scss
Due: none

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-formintermediatesteppage--step-mobile-linux-mobile-linux.png
Due: none

bruk ingress fra lenkepanel på forrige steg
  packages/nextjs/src/components/pages/formIntermediateStepPage/FormIntermediateStepPage.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Bruk explanation fra forrige steg som editorial-fallback
  packages/nextjs/src/components/layouts/mellomsteg/MellomstegLayout.tsx
  packages/nextjs/src/components/pages/formIntermediateStepPage/FormIntermediateStepPage.tsx
  packages/nextjs/src/components/pages/formIntermediateStepPage/useFormIntermediateStepPage.tsx
  packages/nextjs/src/types/content-props/form-intermediate-step.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Rename lastStepExplanation to previousStepExplanation for clarity in getStepData function
  packages/nextjs/src/components/pages/formIntermediateStepPage/useFormIntermediateStepPage.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Path conditions:
  cd packages/nextjs && npm run lint:fix: any of: packages/nextjs/**/*.{js,jsx,ts,tsx}
  cd packages/nextjs && npm run prettier:fix: any of: packages/nextjs/**/*.{js,jsx,ts,tsx}
  cd packages/server && npm run lint:fix: any of: packages/server/**/*.{js,ts}
  cd packages/server && npm run prettier:fix: any of: packages/server/**/*.{js,ts}
  cd packages/shared && npm run lint:fix: any of: packages/shared/**/*.{js,ts}
  cd packages/shared && npm run prettier:fix: any of: packages/shared/**/*.{js,ts}
  prettier --write: any of: **/*.{json,md,yml,yaml}
