Repository navikt/nav-enonicxp-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix, cd packages/shared && npm run lint:fix, cd packages/shared && npm run prettier:fix, prettier --write

Legger til data-color for Varselboks
  packages/nextjs/src/components/_common/varselboks/Varselboks.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Prom improvements
  packages/nextjs/src/components/_common/varselboks/Varselboks.tsx
  packages/server/jest.config.mjs
  packages/server/src/cache/page-cache-handler.ts
  packages/server/src/health/health-metrics.ts
  packages/server/src/metrics/request-metrics.ts
  packages/server/src/req-handlers/path-validation-middleware.ts
  packages/server/src/server.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix

Endrer redis til valkey i metrikk
  packages/server/src/cache/page-cache-handler.ts
Due: cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix

Endrer redis til valkey i metrikk (#2962)
  packages/server/src/cache/page-cache-handler.ts
Due: cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix

Støtte for linjeskift
  packages/nextjs/src/components/layouts/flex-cols/SituationPageFlexColsLayout.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Bruk ParsedHtml
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/fragment-utenfor-innholdsseksjon/pageContentFragmentUtenforInnholdsseksjon.tsx
  packages/nextjs/src/components/layouts/flex-cols/FlexColsLayout.module.scss
  packages/nextjs/src/components/layouts/flex-cols/SituationPageFlexColsLayout.tsx
  packages/nextjs/src/types/component-props/layouts/situation-flex-cols.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Logs fetch attempts
  packages/server/package.json
  packages/server/src/cache/page-cache-handler.ts
  packages/shared/package.json
  packages/shared/src/request-metrics.ts
  pnpm-lock.yaml
Due: cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix, cd packages/shared && npm run lint:fix, cd packages/shared && npm run prettier:fix, prettier --write

Debug cache metrics
  packages/server/package.json
  packages/server/src/req-handlers/path-validation-middleware.ts
  pnpm-lock.yaml
Due: cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix, prettier --write

Debug cache metrics
  packages/server/src/server.ts
Due: cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix

Fikser cache metrics og hardner til Valkey ved feil
  packages/nextjs/package.json
  packages/nextjs/src/utils/fetch/fetch-content.ts
  packages/server/src/cache/page-cache-handler.ts
  packages/server/src/metrics/request-metrics.ts
  packages/shared/package.json
  packages/shared/src/metrics/page-cache-metrics.ts
  packages/shared/src/redis_local.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix, cd packages/shared && npm run lint:fix, cd packages/shared && npm run prettier:fix, prettier --write

Fikser cache metrics og hardner til Valkey ved feil (#2964)
  packages/nextjs/package.json
  packages/nextjs/src/utils/fetch/fetch-content.ts
  packages/server/src/cache/page-cache-handler.ts
  packages/server/src/metrics/request-metrics.ts
  packages/shared/package.json
  packages/shared/src/metrics/page-cache-metrics.ts
  packages/shared/src/redis_local.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix, cd packages/shared && npm run lint:fix, cd packages/shared && npm run prettier:fix, prettier --write

Oppdaterer pnpm-lock
  pnpm-lock.yaml
Due: prettier --write

Imporove comments
  packages/nextjs/src/utils/fetch/fetch-content.ts
  packages/server/src/cache/page-cache-handler.ts
  packages/shared/src/metrics/page-cache-metrics.ts
  packages/shared/src/redis_local.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix, cd packages/shared && npm run lint:fix, cd packages/shared && npm run prettier:fix

Potential fix for pull request finding
  packages/nextjs/src/utils/fetch/fetch-content.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Potential fix for pull request finding
  packages/server/src/cache/page-cache-handler.ts
Due: cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix

Oppdaterer lock-fil
  pnpm-lock.yaml
Due: prettier --write

Fikser cache metrics og hardner til Valkey ved feil (#2965)
  packages/nextjs/package.json
  packages/nextjs/src/utils/fetch/fetch-content.ts
  packages/server/src/cache/page-cache-handler.ts
  packages/server/src/metrics/request-metrics.ts
  packages/shared/package.json
  packages/shared/src/metrics/page-cache-metrics.ts
  packages/shared/src/redis_local.ts
  pnpm-lock.yaml
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix, cd packages/shared && npm run lint:fix, cd packages/shared && npm run prettier:fix, prettier --write

Forbedrer delte linting-regler
  eslint.config.mjs
  packages/nextjs/eslint.config.mjs
  packages/server/eslint.config.mjs
  packages/shared/eslint.config.mjs
  packages/shared/package.json
  packages/shared/src/constants.ts
  pnpm-lock.yaml
Due: cd packages/shared && npm run lint:fix, cd packages/shared && npm run prettier:fix, prettier --write

noDecorator option, til bruk i arkivet
  packages/nextjs/src/components/_common/metatags/DocumentParameterMetatags.tsx
  packages/nextjs/src/types/content-props/_content-common.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Oppdatere til eslint 10 (#2969)
  eslint.config.mjs
  package.json
  packages/nextjs/eslint.config.mjs
  packages/nextjs/src/components/pages/office-page/office-page-header/OfficePageHeader.tsx
  packages/server/eslint.config.mjs
  packages/shared/eslint.config.mjs
  packages/shared/package.json
  packages/shared/src/constants.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, cd packages/shared && npm run lint:fix, cd packages/shared && npm run prettier:fix, prettier --write

Oppdaterer pnpm
  package.json
Due: prettier --write

Endrer scss etter export som ikke støttes. Fikser enkelte parsing av html pga hydreringsfeil
  packages/nextjs/next-env.d.ts
  packages/nextjs/src/components/_common/chevron/FancyChevronCommon.module.scss
  packages/nextjs/src/components/_common/chevron/FancyChevronCommon.ts
  packages/nextjs/src/components/_common/lenkepanel-legacy/LenkepanelNavNo.module.scss
  packages/nextjs/src/components/_common/omradekort/Omradekort.tsx
  packages/nextjs/src/components/_common/omradekort/graphics/OmradekortGraphicsCommon.module.scss
  packages/nextjs/src/components/_common/omradekort/graphics/OmradekortGraphicsCommon.ts
  packages/nextjs/src/components/_common/parsedHtml/ParsedHtml.tsx
  packages/nextjs/src/components/layouts/index-page/area-page/AreaPageHeader.tsx
  packages/nextjs/src/components/layouts/index-page/area-page/banner/AreaPageHeaderBanner.tsx
  packages/nextjs/src/components/pages/office-editorial-page/OfficeEditorialPage.module.scss
  packages/nextjs/src/components/pages/office-page/OfficePage.module.scss
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Fikser test-config
  packages/nextjs/jest.config.mjs
Due: none

Fikser byggefeil
  packages/nextjs/jest.config.mjs
  packages/nextjs/next-env.d.ts
  packages/nextjs/tsconfig.json
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, prettier --write

Fikser cors-issue mellom oera og ansatt.dev.nav.no ved kall av json
  packages/nextjs/next.config.js
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Tester om ekstern-fetch fungerer bedre
  packages/nextjs/src/utils/fetch/fetch-cache-content.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Fikser cors
  packages/nextjs/src/utils/fetch/fetch-cache-content.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Legger til sjekk av window i tilfelle ssr senere
  packages/nextjs/src/utils/fetch/fetch-cache-content.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

test unleash
  .nais/config.yml
  .nais/unleash-apitoken.dev.yaml
  .nais/unleash-apitoken.prod.yaml
  package.json
  packages/nextjs/src/components/_common/qbrick-video/QbrickVideo.tsx
  packages/nextjs/src/pages/_app.tsx
  packages/nextjs/src/pages/api/unleash/[[...path]].ts
  pnpm-lock.yaml
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, prettier --write

Oppdaterer playwright-versjon og lock-fil
  .github/workflows/visual-changes-bot.yml
Due: prettier --write

Oppdaterer playwright-versjon og lock-fil
  pnpm-lock.yaml
Due: prettier --write

proxyurl
  packages/nextjs/src/pages/_app.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-card-minicardv2--hover-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-omradekort--accessibility-hovered-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-omradekort--cases-hovered-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-omradekort--employment-status-form-hovered-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-omradekort--family-hovered-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-omradekort--health-hovered-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-omradekort--payments-hovered-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-omradekort--pension-hovered-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-omradekort--social-counselling-hovered-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-omradekort--work-hovered-mobile-linux-mobile-linux.png
Due: none

update secret name
  .nais/config.yml
Due: prettier --write

apitoken
  .nais/unleash-api-token.yaml
  .nais/unleash-apitoken.prod.yaml
Due: prettier --write

yaml to yml
  .nais/unleash-api-token.yml
Due: prettier --write

Resolve conflict after merge
  pnpm-lock.yaml
Due: prettier --write

unleash server api url
  .nais/config.yml
Due: prettier --write

unleash external host
  .nais/unleash-api-token.yml
  .nais/vars/vars-dev1.yml
Due: prettier --write

Path conditions:
  cd packages/nextjs && npm run lint:fix: any of: packages/nextjs/**/*.{js,jsx,ts,tsx}
  cd packages/nextjs && npm run prettier:fix: any of: packages/nextjs/**/*.{js,jsx,ts,tsx}
  cd packages/server && npm run lint:fix: any of: packages/server/**/*.{js,ts}
  cd packages/server && npm run prettier:fix: any of: packages/server/**/*.{js,ts}
  cd packages/shared && npm run lint:fix: any of: packages/shared/**/*.{js,ts}
  cd packages/shared && npm run prettier:fix: any of: packages/shared/**/*.{js,ts}
  prettier --write: any of: **/*.{json,md,yml,yaml}
