Repository navikt/nav-enonicxp-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix, cd packages/shared && npm run lint:fix, cd packages/shared && npm run prettier:fix, prettier --write

.lintstagedrc.json:

{
    "packages/nextjs/**/*.{js,jsx,ts,tsx}": [
        "cd packages/nextjs && npm run lint:fix",
        "cd packages/nextjs && npm run prettier:fix"
    ],
    "packages/server/**/*.{js,ts}": [
        "cd packages/server && npm run lint:fix",
        "cd packages/server && npm run prettier:fix"
    ],
    "packages/shared/**/*.{js,ts}": [
        "cd packages/shared && npm run lint:fix",
        "cd packages/shared && npm run prettier:fix"
    ],
    "**/*.{json,md,yml,yaml}": ["prettier --write"]
}

Endrer aria-label fra "I dette kapittelet" til "I kapittel [tittel]"
  packages/nextjs/src/components/_common/pageNavigationMenu/PageNavigationMenu.stories.ts
  packages/nextjs/src/components/_common/pageNavigationMenu/PageNavigationMenu.tsx
  packages/nextjs/src/components/_common/pageNavigationMenu/SectionNavigation/SectionNavigation.tsx
  packages/nextjs/src/components/_common/section-navigation/SectionNavigation.tsx
  packages/nextjs/src/components/layouts/innholdsside-med-meny/InnholdssideMedMeny.tsx
  packages/nextjs/src/components/layouts/section-with-header/SectionWithHeaderLayout.tsx
  packages/nextjs/src/components/parts/page-navigation-menu/PageNavigationMenuPart.tsx
  packages/nextjs/src/translations/default.ts
  packages/nextjs/src/translations/en.ts
  packages/nextjs/src/translations/nn.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

fiks hardkodet lenke
  packages/nextjs/src/components/pages/office-page/officeDetails/kontaktskjema/Kontaktskjema.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

fiks nynorsk tekst i kontaktskjema på ALS-sider
  packages/nextjs/src/translations/nn.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

fragment gir ikke varsel dersom det er en innholdsseksjon
  package-lock.json
  packages/nextjs/src/components/FragmentComponent.tsx
  packages/nextjs/src/components/_editor-only/global-warnings/warnings/fragment-utenfor-innholdsseksjon/pageContentFragmentUtenforInnholdsseksjon.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, prettier --write

Få med stories
  packages/nextjs/src/components/_common/pageNavigationMenu/SectionNavigation/SectionNavigation.stories.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Ryddet i SectionNavigation og justert styling.
  packages/nextjs/src/components/_common/pageNavigationMenu/DynamicNavigation.tsx
  packages/nextjs/src/components/_common/pageNavigationMenu/PageNavigationMenu.module.scss
  packages/nextjs/src/components/_common/pageNavigationMenu/PageNavigationMenu.tsx
  packages/nextjs/src/components/_common/pageNavigationMenu/SectionNavigation/SectionNavigation.tsx
  packages/nextjs/src/components/_common/section-navigation/SectionNavigation.tsx
  packages/nextjs/src/components/layouts/innholdsside-med-meny/InnholdssideMedMeny.tsx
  packages/nextjs/src/components/parts/page-navigation-menu/PageNavigationMenuPart.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

merge main
  packages/nextjs/src/store/hooks/useCheckAndOpenTrekkspillPanel.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

mergeconflict
  packages/nextjs/src/store/hooks/useCheckAndOpenPanel.ts
  packages/nextjs/src/store/hooks/useCheckAndOpenTrekkspillPanel.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

siden vi vasker duplikate id-er er denne unødvendig
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/duplikate-ider/DuplikateIder.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Import domToReact from html-react-parser
  packages/nextjs/src/components/_common/parsedHtml/ParsedHtml.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Revert "Åpne alle paneler dersom det finnes en redaktørvarsel og vaske duplikate id-er fra innholdstyper"
  packages/nextjs/src/components/FragmentComponent.tsx
  packages/nextjs/src/components/_common/expandable/Expandable.tsx
  packages/nextjs/src/components/_common/parsedHtml/ParsedHtml.tsx
  packages/nextjs/src/components/_common/trekkspill/Trekkspill.tsx
  packages/nextjs/src/components/_editor-only/EditorWidgets.tsx
  packages/nextjs/src/components/_editor-only/global-warnings/Redaktorvarsler.module.scss
  packages/nextjs/src/components/_editor-only/global-warnings/Redaktorvarsler.tsx
  packages/nextjs/src/components/_editor-only/global-warnings/warnings/duplicate-ids/DuplicateIds.tsx
  packages/nextjs/src/components/_editor-only/global-warnings/warnings/duplicate-ids/DuplicateIdsWarning.module.scss
  packages/nextjs/src/components/_editor-only/global-warnings/warnings/duplicate-ids/DuplicateIdsWarning.tsx
  packages/nextjs/src/components/_editor-only/global-warnings/warnings/form-numbers-warning/FormNumbersWarning.tsx
  packages/nextjs/src/components/_editor-only/global-warnings/warnings/form-numbers/FormNumbersWarning.tsx
  packages/nextjs/src/components/_editor-only/global-warnings/warnings/fragment-utenfor-innholdsseksjon/FragmentUtenforInnholdsseksjon.tsx
  packages/nextjs/src/components/_editor-only/global-warnings/warnings/fragment-utenfor-innholdsseksjon/pageContentFragmentUtenforInnholdsseksjon.tsx
  packages/nextjs/src/components/_editor-only/global-warnings/warnings/html-area-div/HtmlAreaDiv.tsx
  packages/nextjs/src/components/_editor-only/global-warnings/warnings/html-area-div/htmlAreaContainsDiv.tsx
  packages/nextjs/src/components/_editor-only/global-warnings/warnings/html-area-utenfor-innholdsseksjon/HtmlAreaUtenforInnholdsseksjon.tsx
  packages/nextjs/src/components/_editor-only/global-warnings/warnings/html-area-utenfor-innholdsseksjon/pageContentHtmlAreaUtenforInnholdsseksjon.tsx
  packages/nextjs/src/components/_editor-only/global-warnings/warnings/kontaktinformasjon/KontaktinformasjonWarning.tsx
  packages/nextjs/src/components/_editor-only/global-warnings/warnings/kort-url-warning/KortUrlWarning.tsx
  packages/nextjs/src/components/_editor-only/global-warnings/warnings/kort-url/KortUrlWarning.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/Redaktorvarsler.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/erGodkjentSide.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/harRedaktorfeil.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/duplikate-ider/DuplikateIder.tsx
  packages/nextjs/src/components/parts/html-area/HtmlAreaPart.tsx
  packages/nextjs/src/components/parts/readMorePart/ReadMorePart.tsx
  packages/nextjs/src/store/hooks/useCheckAndOpenPanel.ts
  packages/nextjs/src/store/hooks/useCheckAndOpenTrekkspillPanel.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

måtte legge inn editorView på redaktørfeil for at den ikke skal åpne paneler åp nav.no
  packages/nextjs/src/components/_editor-only/redaktorvarsler/harRedaktorfeil.tsx
  packages/nextjs/src/store/hooks/useCheckAndOpenTrekkspillPanel.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

fikset feil på paneler
  package-lock.json
  packages/nextjs/src/components/_editor-only/redaktorvarsler/harRedaktorfeil.tsx
  packages/nextjs/src/store/hooks/useCheckAndOpenTrekkspillPanel.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, prettier --write

Reapply "Åpne alle paneler dersom det finnes en redaktørvarsel og vaske duplikate id-er fra innholdstyper"
  packages/nextjs/src/store/hooks/useCheckAndOpenTrekkspillPanel.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Reapply "Åpne alle paneler dersom det finnes en redaktørvarsel og vaske duplikate id-er fra innholdstyper"
  packages/nextjs/src/components/FragmentComponent.tsx
  packages/nextjs/src/components/_common/expandable/Expandable.tsx
  packages/nextjs/src/components/_common/parsedHtml/ParsedHtml.tsx
  packages/nextjs/src/components/_common/trekkspill/Trekkspill.tsx
  packages/nextjs/src/components/_editor-only/EditorWidgets.tsx
  packages/nextjs/src/components/_editor-only/global-warnings/Redaktorvarsler.tsx
  packages/nextjs/src/components/_editor-only/global-warnings/warnings/duplicate-ids/DuplicateIds.tsx
  packages/nextjs/src/components/_editor-only/global-warnings/warnings/form-numbers-warning/FormNumbersWarning.tsx
  packages/nextjs/src/components/_editor-only/global-warnings/warnings/kort-url-warning/KortUrlWarning.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/Redaktorvarsler.module.scss
  packages/nextjs/src/components/_editor-only/redaktorvarsler/Redaktorvarsler.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/erGodkjentSide.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/harRedaktorfeil.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/duplikate-ider/DuplicateIdsVarsel.module.scss
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/duplikate-ider/DuplikateIder.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/duplikate-ider/DuplikateIderVarsel.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/formatert-innhold-utenfor-innholdsseksjon/FormatertInnholdUtenforInnholdsseksjon.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/formatert-innhold-utenfor-innholdsseksjon/pageContentFormatertInnholdUtenforInnholdsseksjon.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/fragment-utenfor-innholdsseksjon/FragmentUtenforInnholdsseksjon.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/fragment-utenfor-innholdsseksjon/pageContentFragmentUtenforInnholdsseksjon.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/html-area-div/HtmlAreaDiv.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/html-area-div/htmlAreaInneholderDiv.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/kontaktinformasjon/KontaktinformasjonVarsel.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/kort-url/KortUrlVarsel.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/skjemanummer/SkjemanummerVarsel.tsx
  packages/nextjs/src/components/parts/html-area/HtmlAreaPart.tsx
  packages/nextjs/src/components/parts/readMorePart/ReadMorePart.tsx
  packages/nextjs/src/store/hooks/useCheckAndOpenPanel.ts
  packages/nextjs/src/store/hooks/useCheckAndOpenTrekkspillPanel.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

ny branch med alle greiene (det er fredag ass)
  package-lock.json
  packages/nextjs/src/components/_editor-only/redaktorvarsler/harRedaktorfeil.tsx
  packages/nextjs/src/store/hooks/useCheckAndOpenPanel.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, prettier --write

riktige paneler
  packages/nextjs/src/store/hooks/useCheckAndOpenPanel.ts
  packages/nextjs/src/store/hooks/useCheckAndOpenTrekkspillPanel.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

kodejustering
  packages/nextjs/src/store/hooks/useCheckAndOpenTrekkspillPanel.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

La til storybook info
  .github/copilot-instructions.md
Due: prettier --write

Lagt til Copilot-instruksjoner (#2601)
  .github/copilot-instructions.md
Due: prettier --write

Innholdsnavigasjon UU-fiks + Flyttet visning av andre målgrupper inn i innholdsmenyen (#2607)
  packages/nextjs/src/components/_common/pageNavigationMenu/DynamicNavigation.tsx
  packages/nextjs/src/components/_common/pageNavigationMenu/PageNavigationMenu.module.scss
  packages/nextjs/src/components/_common/pageNavigationMenu/PageNavigationMenu.stories.ts
  packages/nextjs/src/components/_common/pageNavigationMenu/PageNavigationMenu.tsx
  packages/nextjs/src/components/_common/pageNavigationMenu/SectionNavigation/SectionNavigation.stories.tsx
  packages/nextjs/src/components/_common/pageNavigationMenu/SectionNavigation/SectionNavigation.tsx
  packages/nextjs/src/components/_common/section-navigation/SectionNavigation.tsx
  packages/nextjs/src/components/layouts/innholdsside-med-meny/InnholdssideMedMeny.tsx
  packages/nextjs/src/components/layouts/section-with-header/SectionWithHeaderLayout.tsx
  packages/nextjs/src/components/parts/page-navigation-menu/PageNavigationMenuPart.tsx
  packages/nextjs/src/translations/default.ts
  packages/nextjs/src/translations/en.ts
  packages/nextjs/src/translations/nn.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Alltid kjør npm ci med --ignore-scripts
  .github/workflows/build-image.yml
  .github/workflows/deploy-storybook.yml
  .github/workflows/visual-changes-bot.yml
Due: prettier --write

Alltid kjør npm ci med --ignore-scripts (#2618)
  .github/workflows/build-image.yml
  .github/workflows/deploy-storybook.yml
  .github/workflows/visual-changes-bot.yml
Due: prettier --write

trekk ut til CombinedMenu, usikker på navnet
  packages/nextjs/src/components/_common/pageNavigationMenu/CombinedMenu.tsx/CombinedMenu.module.scss
  packages/nextjs/src/components/_common/pageNavigationMenu/CombinedMenu.tsx/CombinedMenu.tsx
  packages/nextjs/src/components/layouts/innholdsside-med-meny/InnholdssideMedMeny.module.scss
  packages/nextjs/src/components/layouts/innholdsside-med-meny/InnholdssideMedMeny.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

important
  packages/nextjs/src/components/_common/pageNavigationMenu/CombinedMenu.tsx/CombinedMenu.module.scss
Due: none

bruk CombinedMenu i PageNavigationMenuPart
  packages/nextjs/src/components/_common/pageNavigationMenu/CombinedMenu.tsx/CombinedMenu.tsx
  packages/nextjs/src/components/parts/page-navigation-menu/PageNavigationMenuPart.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Bruk env variabler i workflow run block
  .github/workflows/build-image.yml
Due: prettier --write

Add styles for SingleColPage and PartsMapper components; remove unused styles from SituationPage
  packages/nextjs/src/components/layouts/single-col-page/SingleColPage.module.scss
  packages/nextjs/src/components/layouts/single-col-page/SingleColPage.tsx
  packages/nextjs/src/components/pages/situationPage/SituationPage.module.scss
  packages/nextjs/src/components/parts/PartsMapper.module.scss
  packages/nextjs/src/components/parts/PartsMapper.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Bruk env variabler i workflow run block (#2624)
  .github/workflows/build-image.yml
Due: prettier --write

Endre workflow leserettigheter til jobb-nivå
  .github/workflows/deploy-storybook.yml
Due: prettier --write

Endre workflow leserettigheter til jobb-nivå (#2627)
  .github/workflows/deploy-storybook.yml
Due: prettier --write

Forenklet fargestyring
  packages/nextjs/src/common.scss
  packages/nextjs/src/components/_common/card/LargeCard/LargeCard.module.scss
  packages/nextjs/src/components/_common/headers/generalPageHeader/GeneralPageHeader.module.scss
  packages/nextjs/src/components/_common/productPanelExpandable/ProductPanelExpandable.module.scss
Due: none

Justering av størrelse og avstand på piktogram
  packages/nextjs/src/components/_common/headers/generalPageHeader/GeneralPageHeader.module.scss
  packages/nextjs/src/components/pages/oversikt-page/OversiktPage.module.scss
Due: none

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-card-largecard--illustration-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-headers-generalpageheader--default-mobile-linux-mobile-linux.png
Due: none

Fikser farger på piktogrammer i Safari iOS (#2629)
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-card-largecard--illustration-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-headers-generalpageheader--default-mobile-linux-mobile-linux.png
  packages/nextjs/src/common.scss
  packages/nextjs/src/components/_common/card/LargeCard/LargeCard.module.scss
  packages/nextjs/src/components/_common/headers/generalPageHeader/GeneralPageHeader.module.scss
  packages/nextjs/src/components/_common/productPanelExpandable/ProductPanelExpandable.module.scss
  packages/nextjs/src/components/pages/oversikt-page/OversiktPage.module.scss
Due: none

Fikse manglende variabel-funksjon
  packages/nextjs/src/components/parts/seksjon-for-aktuelle-temaer/SeksjonForAktuelleTemaerPart.module.scss
Due: none

Fikser manglende variabel i aktuelt-kort (#2634)
  packages/nextjs/src/components/parts/seksjon-for-aktuelle-temaer/SeksjonForAktuelleTemaerPart.module.scss
Due: none

Legger til strukturert logging. Logger error som eget argument
  packages/nextjs/src/components/_common/qbrick-video/QbrickVideo.tsx
  packages/nextjs/src/components/_common/uxsignalsWidget/UxSignalsWidget.tsx
  packages/nextjs/src/components/_editor-only/version-history/VersionHistory.tsx
  packages/nextjs/src/components/macros/global-value-with-math/MacroGlobalValueWithMath.tsx
  packages/nextjs/src/components/pages/global-values-page/components/values/GVItemsCustomOrder.tsx
  packages/nextjs/src/pages/[...pathRouter].tsx
  packages/nextjs/src/pages/_error.tsx
  packages/nextjs/src/utils/api-error-handler.ts
  packages/nextjs/src/utils/fetch/fetch-cache-key.ts
  packages/nextjs/src/utils/fetch/fetch-content.ts
  packages/nextjs/src/utils/fetch/fetch-images.ts
  packages/nextjs/src/utils/fetch/fetch-prerender-paths.ts
  packages/server/src/cache/page-cache-handler.ts
  packages/server/src/cache/revalidator-proxy-heartbeat.ts
  packages/server/src/req-handlers/invalidate-paths.ts
  packages/server/src/req-handlers/set-cache-key.ts
  packages/server/src/server-setup/server-setup.ts
  packages/server/src/server.ts
  packages/shared/src/fetch-utils.ts
  packages/shared/src/logger.ts
  packages/shared/src/redis_local.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix, cd packages/shared && npm run lint:fix, cd packages/shared && npm run prettier:fix

Fikser lesbarhet og småplukk fra SonarCloud
  packages/server/src/req-handlers/set-cache-key.ts
  packages/shared/src/logger.ts
Due: cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix, cd packages/shared && npm run lint:fix, cd packages/shared && npm run prettier:fix

Reverter feilaktig fiks for globalThis
  packages/shared/src/logger.ts
Due: cd packages/shared && npm run lint:fix, cd packages/shared && npm run prettier:fix
