Repository navikt/nav-enonicxp-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix, cd packages/shared && npm run lint:fix, cd packages/shared && npm run prettier:fix, prettier --write

.lintstagedrc.json:

{
    "packages/nextjs/**/*.{js,jsx,ts,tsx}": [
        "cd packages/nextjs && npm run lint:fix",
        "cd packages/nextjs && npm run prettier:fix"
    ],
    "packages/server/**/*.{js,ts}": [
        "cd packages/server && npm run lint:fix",
        "cd packages/server && npm run prettier:fix"
    ],
    "packages/shared/**/*.{js,ts}": [
        "cd packages/shared && npm run lint:fix",
        "cd packages/shared && npm run prettier:fix"
    ],
    "**/*.{json,md,yml,yaml}": ["prettier --write"]
}

Refactor editorial type to use ProcessedHtmlProps consistently in StepBase and FormIntermediateStepPageProps
  packages/nextjs/src/components/pages/formIntermediateStepPage/FormIntermediateStepPage.tsx
  packages/nextjs/src/types/content-props/form-intermediate-step.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Riktig ingress i mellomsteg (#2801)
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-formintermediatesteppage--step-mobile-linux-mobile-linux.png
  packages/nextjs/src/components/layouts/mellomsteg/MellomstegLayout.tsx
  packages/nextjs/src/components/pages/formIntermediateStepPage/FormIntermediateStepPage.tsx
  packages/nextjs/src/components/pages/formIntermediateStepPage/useFormIntermediateStepPage.tsx
  packages/nextjs/src/types/content-props/form-intermediate-step.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

gjør backlink optional også i frontend
  packages/nextjs/src/components/pages/contactStepPage/ContactStepPage.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

gjør backlink optional også i frontend (#2806)
  packages/nextjs/src/components/pages/contactStepPage/ContactStepPage.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Legger til redaktørvarsel for ufullstendig skjemadetalj
  packages/nextjs/src/components/pages/skjemadetaljer-preview-page/SkjemadetaljerPreviewPage.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Redusere bredde på tekst i områdekort
  packages/nextjs/src/components/_common/omradekort/Omradekort.module.scss
Due: none

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-layouts-index-page-front-page-frontpageareanavigation--person-mobile-linux-mobile-linux.png
Due: none

Redusere bredde på tekst i områdekort (#2809)
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-layouts-index-page-front-page-frontpageareanavigation--person-mobile-linux-mobile-linux.png
  packages/nextjs/src/components/_common/omradekort/Omradekort.module.scss
Due: none

Oversette parts part1 (#2797)
  .github/dependabot.yml
  eslint.config.mjs
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-button--default-desktop-linux-desktop-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-button--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-button--full-width-desktop-linux-desktop-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-button--full-width-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-knapp--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-knapp--full-width-mobile-linux-mobile-linux.png
  packages/nextjs/src/components/_common/kalkulator/Kalkulator.tsx
  packages/nextjs/src/components/_common/knapp/Knapp.module.scss
  packages/nextjs/src/components/_common/knapp/Knapp.stories.tsx
  packages/nextjs/src/components/_common/knapp/Knapp.tsx
  packages/nextjs/src/components/_common/kontakt-oss-kanal/ChatAlternativ/ChatAlternativ.tsx
  packages/nextjs/src/components/_common/kontakt-oss-kanal/StandardAlternativ/StandardAlternativ.tsx
  packages/nextjs/src/components/_common/lenkepanel/LenkepanelNavno/LenkepanelNavno.tsx
  packages/nextjs/src/components/_common/skjemadetaljer/SkjemadetaljerButton.tsx
  packages/nextjs/src/components/_common/trekkspill/Trekkspill.stories.ts
  packages/nextjs/src/components/_editor-only/references-info/result/ReferencesInfoResult.tsx
  packages/nextjs/src/components/_editor-only/version-history/selector/submit-button/VersionSelectorSubmitButton.tsx
  packages/nextjs/src/components/macros/MacroMapper.tsx
  packages/nextjs/src/components/macros/button/MacroButton.tsx
  packages/nextjs/src/components/macros/chatbot-link/MacroChatbotLink.tsx
  packages/nextjs/src/components/macros/consent-banner-link/MacroConsentBannerLink.tsx
  packages/nextjs/src/components/macros/knapp/MacroKnapp.tsx
  packages/nextjs/src/components/pages/global-values-page/components/button/GVButton.tsx
  packages/nextjs/src/components/parts/PartsMapper.tsx
  packages/nextjs/src/components/parts/knapp/KnappPart.module.scss
  packages/nextjs/src/components/parts/knapp/KnappPart.tsx
  packages/nextjs/src/types/component-props/parts.ts
  packages/nextjs/src/types/macro-props/_macros-common.ts
  packages/nextjs/src/types/macro-props/knapp.ts
  pnpm-lock.yaml
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, prettier --write

Oppdaterer tekst for redaktørvarsel i skjemadetalj
  packages/nextjs/src/components/pages/skjemadetaljer-preview-page/SkjemadetaljerPreviewPage.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Oppdatererer pnpm-lock
  pnpm-lock.yaml
Due: prettier --write

Fikser tester for åpningstider etter breaking change
  packages/nextjs/src/components/_common/kontakt-oss-kanal/_shared-utils/openingInfo/helpers/openingInfo.test.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Støtter longTitle i oversiktssider
  packages/nextjs/src/components/pages/oversikt-page/forms-list/OversiktList.tsx
  packages/nextjs/src/types/content-props/oversikt-props.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Fjerner keywords som ikke lenger finnes
  packages/nextjs/src/components/pages/forms-overview-page/forms-list/FormsOverviewList.tsx
  packages/nextjs/src/components/pages/overview-page/OverviewPage.tsx
  packages/nextjs/src/types/content-props/forms-overview.ts
  packages/nextjs/src/types/content-props/oversikt-props.ts
  packages/nextjs/src/types/content-props/overview-props.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Støtter longTitle i oversiktssider (#2821)
  packages/nextjs/src/components/pages/forms-overview-page/forms-list/FormsOverviewList.tsx
  packages/nextjs/src/components/pages/oversikt-page/forms-list/OversiktList.tsx
  packages/nextjs/src/components/pages/overview-page/OverviewPage.tsx
  packages/nextjs/src/types/content-props/forms-overview.ts
  packages/nextjs/src/types/content-props/oversikt-props.ts
  packages/nextjs/src/types/content-props/overview-props.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

:green_heart: Ryddet i workflows
  .github/actions/build-image/action.yml
  .github/actions/deploy/action.yml
  .github/workflows/build-and-test.yml
  .github/workflows/build-image.yml
  .github/workflows/deploy-alerts.yml
  .github/workflows/deploy-failover.dev.yml
  .github/workflows/deploy-failover.prod.yml
  .github/workflows/deploy-to-nais.yml
  .github/workflows/deploy.dev1.yml
  .github/workflows/deploy.dev2.yml
  .github/workflows/deploy.prod.yml
Due: prettier --write

tok ut deploy valkey for riktig timeout
  .github/actions/deploy/action.yml
  .github/workflows/deploy-failover.dev.yml
  .github/workflows/deploy-failover.prod.yml
  .github/workflows/deploy.dev1.yml
  .github/workflows/deploy.dev2.yml
  .github/workflows/deploy.prod.yml
Due: prettier --write

Setter på optional på skjemadetaljer
  packages/nextjs/src/components/pages/skjemadetaljer-preview-page/SkjemadetaljerPreviewPage.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

fixed errors
  .github/workflows/deploy-failover.prod.yml
  .github/workflows/deploy.dev1.yml
  .github/workflows/deploy.dev2.yml
  .github/workflows/deploy.prod.yml
Due: prettier --write

Legger til manglende punktum
  packages/nextjs/src/components/pages/skjemadetaljer-preview-page/SkjemadetaljerPreviewPage.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Legger til redaktørvarsel for ufullstendig skjemadetalj (#2808)
  packages/nextjs/src/components/pages/skjemadetaljer-preview-page/SkjemadetaljerPreviewPage.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

egen action for nais deploy med pinned sha
  .github/actions/deploy/action.yml
  .github/actions/nais-deploy/action.yml
  .github/workflows/deploy-alerts.yml
  .github/workflows/deploy-failover.dev.yml
  .github/workflows/deploy-failover.prod.yml
  .github/workflows/deploy.dev1.yml
  .github/workflows/deploy.dev2.yml
  .github/workflows/deploy.prod.yml
Due: prettier --write

💚 Rydding i workflows (#2823)
  .github/actions/build-image/action.yml
  .github/actions/deploy/action.yml
  .github/actions/nais-deploy/action.yml
  .github/workflows/build-and-test.yml
  .github/workflows/build-image.yml
  .github/workflows/deploy-alerts.yml
  .github/workflows/deploy-failover.dev.yml
  .github/workflows/deploy-failover.prod.yml
  .github/workflows/deploy-to-nais.yml
  .github/workflows/deploy.dev1.yml
  .github/workflows/deploy.dev2.yml
  .github/workflows/deploy.prod.yml
Due: prettier --write

skrivefeil
  .github/actions/deploy/action.yml
Due: prettier --write

Workflows (#2824)
  .github/actions/deploy/action.yml
Due: prettier --write

Tilbakefører to patterns, men tillater -- og # isolert sett.
  packages/server/src/req-handlers/path-validation-middleware.ts
Due: cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix

Oppgraderer til Next 16
  packages/nextjs/next-env.d.ts
  packages/nextjs/next.config.js
  packages/nextjs/package.json
  packages/nextjs/src/components/_common/headers/featuredHeader/TagLine/TagLine.tsx
  packages/nextjs/src/components/_common/lenkepanel-legacy/LenkepanelNavNo.module.scss
  packages/nextjs/src/components/_common/press-landing/PressNewsItem.tsx
  packages/nextjs/src/components/_editor-only/editor-hacks/auto-refresh-disable/AutoRefreshDisableHack.module.scss
  packages/nextjs/src/components/_editor-only/editorHelp/EditorHelp.tsx
  packages/nextjs/src/components/pages/office-editorial-page/OfficeEditorialPage.module.scss
  packages/nextjs/src/components/pages/office-page/OfficePage.module.scss
  packages/nextjs/src/components/parts/_legacy/artikkel/komponenter/Faktaboks.tsx
  packages/nextjs/src/components/parts/_legacy/artikkel/komponenter/NewsPressHeader.tsx
  packages/nextjs/tsconfig.json
  packages/nextjs/turbopack-empty.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, prettier --write

Lagt til trekkmottaker
  packages/nextjs/next-env.d.ts
  packages/nextjs/src/translations/default.ts
  packages/nextjs/src/translations/en.ts
  packages/nextjs/src/translations/nn.ts
  packages/nextjs/src/types/component-props/_mixins.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Oppdaterer playwright-image-versjon
  .github/workflows/visual-changes-bot.yml
Due: prettier --write

Update screenshots
  pnpm-lock.yaml
Due: prettier --write

fix: prevent visual-changes-bot from corrupting pnpm-lock.yaml
  .github/workflows/visual-changes-bot.yml
  pnpm-lock.yaml
Due: prettier --write

fix: strip lockfile corruption re-added by visual-changes-bot
  pnpm-lock.yaml
Due: prettier --write

fix: prevent visual-changes-bot from corrupting pnpm-lock.yaml (#2837)
  .github/workflows/visual-changes-bot.yml
  pnpm-lock.yaml
Due: prettier --write

fix: allow manual storybook deploy trigger
  .github/workflows/deploy-storybook.yml
Due: prettier --write

fix: allow manual storybook deploy trigger (#2838)
  .github/workflows/deploy-storybook.yml
Due: prettier --write

Downgrade pnpm/action-setup to v5 and ignore v6 in dependabot
  .github/dependabot.yml
  .github/workflows/deploy-storybook.yml
  .github/workflows/visual-changes-bot.yml
Due: prettier --write

Downgrade pnpm/action-setup to v5 and ignore v6 in dependabot (#2839)
  .github/dependabot.yml
  .github/workflows/deploy-storybook.yml
  .github/workflows/visual-changes-bot.yml
Due: prettier --write

Tilbakefører to patterns, men tillater -- og # isolert sett. (#2825)
  packages/server/src/req-handlers/path-validation-middleware.ts
Due: cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix
