Repository navikt/nav-enonicxp-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix, cd packages/shared && npm run lint:fix, cd packages/shared && npm run prettier:fix, prettier --write

fjern hover-effekt og border
  packages/nextjs/src/components/_common/frontpageCard/FrontPageCard.module.scss
Due: none

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-frontpagecard--employer-hover-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-frontpagecard--employer-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-frontpagecard--person-hover-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-frontpagecard--person-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-frontpagecard--provider-hover-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-frontpagecard--provider-mobile-linux-mobile-linux.png
Due: none

fjern sjekk illustration
  packages/nextjs/src/components/_common/frontpageCard/FrontPageCard.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

fjern hover-stories og legg til illustrasjon
  packages/nextjs/src/components/_common/frontpageCard/FrontPageCard.stories.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-frontpagecard--employer-hover-desktop-linux-desktop-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-frontpagecard--employer-hover-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-frontpagecard--employer-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-frontpagecard--person-hover-desktop-linux-desktop-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-frontpagecard--person-hover-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-frontpagecard--person-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-frontpagecard--provider-hover-desktop-linux-desktop-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-frontpagecard--provider-hover-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-frontpagecard--provider-mobile-linux-mobile-linux.png
Due: none

Legger til audience og governmentService (for kategori) i json-ld
  packages/nextjs/src/components/_common/metatags/structuredData/json-ld-generator.ts
  packages/nextjs/src/components/_common/metatags/structuredData/things/audienceThing.ts
  packages/nextjs/src/components/_common/metatags/structuredData/things/governmentServiceThing.ts
  packages/nextjs/src/components/_common/metatags/structuredData/things/officeBranchThing.ts
  packages/nextjs/src/components/_common/metatags/structuredData/things/organizationThing.ts
  packages/nextjs/src/components/_common/metatags/structuredData/things/webPageThing.ts
  packages/nextjs/src/components/_common/metatags/structuredData/types.ts
  packages/nextjs/src/utils/string.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

bruk linkcard
  packages/nextjs/src/components/_common/lenkepanel/LenkepanelNavnoSimple/LenkepanelNavnoSimple.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

fjern ekstra margin fallbackchevron
  packages/nextjs/src/components/_common/illustration/static/FallbackChevron.module.scss
Due: none

fjern div unødvendig
  packages/nextjs/src/components/_common/lenkepanel/LenkepanelNavnoSimple/LenkepanelNavnoSimple.module.scss
  packages/nextjs/src/components/_common/lenkepanel/LenkepanelNavnoSimple/LenkepanelNavnoSimple.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

fjern gammel kommentar
  packages/nextjs/src/components/_common/lenkepanel/LenkepanelNavnoSimple/LenkepanelNavnoSimple.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

fjern styling
  packages/nextjs/src/components/parts/seksjon-for-snarveier/SeksjonForSnarveier.module.scss
Due: none

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-lenkepanel-lenkepanelnavnosimple--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-lenkepanel-lenkepanelnavnosimple--with-icon-mobile-linux-mobile-linux.png
Due: none

slett hele LenkepanelNavnoSimple
  packages/nextjs/src/components/_common/lenkepanel/LenkepanelNavnoSimple/LenkepanelNavnoSimple.module.scss
  packages/nextjs/src/components/_common/lenkepanel/LenkepanelNavnoSimple/LenkepanelNavnoSimple.stories.tsx
  packages/nextjs/src/components/_common/lenkepanel/LenkepanelNavnoSimple/LenkepanelNavnoSimple.tsx
  packages/nextjs/src/components/parts/seksjon-for-snarveier/SeksjonForSnarveier.module.scss
  packages/nextjs/src/components/parts/seksjon-for-snarveier/SeksjonForSnarveierPart.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-lenkepanel-lenkepanelnavnosimple--default-desktop-linux-desktop-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-lenkepanel-lenkepanelnavnosimple--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-lenkepanel-lenkepanelnavnosimple--with-icon-desktop-linux-desktop-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-lenkepanel-lenkepanelnavnosimple--with-icon-mobile-linux-mobile-linux.png
Due: none

fullfør utbytting
  packages/nextjs/src/components/parts/seksjon-for-snarveier/SeksjonForSnarveierPart.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Update package-lock.json
  package-lock.json
Due: prettier --write

Fjerne ubrukt kode
  packages/nextjs/src/components/_common/productPanelExpandable/ProductPanelExpandable.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Fjerner unødvendige assertions
  packages/nextjs/src/components/_common/metatags/structuredData/json-ld-generator.ts
  packages/nextjs/src/components/_common/metatags/structuredData/things/governmentServiceThing.ts
  packages/nextjs/src/components/_common/metatags/structuredData/things/officeBranchThing.ts
  packages/nextjs/src/components/_common/metatags/structuredData/things/webPageThing.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Hardkoder data-nosnippet på oversiktssider
  packages/nextjs/src/components/pages/oversikt-page/OversiktPage.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Forhindre injection attacks
  SECURITY.md
  SECURITY_IMPLEMENTATION.md
  SECURITY_QUICK_REFERENCE.md
  packages/nextjs/next.config.js
  packages/server/src/req-handlers/path-validation-middleware.test.ts
  packages/server/src/req-handlers/path-validation-middleware.ts
  packages/server/src/req-handlers/rate-limit-middleware.ts
  packages/server/src/req-handlers/security-logging-middleware.ts
  packages/server/src/server.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix, prettier --write

Tillat kun kjente XP-URLer
  SECURITY.md
  packages/server/src/req-handlers/path-validation-middleware.ts
  packages/server/src/server.ts
  packages/shared/src/constants.ts
Due: cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix, cd packages/shared && npm run lint:fix, cd packages/shared && npm run prettier:fix, prettier --write

fjern mobilmeny
  packages/nextjs/src/components/layouts/innholdsside-med-meny/InnholdssideMedMeny.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

fjern styles
  packages/nextjs/src/components/layouts/innholdsside-med-meny/InnholdssideMedMeny.module.scss
Due: none

fjern isDesktop
  packages/nextjs/src/components/layouts/innholdsside-med-meny/InnholdssideMedMeny.tsx
  packages/nextjs/src/utils/useIsDesktop.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

fjern overflødig optionality title
  packages/nextjs/src/components/_common/pageNavigationMenu/DynamicNavigation.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

rydding i filer
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/duplikate-ider/DuplikateIder.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/duplikate-ider/DuplikateIderVarsel.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

tekstendring redaktørvarsel
  packages/nextjs/src/components/_editor-only/redaktorvarsler/Redaktorvarsler.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

fjerner duplikat-id varsel inni et fragment
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/duplikate-ider/DuplikateIder.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

opprydding navn redaktørvarsler
  packages/nextjs/src/components/FragmentComponent.tsx
  packages/nextjs/src/components/_editor-only/EditorWidgets.tsx
  packages/nextjs/src/components/_editor-only/global-warnings/warnings/form-numbers-warning/FormNumbersWarning.tsx
  packages/nextjs/src/components/_editor-only/global-warnings/warnings/kort-url-warning/KortUrlWarning.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/Redaktorvarsler.module.scss
  packages/nextjs/src/components/_editor-only/redaktorvarsler/Redaktorvarsler.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/duplikate-ider/DuplicateIdsVarsel.module.scss
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/duplikate-ider/DuplikateIder.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/duplikate-ider/DuplikateIderVarsel.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/formatert-innhold-utenfor-innholdsseksjon/FormatertInnholdUtenforInnholdsseksjon.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/formatert-innhold-utenfor-innholdsseksjon/pageContentFormatertInnholdUtenforInnholdsseksjon.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/fragment-utenfor-innholdsseksjon/FragmentUtenforInnholdsseksjon.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/fragment-utenfor-innholdsseksjon/pageContentFragmentUtenforInnholdsseksjon.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/html-area-div/HtmlAreaDiv.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/html-area-div/htmlAreaInneholderDiv.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/kontaktinformasjon/KontaktinformasjonVarsel.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/kort-url/KortUrlVarsel.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/skjemanummer/SkjemanummerVarsel.tsx
  packages/nextjs/src/components/parts/html-area/HtmlAreaPart.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

la til åpning av paneler på ekspanderbart panel og readmore panel
  packages/nextjs/src/components/_common/expandable/Expandable.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/Redaktorvarsler.tsx
  packages/nextjs/src/components/parts/readMorePart/ReadMorePart.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

tar bort åpning av panel ved redaktørvarsel på readmore
  packages/nextjs/src/components/parts/readMorePart/ReadMorePart.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

trekkspill åpnes i forhåndsvisningen dersom det finnes redaktørvarsel
  packages/nextjs/src/components/FragmentComponent.tsx
  packages/nextjs/src/components/_common/trekkspill/Trekkspill.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/ErGodkjentSide.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/HarRedaktorfeil.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/Redaktorvarsler.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/duplikate-ider/DuplikateIderVarsel.tsx
  packages/nextjs/src/components/parts/html-area/HtmlAreaPart.tsx
  packages/nextjs/src/store/hooks/useCheckAndOpenTrekkspillPanel.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

navnendring
  packages/nextjs/src/components/FragmentComponent.tsx
  packages/nextjs/src/components/_common/trekkspill/Trekkspill.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/Redaktorvarsler.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/erGodkjentSide.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/harRedaktorfeil.tsx
  packages/nextjs/src/components/parts/html-area/HtmlAreaPart.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

vasker id fra lenker
  packages/nextjs/next-env.d.ts
  packages/nextjs/src/components/_common/parsedHtml/ParsedHtml.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Fjernet sosiale medier i main article
  packages/nextjs/src/components/pages/template-page/mocks/artikkelDataMock.ts
  packages/nextjs/src/components/parts/_legacy/artikkel/ArtikkelLegacyPart.tsx
  packages/nextjs/src/components/parts/_legacy/artikkel/komponenter/SosialeMedier.module.scss
  packages/nextjs/src/components/parts/_legacy/artikkel/komponenter/SosialeMedier.tsx
  packages/nextjs/src/types/content-props/artikkel-props.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Legger til audience som en kommaseparert string
  packages/nextjs/src/components/_common/metatags/structuredData/things/audienceThing.ts
  packages/nextjs/src/components/_common/metatags/structuredData/types.ts
  packages/nextjs/src/types/content-props/oversikt-props.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Ferdigstiller målgruppe og kategori
  packages/nextjs/src/components/_common/metatags/structuredData/json-ld-generator.ts
  packages/nextjs/src/components/_common/metatags/structuredData/things/audienceThing.ts
  packages/nextjs/src/components/_common/metatags/structuredData/things/webPageThing.ts
  packages/nextjs/src/utils/string.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Fikser samarbeidspartner-type og tvinger array
  packages/nextjs/src/components/_common/metatags/structuredData/things/audienceThing.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Path conditions:
  cd packages/nextjs && npm run lint:fix: any of: packages/nextjs/**/*.{js,jsx,ts,tsx}
  cd packages/nextjs && npm run prettier:fix: any of: packages/nextjs/**/*.{js,jsx,ts,tsx}
  cd packages/server && npm run lint:fix: any of: packages/server/**/*.{js,ts}
  cd packages/server && npm run prettier:fix: any of: packages/server/**/*.{js,ts}
  cd packages/shared && npm run lint:fix: any of: packages/shared/**/*.{js,ts}
  cd packages/shared && npm run prettier:fix: any of: packages/shared/**/*.{js,ts}
  prettier --write: any of: **/*.{json,md,yml,yaml}
