Repository navikt/nav-enonicxp-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix, cd packages/shared && npm run lint:fix, cd packages/shared && npm run prettier:fix, prettier --write

.lintstagedrc.json:

{
    "packages/nextjs/**/*.{js,jsx,ts,tsx}": [
        "cd packages/nextjs && npm run lint:fix",
        "cd packages/nextjs && npm run prettier:fix"
    ],
    "packages/server/**/*.{js,ts}": [
        "cd packages/server && npm run lint:fix",
        "cd packages/server && npm run prettier:fix"
    ],
    "packages/shared/**/*.{js,ts}": [
        "cd packages/shared && npm run lint:fix",
        "cd packages/shared && npm run prettier:fix"
    ],
    "**/*.{json,md,yml,yaml}": ["prettier --write"]
}

feat: add withStore decorator for consistent Redux store integration in storybook stories
  packages/nextjs/src/components/pages/_storyDecorators.tsx
  packages/nextjs/src/components/pages/currentTopicPage/CurrentTopicPage.stories.tsx
  packages/nextjs/src/components/pages/officePage/OfficePage.stories.tsx
  packages/nextjs/src/components/pages/productPage/ProductPage.stories.tsx
  packages/nextjs/src/components/pages/situationPage/SituationPage.stories.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

legg til varehylle
  packages/nextjs/src/components/pages/_storyMocks.ts
  packages/nextjs/src/components/pages/situationPage/SituationPage.stories.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

refactor: simplify contact and product contact module layouts by removing basePath parameter
  packages/nextjs/src/components/pages/_storyMocks.ts
  packages/nextjs/src/components/pages/situationPage/SituationPage.stories.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

refactor: simplify ProductPage story by removing unnecessary parameters in sectionWithHeader and productContactModuleLayout
  packages/nextjs/src/components/pages/productPage/ProductPage.stories.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

refactor: correct spelling and remove unnecessary parameters in CurrentTopicPage and OfficePage stories
  packages/nextjs/src/components/pages/currentTopicPage/CurrentTopicPage.stories.tsx
  packages/nextjs/src/components/pages/officePage/OfficePage.stories.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-currenttopicpage--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-situationpage--default-desktop-linux-desktop-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-situationpage--default-mobile-linux-mobile-linux.png
Due: none

Re-introduserer engine-strict
  .failover/.npmrc
  .npmrc
Due: none

Bump @navikt dependencies to version 8.6.0
  package-lock.json
  packages/nextjs/package.json
Due: prettier --write

replace all navds -> aksel (ikke sett grundig gjennom)
  packages/nextjs/src/components/_common/button/Button.module.scss
  packages/nextjs/src/components/_common/card/LargeCard/LargeCard.module.scss
  packages/nextjs/src/components/_common/card/MiniCardV2/MiniCardV2.module.scss
  packages/nextjs/src/components/_common/chatbot/ChatbotLenkepanel.module.scss
  packages/nextjs/src/components/_common/expandable/Expandable.module.scss
  packages/nextjs/src/components/_common/formIntermediateStepLink/FormIntermediateStepLink.module.scss
  packages/nextjs/src/components/_common/frontpageCard/FrontPageCard.module.scss
  packages/nextjs/src/components/_common/headers/generalPageHeader/GeneralPageHeader.module.scss
  packages/nextjs/src/components/_common/kontakt-oss-kanal/_shared-utils/KontaktOssKanalIngress/KontaktOssKanalIngress.module.scss
  packages/nextjs/src/components/_common/kontakt-oss-kanal/_shared-utils/KontaktOssKanalLenkebase/KontaktOssKanalLenkebase.module.scss
  packages/nextjs/src/components/_common/kontakt-oss-kanal/_shared-utils/openingInfo/OpeningInfo.module.scss
  packages/nextjs/src/components/_common/lenkepanel-legacy/LenkepanelNavNo.module.scss
  packages/nextjs/src/components/_common/lenkepanel/LenkepanelNavno/LenkepanelNavno.module.scss
  packages/nextjs/src/components/_common/lenkepanel/LenkepanelNavno/LenkepanelNavno.tsx
  packages/nextjs/src/components/_common/omradekort/Omradekort.module.scss
  packages/nextjs/src/components/_common/overview-filters/OverviewFilters.module.scss
  packages/nextjs/src/components/_common/overview-filters/text-filter/OverviewTextFilter.module.scss
  packages/nextjs/src/components/_common/press-landing/PressShortcuts.module.scss
  packages/nextjs/src/components/_common/productPanelExpandable/ProductPanelExpandable.module.scss
  packages/nextjs/src/components/_common/qbrick-video/QbrickVideo.module.scss
  packages/nextjs/src/components/_common/skjemadetaljer/Skjemadetaljer.module.scss
  packages/nextjs/src/components/_common/trekkspill/Trekkspill.module.scss
  packages/nextjs/src/components/_editor-only/site-info/header/SiteInfoHeader.module.scss
  packages/nextjs/src/components/_page-warnings/pageWarning/PageWarning.module.scss
  packages/nextjs/src/components/layouts/flex-cols/FlexColsLayout.module.scss
  packages/nextjs/src/components/layouts/index-page/area-page/banner/AreaPageHeaderBanner.stories.tsx
  packages/nextjs/src/components/macros/fotnote/MacroFotnote.tsx
  packages/nextjs/src/components/macros/quote/MacroQuote.tsx
  packages/nextjs/src/components/pages/global-values-page/components/button/GVButton.module.scss
  packages/nextjs/src/components/pages/global-values-page/components/messages/GVMessages.tsx
  packages/nextjs/src/components/pages/office-page/linkedIn/LinkedIn.module.scss
  packages/nextjs/src/components/pages/oversikt-page/forms-list/panel/OversiktListPanel.module.scss
  packages/nextjs/src/components/parts/_legacy/menu-list/MenuList.module.scss
  packages/nextjs/src/components/parts/button/ButtonPart.module.scss
  packages/nextjs/src/components/parts/filtreringsmeny/Filtreringsmeny.module.scss
  packages/nextjs/src/components/parts/lenkepanelPart/LenkepanelPart.module.scss
  packages/nextjs/src/components/parts/readMorePart/ReadMorePart.module.scss
  packages/nextjs/src/components/parts/seksjon-for-snarveier/SeksjonForSnarveier.module.scss
  packages/nextjs/src/components/parts/varselboks/VarselboksPart.module.scss
  packages/nextjs/src/global.scss
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-chevron-fancychevron--small-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-chevron-fancychevron--white-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-layouts-index-page-area-page-areapageheader--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-layouts-index-page-area-page-banner-areapageheaderbanner--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-office-page-linkedin--default-mobile-linux-mobile-linux.png
Due: none

Update design system token references in copilot instructions
  .github/copilot-instructions.md
Due: prettier --write

codemod v8-button-variant
  packages/nextjs/src/components/_common/overview-filters/OverviewFilters.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Endret tekst i kontorside for nav kontorregister (#2775)
  packages/nextjs/src/components/parts/_legacy/office-information/OfficeInformationLegacyPart.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

fiks Expandable border, farge, chevron
  packages/nextjs/src/components/_common/expandable/Expandable.module.scss
  packages/nextjs/src/components/_common/expandable/Expandable.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

fiks Expandable stickyness
  packages/nextjs/src/components/_common/expandable/Expandable.module.scss
Due: none

fjern gammel box-shadow styling
  packages/nextjs/src/components/_common/expandable/Expandable.module.scss
Due: none

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-expandable--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-expandable--documentation-requirements-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-expandable--is-open-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-expandable--payout-dates-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-expandable--processing-times-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-expandable--rates-mobile-linux-mobile-linux.png
Due: none

fiks spacing under Expandable
  packages/nextjs/src/components/_common/expandable/Expandable.module.scss
Due: none

Revert "fiks spacing under Expandable"
  packages/nextjs/src/components/_common/expandable/Expandable.module.scss
Due: none

kanskje fjerne overstyringer på Chips?
  packages/nextjs/src/components/_common/oversikt-filters/OversiktFilterBase/OversiktFilterBase.module.scss
  packages/nextjs/src/components/_common/oversikt-filters/OversiktFilterBase/OversiktFilterBase.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

overfløding styling OversiktFilterBase
  packages/nextjs/src/components/_common/oversikt-filters/OversiktFilterBase/OversiktFilterBase.module.scss
Due: none

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-oversikt-filters-oversiktfilterbase--default-mobile-linux-mobile-linux.png
Due: none

brand-blue på Chips for mer like farger som før
  packages/nextjs/src/components/_common/oversikt-filters/OversiktFilterBase/OversiktFilterBase.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Endre testmiljø fra Q1 til Q2
  .env.development
Due: none

Migrerer til pnpm (#2764)
  .failover/.npmrc
  .failover/Dockerfile.failover
  .failover/build-dev-failover-image.sh
  .github/copilot-instructions.md
  .github/dependabot.yml
  .github/workflows/build-and-test.yml
  .github/workflows/build-image.yml
  .github/workflows/deploy-storybook.yml
  .github/workflows/visual-changes-bot.yml
  .gitignore
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc.js
  .lintstagedrc.json
  .npmrc
  Dockerfile
  README.md
  package.json
  packages/nextjs/.husky/pre-commit
  packages/nextjs/next-env.d.ts
  packages/nextjs/package.json
  packages/nextjs/src/components/parts/_legacy/office-information/OfficeInformationLegacyPart.tsx
  packages/server/.husky/pre-commit
  packages/server/jest.config.mjs
  packages/server/package.json
  packages/shared/.husky/pre-commit
  packages/shared/package.json
  packages/shared/src/logger.ts
  playwright.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, cd packages/shared && npm run lint:fix, cd packages/shared && npm run prettier:fix, prettier --write

Forsøker heartbeat 10 ganger før error
  packages/server/src/cache/revalidator-proxy-heartbeat.test.ts
  packages/server/src/cache/revalidator-proxy-heartbeat.ts
Due: cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix

Legger til retry for heartbeatfunksjon
  packages/server/src/cache/revalidator-proxy-heartbeat.ts
Due: cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix

Oppdaterer pnpm-lock
  pnpm-lock.yaml
Due: prettier --write

Oppdaterer URL til meldekort i q2
  .env.development
  .github/workflows/deploy.dev1.yml
  .github/workflows/deploy.dev2.yml
Due: prettier --write

Oppdaterer URL til meldekort i q2 (#2795)
  .env.development
  .github/workflows/deploy.dev1.yml
  .github/workflows/deploy.dev2.yml
Due: prettier --write

Forbedrer logging for å unngå dobbel warn og error
  packages/server/src/cache/revalidator-proxy-heartbeat.ts
Due: cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix

update catalog with 4.0.0-beta-analytics-types
  package-lock.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

Fikser pnpm workspace minimumReleaseAge
  .npmrc
  pnpm-workspace.yaml
Due: prettier --write

Fjerner gammel lock-fil
  package-lock.json
Due: prettier --write

Fikser pnpm workspace minimumReleaseAge (#2796)
  .npmrc
  package-lock.json
  pnpm-workspace.yaml
Due: prettier --write
