Repository navikt/nav-enonicxp-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix, cd packages/shared && npm run lint:fix, cd packages/shared && npm run prettier:fix, prettier --write

.lintstagedrc.json:

{
    "packages/nextjs/**/*.{js,jsx,ts,tsx}": [
        "cd packages/nextjs && npm run lint:fix",
        "cd packages/nextjs && npm run prettier:fix"
    ],
    "packages/server/**/*.{js,ts}": [
        "cd packages/server && npm run lint:fix",
        "cd packages/server && npm run prettier:fix"
    ],
    "packages/shared/**/*.{js,ts}": [
        "cd packages/shared && npm run lint:fix",
        "cd packages/shared && npm run prettier:fix"
    ],
    "**/*.{json,md,yml,yaml}": ["prettier --write"]
}

Flytter logging av feil buildid til prometheus
  packages/server/src/metrics/request-metrics.ts
  packages/server/src/server-setup/server-setup.ts
Due: cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix

Legger til litt bedre forklarende kommentarer for buildID
  packages/server/src/server-setup/server-setup.ts
Due: cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix

Forsøker pingInterval på 30 sek for å holde socket åpen
  packages/shared/src/redis_local.ts
Due: cd packages/shared && npm run lint:fix, cd packages/shared && npm run prettier:fix

Forbedrer kommentarer
  packages/shared/src/redis_local.ts
Due: cd packages/shared && npm run lint:fix, cd packages/shared && npm run prettier:fix

Update pnpm lock-file
  pnpm-lock.yaml
Due: prettier --write

Funksjon som deler opp eller slår sammen tekst rett etter makro
  packages/nextjs/src/components/_common/parsedHtml/ParsedHtml.tsx
  packages/nextjs/src/components/macros/MacroMapper.tsx
  packages/nextjs/src/components/macros/html-fragment/MacroHtmlFragment.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Fikse socket drop for valkey (#2994)
  packages/shared/src/redis_local.ts
Due: cd packages/shared && npm run lint:fix, cd packages/shared && npm run prettier:fix

Flytte buildid metrikk til prometheus (#2993)
  packages/server/src/metrics/request-metrics.ts
  packages/server/src/server-setup/server-setup.ts
Due: cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix

Update lock-file
  pnpm-lock.yaml
Due: prettier --write

Oppdaterer lock-fil
  pnpm-lock.yaml
Due: prettier --write

Oppdaterer til siste versjon av next og react
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

Potential fix for pull request finding
  packages/nextjs/src/components/macros/html-fragment/MacroHtmlFragment.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Fikser referanse til public
  packages/nextjs/next-env.d.ts
  packages/nextjs/src/components/_common/headers/featuredHeader/TagLine/TagLine.tsx
  packages/nextjs/src/components/_common/parsedHtml/ParsedHtml.tsx
  packages/nextjs/src/components/_common/press-landing/PressNewsItem.tsx
  packages/nextjs/src/components/_editor-only/editorHelp/EditorHelp.tsx
  packages/nextjs/src/components/parts/_legacy/artikkel/komponenter/Faktaboks.tsx
  packages/nextjs/src/components/parts/_legacy/artikkel/komponenter/NewsPressHeader.tsx
  packages/nextjs/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, prettier --write

Legger til pino som serverExternalPackages
  packages/nextjs/next-env.d.ts
  packages/nextjs/next.config.js
  packages/nextjs/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, prettier --write

Migrerer fra pino til next-logger
  package.json
  packages/nextjs/package.json
  packages/nextjs/src/pages/api/logger.ts
  packages/shared/package.json
  packages/shared/src/logger.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, cd packages/shared && npm run lint:fix, cd packages/shared && npm run prettier:fix, prettier --write

Fikser feil i test pga esm
  packages/nextjs/next.config.js
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Fjerner pino-pretty fra logger
  packages/shared/src/logger.ts
Due: cd packages/shared && npm run lint:fix, cd packages/shared && npm run prettier:fix

Bytte til @navikt/next-logger (#2997)
  package.json
  packages/nextjs/next.config.js
  packages/nextjs/package.json
  packages/nextjs/src/pages/api/logger.ts
  packages/shared/package.json
  packages/shared/src/logger.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, cd packages/shared && npm run lint:fix, cd packages/shared && npm run prettier:fix, prettier --write

Flytte resterende kontorsider til ny mal
  packages/nextjs/src/components/pages/office-page/OfficePage.tsx
  packages/nextjs/src/components/pages/office-page/office-page-header/OfficePageHeader.tsx
  packages/nextjs/src/components/pages/office-page/officeDetails/OfficeDetails.tsx
  packages/nextjs/src/components/pages/office-page/officeDetails/kontaktskjema/Kontaktskjema.tsx
  packages/nextjs/src/components/pages/office-page/officeDetails/phonePoster/PhonePoster.tsx
  packages/nextjs/src/components/pages/office-page/officeDetails/utils.ts
  packages/nextjs/src/translations/default.ts
  packages/nextjs/src/translations/en.ts
  packages/nextjs/src/translations/nn.ts
  packages/nextjs/src/types/content-props/_content-common.ts
  packages/nextjs/src/types/content-props/office-details-props.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Fikser byggefeil etter next-logger
  packages/nextjs/next.config.js
  packages/nextjs/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, prettier --write

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-expandable--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-expandable--is-open-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-expandable--legacy-usage-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-kalkulator--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-kalkulator-kalkulatorfield--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-knapp--full-width-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-lenkepanel-legacy-lenkepanelnavno--ikon-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-oversikt-filters-summary-oversiktfilterssummary--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-oversikt-filters-summary-oversiktfilterssummary--no-hits-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-productpanelexpandable--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-productpanelexpandable--with-ingress-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-qbrick-video-qbrickvideo--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-qbrick-video-qbrickvideo--hover-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-skjemadetaljer--alerts-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-skjemadetaljer--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-skjemadetaljer--language-disclaimer-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-skjemadetaljer--with-form-numbers-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-trekkspill--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-layouts-index-page-area-page-areapageheader--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-layouts-index-page-area-page-banner-areapageheaderbanner--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-contenttypenotsupportedpage--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-office-page-officedetails--arbeidslivssenter-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-office-page-officedetails--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-office-page-officedetails-officeinformation--closed-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-office-page-officedetails-officeinformation--open-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-office-page-officedetails-phoneposter--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-oversikt-page-forms-list-panel-oversiktlistpanel--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-parts-readmorepart--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-parts-readmorepart--opened-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-parts-situasjonskort-situasjonskortpart--disabled-mobile-linux-mobile-linux.png
Due: none

Wrappe tekst inn i html macro (#2995)
  packages/nextjs/src/components/_common/parsedHtml/ParsedHtml.tsx
  packages/nextjs/src/components/macros/MacroMapper.tsx
  packages/nextjs/src/components/macros/html-fragment/MacroHtmlFragment.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Oppdaterer playwright-versjon
  .github/workflows/visual-changes-bot.yml
  pnpm-lock.yaml
Due: prettier --write

chore: bruk pnpm node funksjonalitet
  package.json
  pnpm-lock.yaml
Due: prettier --write

devEngines!
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: bruk pnpm node funksjonalitet (#3001)
  package.json
  pnpm-lock.yaml
Due: prettier --write

Støtte for redaksjonelt styrt kontor
  packages/nextjs/src/components/pages/office-page/OfficePage.tsx
  packages/nextjs/src/components/pages/office-page/office-page-header/OfficePageHeader.stories.tsx
  packages/nextjs/src/components/pages/office-page/office-page-header/OfficePageHeader.tsx
  packages/nextjs/src/components/pages/office-page/officeDetails/OfficeDetails.tsx
  packages/nextjs/src/components/pages/office-page/officeDetails/kontaktskjema/Kontaktskjema.tsx
  packages/nextjs/src/components/pages/office-page/officeDetails/mockData.ts
  packages/nextjs/src/components/pages/office-page/officeDetails/officeInformation/OfficeInformation.tsx
  packages/nextjs/src/translations/default.ts
  packages/nextjs/src/translations/en.ts
  packages/nextjs/src/translations/nn.ts
  packages/nextjs/src/types/content-props/dynamic-page-props.ts
  packages/nextjs/src/types/content-props/office-details-props.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Lagt til origin i DecoratorParams
  packages/nextjs/src/utils/analytics.ts
  packages/nextjs/src/utils/decorator-utils.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, prettier --write

Lagt til origin i DecoratorParams (#3003)
  packages/nextjs/src/utils/analytics.ts
  packages/nextjs/src/utils/decorator-utils.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, prettier --write

Støtte for redaksjonell side for kontor-enheter
  packages/nextjs/src/components/pages/office-page/OfficePage.tsx
  packages/nextjs/src/components/pages/office-page/officeDetails/OfficeDetails.tsx
  packages/nextjs/src/components/pages/office-page/officeDetails/kontaktskjema/Kontaktskjema.tsx
  packages/nextjs/src/types/content-props/dynamic-page-props.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Oppdaterer fallback-tekster for chatbot
  .env.development
  packages/nextjs/src/translations/default.ts
  packages/nextjs/src/translations/en.ts
  packages/nextjs/src/translations/nn.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Lagt til tester
  packages/nextjs/src/components/pages/office-page/OfficePage.test.tsx
  packages/nextjs/src/components/pages/office-page/officePageUtils.test.ts
  packages/nextjs/src/components/pages/office-page/officePageUtils.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Endrer overskrift for chat
  packages/nextjs/src/translations/default.ts
  packages/nextjs/src/translations/en.ts
  packages/nextjs/src/translations/nn.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Reverserer utilsikter env endring
  .env.development
Due: none

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-kontakt-oss-kanal-chatalternativ--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-kontakt-oss-kanal-chatalternativ--regular-opening-hours-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-kontakt-oss-kanal-chatalternativ--with-alert-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-kontakt-oss-kanal-standardalternativ--chat-mobile-linux-mobile-linux.png
Due: none

Oppdaterer fallback-tekster for chatbot (#3010)
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-kontakt-oss-kanal-chatalternativ--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-kontakt-oss-kanal-chatalternativ--regular-opening-hours-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-kontakt-oss-kanal-chatalternativ--with-alert-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-kontakt-oss-kanal-standardalternativ--chat-mobile-linux-mobile-linux.png
  packages/nextjs/src/translations/default.ts
  packages/nextjs/src/translations/en.ts
  packages/nextjs/src/translations/nn.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

chore: mer fullstendig metrics om caching
  packages/nextjs/src/utils/fetch/fetch-content.ts
  packages/server/src/cache/page-cache-handler.ts
  packages/shared/src/metrics/page-cache-metrics.ts
  packages/shared/src/redis_local.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix, cd packages/shared && npm run lint:fix, cd packages/shared && npm run prettier:fix

Fikser cors-issue mellom oera og ansatt.dev.nav.no ved kall av json
  packages/nextjs/next.config.js
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Oppdatere til eslint 10 (#2969)
  eslint.config.mjs
  package.json
  packages/nextjs/eslint.config.mjs
  packages/nextjs/src/components/pages/office-page/office-page-header/OfficePageHeader.tsx
  packages/server/eslint.config.mjs
  packages/shared/eslint.config.mjs
  packages/shared/package.json
  packages/shared/src/constants.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, cd packages/shared && npm run lint:fix, cd packages/shared && npm run prettier:fix, prettier --write
