Repository navikt/nav-enonicxp-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix, cd packages/shared && npm run lint:fix, cd packages/shared && npm run prettier:fix, prettier --write

.lintstagedrc.json:

{
    "packages/nextjs/**/*.{js,jsx,ts,tsx}": [
        "cd packages/nextjs && npm run lint:fix",
        "cd packages/nextjs && npm run prettier:fix"
    ],
    "packages/server/**/*.{js,ts}": [
        "cd packages/server && npm run lint:fix",
        "cd packages/server && npm run prettier:fix"
    ],
    "packages/shared/**/*.{js,ts}": [
        "cd packages/shared && npm run lint:fix",
        "cd packages/shared && npm run prettier:fix"
    ],
    "**/*.{json,md,yml,yaml}": ["prettier --write"]
}

Legger til sjekk av window i tilfelle ssr senere
  packages/nextjs/src/utils/fetch/fetch-cache-content.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Oppdaterer playwright-versjon og lock-fil
  pnpm-lock.yaml
Due: prettier --write

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-card-minicardv2--hover-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-omradekort--accessibility-hovered-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-omradekort--cases-hovered-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-omradekort--employment-status-form-hovered-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-omradekort--family-hovered-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-omradekort--health-hovered-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-omradekort--payments-hovered-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-omradekort--pension-hovered-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-omradekort--social-counselling-hovered-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-omradekort--work-hovered-mobile-linux-mobile-linux.png
Due: none

Tester om ekstern-fetch fungerer bedre
  packages/nextjs/src/utils/fetch/fetch-cache-content.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Oppdaterer playwright-versjon og lock-fil
  .github/workflows/visual-changes-bot.yml
Due: prettier --write

Fikser cors
  packages/nextjs/src/utils/fetch/fetch-cache-content.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

chore: bruk pnpm node funksjonalitet (#3001)
  package.json
  pnpm-lock.yaml
Due: prettier --write

Fikse socket drop for valkey (#2994)
  packages/shared/src/redis_local.ts
Due: cd packages/shared && npm run lint:fix, cd packages/shared && npm run prettier:fix

Bytte til @navikt/next-logger (#2997)
  package.json
  packages/nextjs/next.config.js
  packages/nextjs/package.json
  packages/nextjs/src/pages/api/logger.ts
  packages/shared/package.json
  packages/shared/src/logger.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, cd packages/shared && npm run lint:fix, cd packages/shared && npm run prettier:fix, prettier --write

Lagt til origin i DecoratorParams (#3003)
  packages/nextjs/src/utils/analytics.ts
  packages/nextjs/src/utils/decorator-utils.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, prettier --write

Flytte buildid metrikk til prometheus (#2993)
  packages/server/src/metrics/request-metrics.ts
  packages/server/src/server-setup/server-setup.ts
Due: cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix

Wrappe tekst inn i html macro (#2995)
  packages/nextjs/src/components/_common/parsedHtml/ParsedHtml.tsx
  packages/nextjs/src/components/macros/MacroMapper.tsx
  packages/nextjs/src/components/macros/html-fragment/MacroHtmlFragment.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Oppdaterer fallback-tekster for chatbot (#3010)
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-kontakt-oss-kanal-chatalternativ--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-kontakt-oss-kanal-chatalternativ--regular-opening-hours-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-kontakt-oss-kanal-chatalternativ--with-alert-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-kontakt-oss-kanal-standardalternativ--chat-mobile-linux-mobile-linux.png
  packages/nextjs/src/translations/default.ts
  packages/nextjs/src/translations/en.ts
  packages/nextjs/src/translations/nn.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Add navno-xp-archive-backfill to inbound application rules
  .nais/config.yml
Due: prettier --write

Justering av varehylle på situasjonssider (#2948)
  packages/nextjs/src/components/_common/tjenesterOversiktPanel/TjenesterOversiktPanel.module.scss
  packages/nextjs/src/components/_common/tjenesterOversiktPanel/TjenesterOversiktPanel.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/fragment-utenfor-innholdsseksjon/FragmentUtenforInnholdsseksjon.tsx
  packages/nextjs/src/components/_editor-only/redaktorvarsler/varsler/fragment-utenfor-innholdsseksjon/pageContentFragmentUtenforInnholdsseksjon.tsx
  packages/nextjs/src/components/layouts/flex-cols/FlexColsLayout.module.scss
  packages/nextjs/src/components/layouts/flex-cols/SituationPageFlexColsLayout.tsx
  packages/nextjs/src/components/pages/oversikt-page/forms-list/panel/OversiktListPanel.module.scss
  packages/nextjs/src/components/pages/oversikt-page/forms-list/panel/OversiktListPanel.tsx
  packages/nextjs/src/components/parts/product-card/ProductCardPart.tsx
  packages/nextjs/src/types/component-props/layouts/situation-flex-cols.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

sjekk vekt
  packages/nextjs/src/components/pages/oversikt-page/forms-list/OversiktList.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

liten logg
  packages/nextjs/package.json
  packages/nextjs/src/components/pages/oversikt-page/forms-list/OversiktList.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, prettier --write

debug lgo
  packages/nextjs/package.json
  packages/nextjs/src/components/pages/oversikt-page/forms-list/OversiktList.tsx
  packages/nextjs/src/utils/text-search-utils.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, prettier --write

add token searcg
  packages/nextjs/src/components/pages/oversikt-page/forms-list/OversiktList.tsx
  packages/nextjs/src/utils/text-search-utils.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

debug plx
  packages/nextjs/src/utils/text-search-utils.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

test weights
  packages/nextjs/src/components/pages/oversikt-page/forms-list/OversiktList.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

lavere cutoff
  packages/nextjs/src/store/hooks/useOversiktFilters.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Oppdaterer playwright og lock-fil
  .github/workflows/visual-changes-bot.yml
  pnpm-lock.yaml
Due: prettier --write

Update GeneralPageHeader.module.scss
  packages/nextjs/src/components/_common/headers/generalPageHeader/GeneralPageHeader.module.scss
Due: none

chore: mer fullstendig metrics om caching (#3011)
  packages/nextjs/src/utils/fetch/fetch-content.ts
  packages/server/src/cache/page-cache-handler.ts
  packages/shared/src/metrics/page-cache-metrics.ts
  packages/shared/src/redis_local.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix, cd packages/shared && npm run lint:fix, cd packages/shared && npm run prettier:fix

Støtte for hidePhoneInformation og locationLabel + småfiks
  packages/nextjs/src/components/pages/office-page/OfficePage.test.tsx
  packages/nextjs/src/components/pages/office-page/OfficePage.tsx
  packages/nextjs/src/components/pages/office-page/officeDetails/OfficeDetails.tsx
  packages/nextjs/src/components/pages/office-page/officeDetails/officeInformation/OfficeInformation.tsx
  packages/nextjs/src/components/pages/office-page/officeDetails/phonePoster/PhonePoster.tsx
  packages/nextjs/src/components/pages/office-page/officeDetails/utils.test.ts
  packages/nextjs/src/components/pages/office-page/officeDetails/utils.ts
  packages/nextjs/src/components/pages/office-page/officePageUtils.ts
  packages/nextjs/src/translations/default.ts
  packages/nextjs/src/translations/en.ts
  packages/nextjs/src/translations/nn.ts
  packages/nextjs/src/types/content-props/office-details-props.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

OKONOMI og OPPFUTLAND bruker nå hidePhoneInformation, så trenger ikke egen if
  packages/nextjs/src/components/pages/office-page/officeDetails/phonePoster/PhonePoster.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Fikser tlf margin
  packages/nextjs/src/components/pages/office-page/officeDetails/phonePoster/PhonePoster.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Add azure and fetch token for revalidator proxy
  .nais/config-failover.yml
  .nais/config.yml
  packages/nextjs/nodeenv.d.ts
  packages/nextjs/src/utils/fetch/fetch-cache-key.ts
  packages/server/nodeenv.d.ts
  packages/server/src/cache/azure-token.test.ts
  packages/server/src/cache/revalidator-proxy-heartbeat.test.ts
  packages/server/src/cache/revalidator-proxy-heartbeat.ts
  packages/shared/nodeenv.d.ts
  packages/shared/src/azure-token.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix, cd packages/shared && npm run lint:fix, cd packages/shared && npm run prettier:fix, prettier --write

Endrer navning til mer generisk navngivning
  packages/shared/src/azure-token.ts
Due: cd packages/shared && npm run lint:fix, cd packages/shared && npm run prettier:fix

Fikser tlf skjuling
  packages/nextjs/src/components/pages/office-page/OfficePage.test.tsx
  packages/nextjs/src/components/pages/office-page/OfficePage.tsx
  packages/nextjs/src/components/pages/office-page/officePageUtils.test.ts
  packages/nextjs/src/components/pages/office-page/officePageUtils.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

translations
  packages/nextjs/src/translations/en.ts
  packages/nextjs/src/translations/nn.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Code setup, waiting graphics
  packages/nextjs/src/components/_common/omradekort/graphics/OmradekortGraphics.tsx
  packages/nextjs/src/components/_common/omradekort/graphics/innlogget/min-side/MinSideAnimation.module.scss
  packages/nextjs/src/components/_common/omradekort/graphics/innlogget/min-side/MinSideAnimation.tsx
  packages/nextjs/src/components/_common/omradekort/graphics/innlogget/min-side/gfx/person.svg
  packages/nextjs/src/components/_common/omradekort/graphics/innlogget/min-side/gfx/shapes.svg
  packages/nextjs/src/components/layouts/innlogget-seksjon-forside/InnloggetSeksjonForsideLayout.module.scss
  packages/nextjs/src/components/layouts/innlogget-seksjon-forside/InnloggetSeksjonForsideLayout.tsx
  packages/nextjs/src/components/parts/omradekort/OmradekortPart.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Graphics tweaks
  packages/nextjs/src/components/_common/omradekort/graphics/innlogget/min-side/MinSideAnimation.module.scss
  packages/nextjs/src/components/_common/omradekort/graphics/innlogget/min-side/MinSideAnimation.tsx
  packages/nextjs/src/components/layouts/innlogget-seksjon-forside/InnloggetSeksjonForsideLayout.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Cleanup
  packages/nextjs/src/components/layouts/innlogget-seksjon-forside/InnloggetSeksjonForsideLayout.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Fjerner overstyring av farger for masker i piktogrammer
  packages/nextjs/src/components/_common/headers/generalPageHeader/GeneralPageHeader.module.scss
Due: none

Sletter unødvendig kodekommentar
  packages/shared/src/azure-token.ts
Due: cd packages/shared && npm run lint:fix, cd packages/shared && npm run prettier:fix

Åpne for kall fra navno-xp-archive-dev3
  .nais/config.yml
Due: prettier --write

Animation
  packages/nextjs/src/components/_common/omradekort/graphics/innlogget/min-side/MinSideAnimation.module.scss
  packages/nextjs/src/components/_common/omradekort/graphics/innlogget/min-side/MinSideAnimation.tsx
  packages/nextjs/src/components/_common/omradekort/graphics/innlogget/min-side/gfx/clipboard.svg
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

adjust svg position and name, and delete unused
  packages/nextjs/src/components/_common/omradekort/graphics/innlogget/min-side/MinSideAnimation.module.scss
  packages/nextjs/src/components/_common/omradekort/graphics/innlogget/min-side/MinSideAnimation.tsx
  packages/nextjs/src/components/_common/omradekort/graphics/innlogget/min-side/gfx/clipboard.svg
  packages/nextjs/src/components/_common/omradekort/graphics/innlogget/min-side/gfx/shapes.svg
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix
