Repository navikt/nav-enonicxp-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix, cd packages/shared && npm run lint:fix, cd packages/shared && npm run prettier:fix, prettier --write

Luft mellom dato og innhold i artikkelmal (2572) (#2575)
  packages/nextjs/src/components/layouts/legacy/LegacyLayout.module.scss
  packages/nextjs/src/components/parts/_legacy/artikkel/komponenter/ArtikkelDato.module.scss
  packages/nextjs/src/components/parts/_legacy/artikkel/komponenter/ArtikkelDato.tsx
  packages/nextjs/src/components/parts/_legacy/artikkel/komponenter/NewsPressHeader.module.scss
  packages/nextjs/src/components/parts/_legacy/artikkel/komponenter/NewsPressHeader.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

hardkod ikon-farge
  packages/nextjs/src/components/pages/office-page/OfficePage.module.scss
Due: none

Kontaktskjema i egen komponent
  packages/nextjs/src/components/pages/office-page/officeDetails/OfficeDetails.module.scss
  packages/nextjs/src/components/pages/office-page/officeDetails/OfficeDetails.tsx
  packages/nextjs/src/components/pages/office-page/officeDetails/kontaktskjema/Kontaktskjema.module.scss
  packages/nextjs/src/components/pages/office-page/officeDetails/kontaktskjema/Kontaktskjema.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-office-page-officedetails--arbeidslivssenter-mobile-linux-mobile-linux.png
Due: none

LinkedIn i egen komponent
  packages/nextjs/src/components/pages/office-page/OfficePage.module.scss
  packages/nextjs/src/components/pages/office-page/OfficePage.tsx
  packages/nextjs/src/components/pages/office-page/linkedIn/LinkedIn.module.scss
  packages/nextjs/src/components/pages/office-page/linkedIn/LinkedIn.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Fix import case for LinkedIn component in OfficePage
  packages/nextjs/src/components/pages/office-page/OfficePage.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

fiks import styling
  packages/nextjs/src/components/pages/office-page/linkedIn/LinkedIn.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Add storybook stories for OversiktFiltersSummary component
  packages/nextjs/src/components/_common/oversikt-filters/summary/OversiktFiltersSummary.stories.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

next env ting
  packages/nextjs/next-env.d.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Refactor OversiktTextFilter component to remove hideLabel prop and update styles
  packages/nextjs/src/components/_common/oversikt-filters/OversiktFilters.tsx
  packages/nextjs/src/components/_common/oversikt-filters/text-filter/OversiktTextFilter.module.scss
  packages/nextjs/src/components/_common/oversikt-filters/text-filter/OversiktTextFilter.stories.tsx
  packages/nextjs/src/components/_common/oversikt-filters/text-filter/OversiktTextFilter.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

fjern flere overflødige styles
  packages/nextjs/src/components/_common/oversikt-filters/text-filter/OversiktTextFilter.module.scss
Due: none

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-oversikt-filters-summary-oversiktfilterssummary--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-oversikt-filters-summary-oversiktfilterssummary--nohits-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-oversikt-filters-text-filter-oversikttextfilter--default-mobile-linux-mobile-linux.png
Due: none

story for officepageheader
  packages/nextjs/src/components/pages/office-page/office-page-header/OfficePageHeader.stories.tsx
  packages/nextjs/src/components/pages/office-page/office-page-header/OfficePageHeader.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-office-page-office-page-header-officepageheader--default-mobile-linux-mobile-linux.png
Due: none

story LinkedIn
  packages/nextjs/src/components/pages/office-page/linkedIn/LinkedIn.stories.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-office-page-linkedin--default-mobile-linux-mobile-linux.png
Due: none

Apply suggestion from @Copilot
  packages/nextjs/src/components/_common/oversikt-filters/summary/OversiktFiltersSummary.stories.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-oversikt-filters-summary-oversiktfilterssummary--no-hits-mobile-linux-mobile-linux.png
Due: none

Sett en aktiv overskrift av gangen + fiks for automatisk scroll til hash
  packages/nextjs/src/components/_common/pageNavigationMenu/DynamicNavigation.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

skjul "Andre kontaktopplyninger" på ALS-sider
  packages/nextjs/src/components/pages/office-page/officeDetails/phonePoster/PhonePoster.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

fiks ekstra spacing
  packages/nextjs/src/components/pages/office-page/officeDetails/phonePoster/PhonePoster.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

la til dependabot.yml med cooldown
  .github/dependabot.yml
  packages/nextjs/src/components/_common/parsedHtml/__tests__/ParsedHtml.test.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, prettier --write

Delete packages/nextjs/src/components/_common/parsedHtml/__tests__/ParsedHtml.test.tsx
  packages/nextjs/src/components/_common/parsedHtml/__tests__/ParsedHtml.test.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

delvis nynorsk
  packages/nextjs/src/components/pages/office-page/officeDetails/kontaktskjema/Kontaktskjema.tsx
  packages/nextjs/src/translations/default.ts
  packages/nextjs/src/translations/nn.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Nytt design på innholdsnav
  packages/nextjs/src/components/_common/pageNavigationMenu/DynamicNavigation.module.scss
  packages/nextjs/src/components/_common/pageNavigationMenu/DynamicNavigation.tsx
  packages/nextjs/src/components/_common/pageNavigationMenu/PageNavigationMenu.module.scss
  packages/nextjs/src/components/_common/pageNavigationMenu/PageNavigationMenu.tsx
  packages/nextjs/src/components/layouts/section-with-header/SectionWithHeaderLayoutV2.module.scss
  packages/nextjs/src/translations/default.ts
  packages/nextjs/src/translations/en.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Skjul seksjonsnavigasjon på desktop
  packages/nextjs/src/components/_common/pageNavigationMenu/SectionNavigation/SectionNavigation.tsx
  packages/nextjs/src/components/layouts/innholdsside-med-meny/InnholdssideMedMeny.module.scss
  packages/nextjs/src/components/layouts/innholdsside-med-meny/InnholdssideMedMeny.tsx
  packages/nextjs/src/components/layouts/section-with-header/SectionWithHeaderLayout.module.scss
  packages/nextjs/src/components/layouts/section-with-header/SectionWithHeaderLayout.tsx
  packages/nextjs/src/components/layouts/section-with-header/SectionWithHeaderLayoutV2.module.scss
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-pagenavigationmenu--primary-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-pagenavigationmenu--secondary-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-pagenavigationmenu-sectionnavigation--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-common-pagenavigationmenu-sectionnavigation--with-content-region-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-situationpage--default-mobile-linux-mobile-linux.png
Due: none

Bruk IntersectionObserver
  packages/nextjs/src/components/_common/headers/Header.module.scss
  packages/nextjs/src/components/_common/pageNavigationMenu/DynamicNavigation.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Oppgraderer nav-dekoratoren-moduler og legger til redactPaths for testing
  package-lock.json
  package.json
  packages/nextjs/src/utils/decorator-utils.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, prettier --write

Glemte å fjerne onLinkClick fra props
  packages/nextjs/src/components/_common/pageNavigationMenu/DynamicNavigation.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Enklere setActiveAnchor logikk
  packages/nextjs/src/components/_common/pageNavigationMenu/DynamicNavigation.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

aria-hidden true
  packages/nextjs/src/components/_common/pageNavigationMenu/DynamicNavigation.tsx
  packages/nextjs/src/components/_common/pageNavigationMenu/PageNavigationMenu.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Små endringer i design
  packages/nextjs/src/components/_common/pageNavigationMenu/DynamicNavigation.module.scss
  packages/nextjs/src/components/_common/pageNavigationMenu/DynamicNavigation.tsx
  packages/nextjs/src/components/_common/pageNavigationMenu/PageNavigationMenu.module.scss
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

strict equality
  packages/nextjs/src/components/pages/office-page/officeDetails/OfficeDetails.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Lagt til Copilot-instruksjoner
  .github/copilot-instructions.md
Due: prettier --write

cleanup
  .github/copilot-instructions.md
Due: prettier --write

Fikser feil hvor expandall=true ikke lenger fungerer
  packages/nextjs/src/store/hooks/useCheckAndOpenTrekkspillPanel.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Path conditions:
  cd packages/nextjs && npm run lint:fix: any of: packages/nextjs/**/*.{js,jsx,ts,tsx}
  cd packages/nextjs && npm run prettier:fix: any of: packages/nextjs/**/*.{js,jsx,ts,tsx}
  cd packages/server && npm run lint:fix: any of: packages/server/**/*.{js,ts}
  cd packages/server && npm run prettier:fix: any of: packages/server/**/*.{js,ts}
  cd packages/shared && npm run lint:fix: any of: packages/shared/**/*.{js,ts}
  cd packages/shared && npm run prettier:fix: any of: packages/shared/**/*.{js,ts}
  prettier --write: any of: **/*.{json,md,yml,yaml}
