Repository navikt/nav-enonicxp-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, cd packages/server && npm run lint:fix, cd packages/server && npm run prettier:fix, cd packages/shared && npm run lint:fix, cd packages/shared && npm run prettier:fix, prettier --write

.lintstagedrc.json:

{
    "packages/nextjs/**/*.{js,jsx,ts,tsx}": [
        "cd packages/nextjs && npm run lint:fix",
        "cd packages/nextjs && npm run prettier:fix"
    ],
    "packages/server/**/*.{js,ts}": [
        "cd packages/server && npm run lint:fix",
        "cd packages/server && npm run prettier:fix"
    ],
    "packages/shared/**/*.{js,ts}": [
        "cd packages/shared && npm run lint:fix",
        "cd packages/shared && npm run prettier:fix"
    ],
    "**/*.{json,md,yml,yaml}": ["prettier --write"]
}

Legger inn redaktørinfo om cookies og ux signal
  packages/nextjs/src/components/parts/uxsignals-widget/UxSignalsWidgetPart.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Endrer informasjonstekst for cookies i uxwidget
  packages/nextjs/src/components/_common/uxsignalsWidget/UxSignalsWidget.tsx
  packages/nextjs/src/components/parts/uxsignals-widget/UxSignalsWidgetPart.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Fikser husky
  .husky/pre-push
  package.json
  packages/nextjs/.husky/pre-commit
  packages/server/.husky/pre-commit
  packages/shared/.husky/pre-commit
Due: prettier --write

Legger til minimumReleaseAge
  pnpm-workspace.yaml
Due: prettier --write

Legger til minimumReleaseAge
  .npmrc
Due: none

Varsel om å samtykke til cookies ved bruk av UX Signals-widget (#2767)
  packages/nextjs/src/components/_common/uxsignalsWidget/UxSignalsWidget.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Justeringer etter PR-reviews
  .github/workflows/build-image.yml
  packages/nextjs/package.json
  packages/server/package.json
  packages/shared/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

Fikser feilende husky etter at devDeps er fjernet
  package.json
Due: prettier --write

Bruker analytics-types for logging av events
  package-lock.json
  package.json
  packages/nextjs/src/components/_common/button/Button.tsx
  packages/nextjs/src/components/_common/card/useCard.tsx
  packages/nextjs/src/components/_common/copyLink/copyLink.tsx
  packages/nextjs/src/components/_common/expandable/Expandable.tsx
  packages/nextjs/src/components/_common/filter-bar/FilterBar.tsx
  packages/nextjs/src/components/_common/kontakt-oss-kanal/ChatAlternativ/ChatAlternativ.tsx
  packages/nextjs/src/components/_common/kontakt-oss-kanal/StandardAlternativ/StandardAlternativ.tsx
  packages/nextjs/src/components/_common/kontakt-oss-kanal/TelefonAlternativ/TelefonAlternativ.tsx
  packages/nextjs/src/components/_common/kontakt-oss-kanal/_shared-utils/KontaktOssKanalLenkebase/KontaktOssKanalLenkebase.tsx
  packages/nextjs/src/components/_common/lenke/lenkeBase/LenkeBase.tsx
  packages/nextjs/src/components/_common/oversikt-filters/oversikt-omradefilter/OversiktOmradeFilter.tsx
  packages/nextjs/src/components/_common/oversikt-filters/text-filter/OversiktTextFilter.tsx
  packages/nextjs/src/components/_common/overview-filters/OverviewFilters.tsx
  packages/nextjs/src/components/_common/overview-filters/area-filter/OverviewAreaFilter.tsx
  packages/nextjs/src/components/_common/overview-filters/taxonomy-filter/OverviewTaxonomyFilter.tsx
  packages/nextjs/src/components/_common/overview-filters/text-filter/OverviewTextFilter.tsx
  packages/nextjs/src/components/_common/pageNavigationMenu/NavigationLink/NavigationLink.tsx
  packages/nextjs/src/components/_common/productPanelExpandable/ProductPanelExpandable.tsx
  packages/nextjs/src/components/_common/qbrick-video/useQbrickPlayerState.tsx
  packages/nextjs/src/components/_common/trekkspill/Trekkspill.tsx
  packages/nextjs/src/components/pages/office-page/officeDetails/officeInformation/OfficeInformation.tsx
  packages/nextjs/src/components/parts/filtreringsmeny/FiltreringsmenyPart.tsx
  packages/nextjs/src/components/parts/readMorePart/ReadMorePart.tsx
  packages/nextjs/src/utils/analytics.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, prettier --write

Fikser dependabot-config
  .failover/.npmrc
  .github/dependabot.yml
  .npmrc
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

Fix Events object
  package-lock.json
  package.json
  packages/nextjs/src/utils/analytics.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix, prettier --write

Fix: Kan ikke sette inn innholdsseksjon på situasjonssider
  packages/nextjs/src/components/layouts/single-col-page/SingleColPage.module.scss
Due: none

Fix: Kan ikke sette inn innholdsseksjon på situasjonssider (#2773)
  packages/nextjs/src/components/layouts/single-col-page/SingleColPage.module.scss
Due: none

Fikser review-tilbakemeldinger
  .lintstagedrc.js
  README.md
Due: prettier --write

Endret tekst i kontaktinformasjonen for Registerforvaltning
  packages/nextjs/src/components/parts/_legacy/office-information/OfficeInformationLegacyPart.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Endret overskrift hvis det er Registerforvaltning
  packages/nextjs/src/components/parts/_legacy/office-information/OfficeInformationLegacyPart.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Endret lenke til privatperson og justert tekst
  packages/nextjs/src/components/parts/_legacy/office-information/OfficeInformationLegacyPart.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Refactor: Update SituationPage story with new structure and content
  packages/nextjs/src/components/pages/situationPage/SituationPage.stories.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-situationpage--default-mobile-linux-mobile-linux.png
Due: none

test desktop screenshot situasjonsside
  playwright.config.ts
Due: none

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-situationpage--default-desktop-linux-desktop-linux.png
Due: none

Refactor: Introduce story mocks for contact options and layout components
  packages/nextjs/src/components/pages/_storyMocks.ts
  packages/nextjs/src/components/pages/situationPage/SituationPage.stories.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Add CurrentTopicPage story with mock data and context provider
  packages/nextjs/src/components/pages/current-topic-page/CurrentTopicPage.stories.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Add ProductPage story with mock data and layout components
  packages/nextjs/src/components/pages/_storyMocks.ts
  packages/nextjs/src/components/pages/product-page/ProductPage.stories.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-current-topic-page-currenttopicpage--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-product-page-productpage--default-mobile-linux-mobile-linux.png
Due: none

Add OfficePage story with mock data and layout components
  packages/nextjs/src/components/pages/_storyMocks.ts
  packages/nextjs/src/components/pages/office-page/OfficePage.stories.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-office-page-officepage--default-mobile-linux-mobile-linux.png
Due: none

Refactor: Simplify contact options in layout mocks to use only 'call' component
  packages/nextjs/src/components/pages/_storyMocks.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-product-page-productpage--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-situationpage--default-desktop-linux-desktop-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-situationpage--default-mobile-linux-mobile-linux.png
Due: none

rename mappe pga storybook
  packages/nextjs/src/components/ContentMapper.tsx
  packages/nextjs/src/components/pages/productPage/ProductPage.module.scss
  packages/nextjs/src/components/pages/productPage/ProductPage.stories.tsx
  packages/nextjs/src/components/pages/productPage/ProductPage.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-productpage--default-mobile-linux-mobile-linux.png
Due: none

rename mappe officePage
  packages/nextjs/src/components/ContentMapper.tsx
  packages/nextjs/src/components/pages/officePage/OfficePage.module.scss
  packages/nextjs/src/components/pages/officePage/OfficePage.stories.tsx
  packages/nextjs/src/components/pages/officePage/OfficePage.tsx
  packages/nextjs/src/components/pages/officePage/linkedIn/LinkedIn.module.scss
  packages/nextjs/src/components/pages/officePage/linkedIn/LinkedIn.stories.tsx
  packages/nextjs/src/components/pages/officePage/linkedIn/LinkedIn.tsx
  packages/nextjs/src/components/pages/officePage/office-page-header/OfficePageHeader.module.scss
  packages/nextjs/src/components/pages/officePage/office-page-header/OfficePageHeader.stories.tsx
  packages/nextjs/src/components/pages/officePage/office-page-header/OfficePageHeader.tsx
  packages/nextjs/src/components/pages/officePage/officeDetails/OfficeDetails.module.scss
  packages/nextjs/src/components/pages/officePage/officeDetails/OfficeDetails.stories.tsx
  packages/nextjs/src/components/pages/officePage/officeDetails/OfficeDetails.tsx
  packages/nextjs/src/components/pages/officePage/officeDetails/kontaktskjema/Kontaktskjema.module.scss
  packages/nextjs/src/components/pages/officePage/officeDetails/kontaktskjema/Kontaktskjema.tsx
  packages/nextjs/src/components/pages/officePage/officeDetails/mockData.ts
  packages/nextjs/src/components/pages/officePage/officeDetails/officeInformation/OfficeInformation.module.scss
  packages/nextjs/src/components/pages/officePage/officeDetails/officeInformation/OfficeInformation.stories.tsx
  packages/nextjs/src/components/pages/officePage/officeDetails/officeInformation/OfficeInformation.tsx
  packages/nextjs/src/components/pages/officePage/officeDetails/phonePoster/AudienceChannels.module.scss
  packages/nextjs/src/components/pages/officePage/officeDetails/phonePoster/AudienceChannels.stories.tsx
  packages/nextjs/src/components/pages/officePage/officeDetails/phonePoster/AudienceChannels.tsx
  packages/nextjs/src/components/pages/officePage/officeDetails/phonePoster/PhonePoster.module.scss
  packages/nextjs/src/components/pages/officePage/officeDetails/phonePoster/PhonePoster.stories.tsx
  packages/nextjs/src/components/pages/officePage/officeDetails/phonePoster/PhonePoster.tsx
  packages/nextjs/src/components/pages/officePage/officeDetails/utils.ts
  packages/nextjs/src/components/parts/_legacy/office-information/OfficeInformationLegacyPart.tsx
  packages/nextjs/src/components/parts/_legacy/office-information/reception/Reception.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-office-page-officedetails-officeinformation--closed-desktop-linux-desktop-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-office-page-officedetails-officeinformation--closed-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-office-page-officedetails-officeinformation--open-desktop-linux-desktop-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-office-page-officedetails-phoneposter--default-desktop-linux-desktop-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-office-page-officedetails-phoneposter-audiencechannels--default-desktop-linux-desktop-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-office-page-officedetails-phoneposter-audiencechannels--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-officepage--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-officepage-linkedin--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-officepage-office-page-header-officepageheader--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-officepage-officedetails--arbeidslivssenter-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-officepage-officedetails--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-officepage-officedetails-officeinformation--closed-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-officepage-officedetails-officeinformation--open-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-officepage-officedetails-phoneposter--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-officepage-officedetails-phoneposter-audiencechannels--default-mobile-linux-mobile-linux.png
Due: none

rename mappe officePageHeader
  packages/nextjs/src/components/pages/officePage/officePageHeader/OfficePageHeader.module.scss
  packages/nextjs/src/components/pages/officePage/officePageHeader/OfficePageHeader.stories.tsx
  packages/nextjs/src/components/pages/officePage/officePageHeader/OfficePageHeader.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

rename mappe currentTopicPage
  packages/nextjs/src/components/ContentMapper.tsx
  packages/nextjs/src/components/_common/headers/featuredHeader/FeaturedHeader.tsx
  packages/nextjs/src/components/pages/currentTopicPage/CurrentTopicPage.module.scss
  packages/nextjs/src/components/pages/currentTopicPage/CurrentTopicPage.stories.tsx
  packages/nextjs/src/components/pages/currentTopicPage/CurrentTopicPage.tsx
  packages/nextjs/src/types/content-props/_content-common.ts
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

fix: correct import path for OfficePageHeader component
  packages/nextjs/src/components/pages/officePage/OfficePage.tsx
Due: cd packages/nextjs && npm run lint:fix, cd packages/nextjs && npm run prettier:fix

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-currenttopicpage--default-mobile-linux-mobile-linux.png
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-officepage-officepageheader--default-mobile-linux-mobile-linux.png
Due: none

legg til desktop ProductPage
  playwright.config.ts
Due: none

Update screenshots
  packages/nextjs/playwright/screenshot.spec.ts-snapshots/components-pages-productpage--default-desktop-linux-desktop-linux.png
Due: none
